<div class="billboard-campaign">
  <div class="billboard-campaign-media-wrap">
    <div class="billboard-campaign-media-inner">
      <div class="billboard-campaign-media embedded-video widescreen">
        <iframe width="853" height="480" src="//www.youtube.com/embed/VCgpSgrMmT4?list=PL8NUXJINThBVIKVSskgYHr5oBy1mC27_L&amp;modestbranding=1&amp;showinfo=0&amp;fs=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="billboard-campaign-caption">
    <p>
      Vi behöver prata <a href="https://twitter.com/search?q=%23omrasism&src=hash">#omrasism</a>. <a href="/pages/start.html">Läs mer om vårt arbete</a>
    </p>
  </div>
</div>
