<div class="take-action">
  <div class="take-action-inner">
    <div class="take-action-section take-action-section-primary">
      <ul class="take-action-list">
        <li class="take-action-list-item take-action-list-item-primary"><a href="#"><span class="icon-heart"></span>Bli medlem i Miljöpartiet</a></li>
        <li class="take-action-list-item take-action-list-item-secondary"><a href="#"><span class="icon-arrow"></span>Fler sätt att engagera dig</a></li>
      </ul>
    </div>
    <div class="take-action-section">
      <ul class="take-action-list">
        <li class="take-action-list-item take-action-list-item-primary"><a href="https://www.facebook.com/miljopartiet"><span class="icon-facebook"></span><span class="facebook-like-count">Facebook</span></a></li>
        <li class="take-action-list-item take-action-list-item-primary"><a href="https://twitter.com/miljopartiet"><span class="icon-twitter"></span>28 300 följer</a></li>
      </ul>
    </div>
  </div>
  <% if locals[:edit] %>
    <a href="#" class="edit-link-simple">Redigera</a>
  <% end %>
</div>
