<form action="#" method="post" class="newsletter-subscription">
  <label for="email">Fyll i din e-postadress</label>
  <input type="email" name="email" placeholder="Fyll i din e-postadress">
  <button type="submit" class="action action-magenta">Anmäl dig till vårt nyhetsbrev</button>
</form>
