//
// General elements
//
h1 {
  font-size: (42em/16);
  line-height: 1.1;
}

.speech-bubble {
  background: $yellow url(../images/yellow-grain.png) 100% 0 repeat-y;
  background-size: 20px 50px;
  margin-right: (145em/16);
  width: auto;

  .main {
    width: percentage(390/610);
  }

  .aside {
    width: percentage(200/610);
  }

  ul,
  p {
    width: auto;
  }
}

.vcard {
  .inner {
    padding-right: 20px;
  }

  .main,
  .aside {
    margin-top: (10em/16);
  }

  .main {
    width: percentage(320/620);
  }

  .aside {
    width: percentage(300/620);
  }
}

.conversations {
  @include clearfix;

  .article-section {
    @include clearfix;
    width: percentage(695/805);
    border-top: 1px solid $warm-grey;
  }

  .conversation,
  .details {
    margin-top: (20em/14);
  }

  .conversation {
    float: left;
    width: percentage(620/695);
    margin-right: percentage(40/695);
  }
  .details {
    float: left;
    border: none;
    padding-top: 0;
    margin-left: 0;
    margin-right: percentage(-145/695);
    width: percentage(145/695);

    .time,
    .comments {
      display: block;
    }

    .comments {
      margin-top: (12em/14);
    }

    .meta + .voting {
      border-top: 1px solid $warm-grey;
    }
  }

  .voting {
    .topic {
      margin-top: (12em/14);
    }
  }
}

// Conversation page styles for the main conversation
.body {
  .conversation {
    width: percentage(620/640);
  }

  .details {
    width: percentage(145/640);
    margin-right: percentage(-165/640);
  }
}

.labeled-list {
  width: 100%;

  .group {
    @include clearfix;
  }

  .label {
    float: left;
    text-align: left;
    width: percentage(165/970);
    margin-right: 0;
    margin-left: 0;
  }

  &.labeled-list .list,
  .list {
    @include columns(3, 20px);
    margin-top: 0;
    width: percentage(620/970);
  }
}

// This is used for IE9 and below
.labeled-list .grid {
  width: percentage(620/970);
  .container {
    margin: 0;
    width: percentage(640/620);
    .c3 {
      width: percentage(193/640);
      margin: 0 percentage(20/640) 0 0;
    }
    ul {
      margin-top: 0;
    }
  }
}

// News list
.news-posts ul.icon-list {
  width: auto;
  margin-right: (20em/18);

  a {
    margin-right: (35em/22);
  }
}

.grid {
  .container {
    width: percentage(660/640);
  }

  .column {
    &.c2 {
      width: percentage(310/660);
    }

    &.c3 {
      width: percentage(200/660);
    }
  }
}

//
// Layout
//
#wrap {
  padding-top: (40em/16);
  padding-bottom: (40em/16);
  max-width: (970em/16);
}

// In the site banner
#logo {
  width: (165em/16);
  margin: 0;

  a {
    width: (130em/16);
    height: (114em/16);

    &:hover {
      background-position: 0 ((228em/16) * -1);
    }
  }
}

#top-navigation {
  li {
    font-size: (16em/18);
    line-height: (30/16);
  }

  a {
    margin-top: (2em/16);
    padding: 0 0 0 (15em/16);
  }

  span {
    padding-right: (23em/16);
    background-position: 100% 8px;
  }

  #top-navigation li.active-trail a {
    padding-right: (25em/20);
  }
}

#top-navigation li.active-trail,
.front #top-navigation li:first-child {
  font-size: (20em/18);
}

.front #top-navigation li:first-child {
  a {
    padding-right:0;
  }

  span {
    margin-right:14px;
    background-position: 100% 15px;
    padding-right: (15em/16);
  }
}

#secondary-navigation {
  width: percentage(275/970);
  margin-top: (23em/16);
  margin-right: percentage(115/970);

  form {
    float: left;
    text-align: left;
  }

  .search {
    width: (200em/16);
    input {
      width: 100%;
    }
  }

  & > div {
    text-align: left;
    margin: - (25em/14) percentage((115/275) * -1) 0 0;
    float: right;
    width: percentage(145/275);

    a {
      line-height: (20/14);
      display: block;
    }
  }
}

//
// Navigation elements
// Breadcrumbs
#wrap > nav.breadcrumbs {
  width: auto;
  margin-left: (165em/16);
}

// Main content
#main {
  margin-left: 165px;
}

article {
  .body {
    width: percentage(640/805);

    figure {
      &.full {
        margin-right: (60em/16);
      }

      &.right {
        position: relative;
        width: percentage(310/640);
        margin-right: -55px;
        padding-top: 10px;
        border-top: 1px solid $warm-grey;

        div {
          width: 235px;
          float: left;
          margin-right: 40px;
        }

        figcaption {
          border: none;
          width: 145px;
          position: absolute;
          top: 10px;
          right: -110px;
          margin: 0;
        }
      }
    }
  }

  .body,
  .article-section,
  .article-subsection {
    & > p,
    & > ul,
    & > ol {
      margin-right: (60em/18);
    }
  }

  .lead {
    p {
      font-size: (26em/16);
      line-height: (32/26);
      margin-top: (8em/26);
    }
  }

  .illustration {
    margin-top: (30em/16);

    figure {
      & > div {
        float: left;
        width: percentage(640/805);
      }

      figcaption {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
        border:none;
      }
    }
  }

  blockquote {
    @include clearfix;
    padding-bottom: 0;
    position: relative;
    width: percentage(805/640);

    > div {
      width: percentage(485/805);
      margin-bottom: .5em;
      padding-left: 0;
      float: left;
    }

    footer {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
      padding-bottom: 1em;
      width: percentage(320/805);
      text-align: left;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 135px;
        margin: 0 0 0 0;
      }

      p {
        float: left;
        padding: 0;
        width: percentage(145/320);
        position: static;
        margin: 0 0 0 175px;
      }

      .name {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

article + article {
  h1 {
    margin-right: (115em/42);
  }
}

.article-section {
  width: percentage(640/805);

  header {
    width: percentage(695/640);
    border-top: 1px solid $warm-grey;
    border-bottom: none;
    padding: 0;

    &.vignetted {
      @include box-sizing(border-box);
      width: percentage(860/640);
      margin-left: -165px;
      padding-left: 165px;

      .vignette {
        display: block;
        font-size: (23em/16);
        position: absolute;
        top: -.5em;
        left: 0;
      }
    }
  }

  .article-subsection {
    @include box-sizing(border-box);
    width: percentage(695/640);
    padding-right: percentage(55/640);
  }

  .subsection-header {
    width: percentage(695/640);
  }

  .section-lead {
    margin-top: (20em/14);
    float: right;
    width: percentage(145/695);
    margin-right: - percentage(115/695);
  }

  .section-lead,
  .subsection-lead {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.related-topics {
  img { margin-right: 20px }
}

.topics .topic {
  margin-right: (60em/16);
}

.labeled-list-container {
  width: percentage(970/805);
  margin-left: - percentage(165/805);
}

.tabbed {
  header {
    padding: 0;
  }

  .tabs {
    margin-top: -17px;

    li {
      margin: 0;
    }

    a.action {
      font-size: (14em/18);
    }
  }
}

//
// Footer contents
//
footer nav.breadcrumbs {
  margin-right: 115px;
}

#site-navigation {
  ul {
    @include small-text;
    font-size: (14em/16);
    line-height: (18em/14);
  }

  form {
    margin-right: 185px;

    input {
      width: (220em/14);
    }
  }
}

#logo-full a {
  margin-right: (185em/18);
}

#copyright {
  margin-right: (185em/12);
}
