@import "compass";
@import "includes.css.scss";

//
// Layout
//
#wrap {
  margin: 0 18px;
}

#site-banner {
  padding-top: 18px;
}

//
// Navigational elements
//
// Site navigation is found in the bottom of the page
nav.main-navigation {
  background: $beige;

  .inner {
    padding: 0 18px;
    @include clearfix;
  }

  ul {
    margin:0;
    list-style: square;
    color: $green;
  }

  a {
    line-height: 1.5;
  }

  .sections {
    ul {
      list-style: none;
    }

    li {
      font: normal (18em/16) $swift;
      margin: 0;
      border-bottom:1px solid #fff;
    }

    a {
      margin: 0;
      display: block;
      line-height: 2.5;
      background: transparent url(../images/arrows-right.png) 100% -36px no-repeat;
      background-size: 9px 128px;

      &:hover {
        background-position: 100% -100px;
      }
    }
  }

  div.first,
  div.second {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: percentage(144/320);

    li {
      list-style: disc;
      list-style-position: inside;
      margin-left: 15px;
      white-space: nowrap;
    }

    a {
      background-image: none;
    }
  }

  div.second {
    border-left: 1px solid #fff;
  }

  form {
    display: none;
  }
}

html.svg nav.main-navigation .sections a {
  background-image: url(../images/arrows-right.svg);
}


// Expand the navigation to the window border when viewed in the footer
#site-navigation {
  position: relative;
  margin-left: -18px;
  margin-right: -18px;
}

// The top navigation and breadcrumbs is not used in the mobile view
// instead we point users to the more complete site navigation
#top-navigation,
#wrap > nav.breadcrumbs {
  display: none;
}
// This is the site navigation when activated in a mobile view
#site-top-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  &.hidden {
    display:none;
  }

  a.close {
    @include small-text;
    font-size: (13em/16);
    line-height: (14/13);
    display: block;
    text-align: right;
    clear: both;
    border-top: 1px solid #fff;

    span {
      display: block;
      padding: 16px 0;
      padding-right: 24px;
      margin-right: 15px;
      background: $beige url(../images/close.svg) 100% 50% no-repeat;
      background-size: 14px 14px;
    }
  }
}

html.svg #site-top-navigation a.close span {
  background-image: url(../images/close.svg);
}

#logo {
  float: left;
}

#secondary-navigation {
  padding-top: 12px;
  text-align: right;

  form {
    display: inline-block;
    vertical-align: top;
    margin-right: (6em/16);
  }

  .search {
    input {
      width: (120em/14);
    }
  }

  div {
    display: none;
  }
}

#skip-to-navigation {
  @include small-text;
  font-size: (13em/16);
  line-height: (17/13);
  line-height: (25em/13);
  background: $beige url(../images/arrow-down.png) 89% 50% no-repeat;
  background-size: 14px 9px;
  display: inline-block;
  border-radius: 4px;
  padding: 0 25px 0 10px;
}

html.svg #skip-to-navigation {
  background-image: url(../images/arrow-down.svg);
}

article {
  .vignette {
    display: none;
  }

  .lead p {
    margin-top: (2em/16);
  }
}

.body figure {
  margin-top: (12em/16);
}

article + article,
.article-section,
.speech-bubble {
  margin-top: (30em/16);
  margin-bottom: (30em/16);
}

.speech-bubble {
  padding: 15px;

  h2 {
    font-size: (18em/16);
  }

  ul,
  p {
    margin-top: (2em/16);
  }

  &.vcard .main,
  .aside {
    margin-top: (10em/16);
  }

  .aside li,
  &.vcard li {
    display: inline-block;
    margin-left: 0;
    margin-right: .3em;
  }
}

.topics .topic {
  h2 {
    font-size: (20em/16);
    padding-right: 0;
  }
}

.icon-list {
  li {
    a {
      margin-left: 45px;
    }

    .icon {
      width: 25px;
      margin-left: -45px;
    }
  }
}

.conversations {
  .details {
    margin-right: 0;
  }
}

.conversation {
  img {
    display: none;
  }

  .content {
    padding: 15px 20px;
  }

  .question {
    margin-right: percentage(70/510);

    .content {
      &:after {
        width: percentage(445/510);
      }
    }
  }

  .answer {
    margin-right: 0;
  }
}

#logo-full a {
  height: ((46em*(235/284))) / 16;
  background-size: (235em/16) ((46em*(235/284)) / 16);
  background-position: 0 0;
}

.labeled-list {
  &.text-labels .label {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
