@import "compass";
@import "includes.css.scss";

#skip-to-navigation {
  @include small-text;
  font-size: (13em/16);
  line-height: (17/13);
  line-height: (25em/13);
  background: $beige url(../images/arrow-down.png) 89% 50% no-repeat;
  background-size: 14px 9px;
  display: inline-block;
  border-radius: 4px;
  padding: 0 25px 0 10px;
}

html.svg #skip-to-navigation {
  background-image: url(../images/arrow-down.svg);
}

article {
  .vignette {
    display: none;
  }

  .lead p {
    margin-top: (2em/16);
  }
}

.body figure {
  margin-top: (12em/16);
}

article + article,
.article-section,
.speech-bubble {
  margin-top: (30em/16);
  margin-bottom: (30em/16);
}

.speech-bubble {
  padding: 15px;

  h2 {
    font-size: (18em/16);
  }

  ul,
  p {
    margin-top: (2em/16);
  }

  &.vcard .main,
  .aside {
    margin-top: (10em/16);
  }

  .aside li,
  &.vcard li {
    display: inline-block;
    margin-left: 0;
    margin-right: .3em;
  }
}

.topics .topic {
  h2 {
    font-size: (20em/16);
    padding-right: 0;
  }
}

.icon-list {
  li {
    a {
      margin-left: 45px;
    }

    .icon {
      width: 25px;
      margin-left: -45px;
    }
  }
}

.conversations {
  .details {
    margin-right: 0;
  }
}

.conversation {
  img {
    display: none;
  }

  .content {
    padding: 15px 20px;
  }

  .question {
    margin-right: percentage(70/510);

    .content {
      &:after {
        width: percentage(445/510);
      }
    }
  }

  .answer {
    margin-right: 0;
  }
}

#logo-full a {
  height: ((46em*(235/284))) / 16;
  background-size: (235em/16) ((46em*(235/284)) / 16);
  background-position: 0 0;
}

.labeled-list {
  &.text-labels .label {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
