@import "compass";
@import "includes.css.scss";

//
// Layout
//
#wrap {
  background: #fff;
  margin: 0 percentage(30/768) 0 0;
  padding: (30em/16) 0 (50em/16) percentage(30/768);
}

#site-banner,
#main,
#wrap > footer {
  width: (580em/16);
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: (103em/16);
  margin-right: (20em/16);
  margin-left: -(45em/16);

  a {
    height: (90em/16);
    width: (103em/16);
    background-size: 100%;

    &:hover {
      background-position: 0 ((180em/16) * -1);
    }
  }
}

#secondary-navigation {
  position: relative;
  border-bottom: 1px solid $warm-grey;
  float: right;
  padding-bottom: (8em/16);
  width: percentage(300/768);

  ul.menu {
    a {
      white-space: nowrap;
      margin-left: .2em;
      padding-left: 10px;
      background: transparent url(../images/bullet.png) 0 50% no-repeat;
      background-size: 4px 4px;

      html.svg & {
        background-image: url(../images/bullet.svg);
      }

      &:hover {
        color: $green;
      }
    }

    li:first-child a,
    .more a {
      background-image: none;
      margin-left: 0;
      padding-left: 0;

      html.svg & {
        background-image: none;
      }
    }

    .more a {
      position: absolute;
      right: 0;
      bottom: -1.8em;
      margin-right: 0;
    }
  }

  & > div {
    margin-top: (10em/16);
  }

  form {
    .suggestions {
      border-top: 1px solid $warm-grey;
    }
  }
}

article {
  .body {
    position:relative;
  }

  .body,
  .article-section,
  .article-subsection {
    & > p,
    & > ul,
    & > ol {
      margin-right: (20em/18);
    }
  }

  .lead p {
    font-size: (22em/16);
    line-height: (26/22);
    margin-top: (8em/22);
  }

  .illustration {
    margin-top: (20em/16);
  }
}

.topics .topic {
  margin-right: (20em/16);
}

.labeled-list {
  .label {
    width: 1em;
    text-align: right;
    margin: 0 0 0 ((1em + (20em/16)) * -1);
  }

  .list {
    width: 100%;
  }

  &.text-labels .label {
    text-align: left;
    margin-left: 0;
    width: 100%;
  }
}
