body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 0;
  margin: 0;
  background: #fff url(../images/bg.png) 50% 0 repeat-y;
  background-size: 3000px 25px;
}

h1,
h2 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: (24em/16);
  line-height: (26/24);

  @include respond-to(600px) {
    font-size: (33em/16);
    line-height: (35/33);
  }

  @include respond-to(768px) {
    font-size: (37em/16);
    line-height: (37em/37);
  }

  @include respond-to(1024px) {
    font-size: (42em/16);
    line-height: 1.1;
  }
}

h2 {
  margin-top: (24em/20);
  font-size: (20em/16);
  line-height: (22/20);

  @include respond-to(768px) {
    font-size: (26em/16);
    line-height: (30/26);
    margin-top: 1em;
  }
}

h3 {
  font-size: (18em/16);
  line-height: (20/18);
  margin-top: (18em/18);
  font-weight: normal;
  font-family: $swift;

  @include respond-to(768px) {
    font-size: (20em/16);
    line-height: (22/20);
  }
}

h4 {
  margin: 1em 0 -.75em 0;
  font-weight:bold;
  font-size:1em;
  line-height:(18/16);
  @extend %body-text;
}

p {
  margin-top: (12em/16);
  @extend %body-text;
}

h2,
h3 {
  + p,
  + ul,
  + ol {
    margin-top: (6em/16);

    @include respond-to(768px) {
      margin-top: (4em/18);
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-left: 1em;
}

li {
  margin: 0 0 0 1.5em;
  @extend %body-text;

  @include respond-to(600px) {
    margin-left: 0;
  }

  li {
    font-size: 1em;
  }
}

ul.horizontal {
  list-style:none;
  li {
    display:inline-block;
    margin:0 1em 0 0;
  }
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

iframe {
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

%input {
  font-family: $arial;
  font-size: (14em/16);
  line-height: 1;
  color: #000;
  border: 1px solid $warm-grey;
  padding: 10px 15px 10px 15px;
  margin: (15em/16) 0 0 0;
  @include box-sizing(border-box);
  resize: none;

  &:focus {
    border: 1px solid $warm-grey;
    outline: none;
  }

  .speech-bubble & {
    border: 1px solid #fff;
    &:focus {
      border: 1px solid $warm-grey;
    }
  }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  @extend %input;

  @include respond-to(600px) {
    width: 70%;
  }
}

textarea {
  @extend %input;
}

input[type="submit"],
input.form-submit {
  margin: 15px 0 0 0;
}

input.placeholder,
textarea.placeholder {
  @include placeholder-styles;
}

::-webkit-input-placeholder {
  @include placeholder-styles;
}
:-moz-placeholder {
  @include placeholder-styles;
}
:-ms-input-placeholder {
  @include placeholder-styles;
}

:focus::-webkit-input-placeholder {
  color: $text-light-grey;
}
:focus:-moz-placeholder {
  color: $text-light-grey;
}
:focus:-ms-input-placeholder {
  color: $text-light-grey;
}

textarea {
  width: 100%;
  line-height: (18/14);
}
button {
  margin: (15em/16) 0 0 0;
}
