.people .grid {
  img {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;

    h2 {
      margin-top: 10px;
      text-decoration: underline;
      @extend %typography-heading-small;
      color: $green;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin: 0;
      font-size: (14em/16);
      text-decoration: none;

      @include respond-to(768px) {
        font-size: (16em/16);
      }
    }
  }
}

