%typography-base-text {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
}

%typography-heading-main {
  font-family: $mp-sans;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: (33em/16);
  line-height: 1;

  @include respond-to(600px) {
    font-size: (37em/16);
  }

  @include respond-to(768px) {
    font-size: (48em/16);
  }

  @include respond-to(1024px) {
    font-size: (84em/16);
    line-height: (64/84);
  }
}

%typography-heading {
  font-family: $mp-sans;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: (20em/16);
  line-height: (22/20);

  @include respond-to(768px) {
    font-size: (44em/16);
    line-height: (30/40);
  }
}

%typography-heading-small {
  font-family: $mp-sans;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: (20em/16);
  line-height: (22/20);

  @include respond-to(768px) {
    font-size: (30em/16);
    line-height: (30/40);
  }
}


// news lists and h3?
%typography-heading-news {
}


%typography-text-lead {
  font-family: $mp-serif;
  font-size: (18em/16);
  line-height: (22/18);

  @include respond-to(600px) {
    font-size: (20em/16);
    line-height: (24/20);
  }

  @include respond-between(768px, 1023px) {
    font-size: (22em/16);
    line-height: (26/22);
    margin-top: (8em/22);
  }

  @include respond-to(1024px) {
    font-size: (32em/16);
    line-height: (35/32);
    margin-top: (8em/32);
  }
}

%typography-text-body {
  font-size: (16em/16);
  line-height: (20/16);
  @include respond-to(768px) {
    font-size: (18em/16);
    line-height: (25/18);
  }
}

%typography-text-small {
  font-family: $arial;
  font-size: (13em/16);
  line-height: (17/13);

  @include respond-to(768px) {
    font-size: (14em/16);
    line-height: (18/14);
  }
}


%typography-text-quote {
  font-family: $mp-serif;
  font-size: (18em/16);
  line-height: (22/18);
}
