@import "includes.css.scss";

@media only screen and (min-width: 1024px) {
  //
  // General elements
  //
  h1 {
    font-size: (42em/16);
    line-height: 1.1;
  }

  .speech-bubble {
    background: $yellow url(/images/yellow-grain.png) 100% 0 repeat-y;
    background-size: 20px 50px;
    padding-right: 55px;
    margin-right: (145em/16);
  }

  .article-section {
    .conversation {
      margin-right: (20em/18);
    }
  }

  .labeled-list {
    width: 100%;
    .group {
      @include clearfix;
     }
    .label {
      float: left;
      width: percentage(165/970);
      margin: 0;
    }
    .list {
      width: percentage(620/970);
      @include columns(3 20px);
    }
  }

  // News list
  .news-posts ul.icon-list {
    width: auto;
    margin-right: (20em/18);
    a {
      margin-right: (35em/22);
    }
  }

  .grid {
    .container {
      width: percentage(660/640);
    }
    .column {
      margin: (25em/16) (20em/16) 0 0;
      &.c2 {
        width: percentage(310/660);
      }
      &.c3 {
        width: percentage(200/660);
      }
    }
  }

  //
  // Layout
  //
  #wrap {
    padding-top: (40em/16);
    padding-bottom: (40em/16);
    max-width: (970em/16);
  }

  // In the site banner
  #logo {
    width: (165em/16);
    margin: 0;
    a {
      width: (130em/16);
      height: (114em/16);
      &:hover {
        background-position: 0 ((228em/16) * -1);
      }
    }
  }

  #top-navigation {
    li {
      font-size: (16em/18);
      line-height: (30/16);
    }
    a {
      margin-top: (2em/16);
      padding: 0 0 0 (15em/16);
    }
    span {
      padding-right: (23em/16);
      background-position: 100% 8px;
    }
    li.active-trail {
      font-size: (20em/18);
      a {
        padding-right: (25em/20);
      }
    }
  }

  #secondary-navigation {
    width: percentage(275/970);
    margin-top: (23em/16);
    margin-right: percentage(115/970);
    form {
      float: left;
      text-align: left;
    }
    .search {
      width: (200em/16);
      input {
        width: 100%;
      }
    }
    div {
      text-align: left;
      margin: - (25em/14) percentage((115/275) * -1) 0 0;
      float: right;
      width: percentage(145/275);
      a {
        line-height: (20/14);
        display: block;
      }
    }
  }

  //
  // Navigation elements
  // Breadcrumbs
  #wrap > nav.breadcrumbs {
    width: auto;
    margin-left: (165em/16);
  }

  // Main content
  #main {
    margin-left: 165px;
  }

  article {
    .body {
      width: percentage(640/805);
    }

    .lead {
      p {
        margin-top: (12em/26);
        font-size: (26em/16);
        line-height: (32/26);
      }
    }

    .illustration {
      margin-top: 30px;
      figcaption {
        margin: 0;
      }
    }

    p,
    ul,
    ol {
      width: percentage(585/640);
    }

    blockquote {
      overflow: visible;
      width: percentage(805/640);

      > p {
        width: percentage(585/805);
        margin-bottom: .5em;
        padding-left: 0;
      }

      footer {
        width: percentage(145/805);
        float: right;
        text-align: left;

        p {
          position: static;
          padding: 0;
        }

        img {
          float: none;
          width: auto;
          margin: -100% 0 1em 0;
        }

        a {
          display: block;
        }
      }
    }

    figure {
      & > div {
        float: left;
        width: percentage(640/805);
      }

      figcaption {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
        border:none;
      }
    }
  }

  article + article {
    h1 {
      margin-right: (115em/42);
    }

  }

  .article-section {
    width: percentage(640/805);

    header {
      width: percentage(695/640);
      border-top: 1px solid #ccc;
      border-bottom: none;
      padding: 0;
      &.vignetted {
        @include box-sizing(border-box);
        width: percentage(860/640);
        margin-left: -165px;
        padding-left: 165px;
        .vignette {
          display: block;
          font-size: (23em/16);
          position: absolute;
          top: -.5em;
          left: 0;
        }
      }
    }

    .article-subsection {
      @include box-sizing(border-box);
      width: percentage(695/640);
      padding-right: percentage(55/640);
    }
    .subsection-header {
      width: percentage(695/640);
    }

    .section-lead {
      margin-top: (20em/14);
      float: right;
      width: percentage(145/695);
      margin-right: - percentage(115/695);
    }
  }

  #topics {
    width: percentage(970/805);
    margin-left: - percentage(165/805);
  }

  //
  // Footer contents
  //
  footer nav.breadcrumbs {
    margin-right: 115px;
  }

  #site-navigation {
    ul {
      @include small-text;
      font-size: (14em/16);
      line-height: (18em/14);
    }
    form {
      margin-right: 185px;
      input {
        width: (220em/14);
      }
    }
  }

  #logo-full {
    margin-right: (185em/18);
  }

  #copyright {
    @include box-sizing(border-box);
    margin-right: (185em/12);
  }
}
