@import "includes.css.scss";

figure:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear:both;
}

@media only screen and (min-width: 768px) {

  // TYPOGRAPHY
  p,
  li {
    font-size: (18em/16);
    line-height: (26/18);
    li, p {
      font-size: 1em;
    }
  }
  h1 {
    font-size: (41em/16);
    line-height: (41em/40);
    color: $green;
    .vignette {
      font-size: (16em/48);
    }
  }
  h2 {
    margin-top: 1em;
    font-size: (26em/16);
    line-height: (30/26);
    .vignette {
      font-size: (14em/26);
      line-height: (18/14);
    }
  }
  .lead {
    p {
      margin-top: (12em/25);
      font-size: (26em/16);
      line-height: (30/25);
    }
  }
  
  figure {
    img {
      float: left;
      margin-right: 20px; 
    }
  }
  
  // LAYOUT
  
  body {
    padding-top: (40em/16);
    background: #fff url(/images/bg.gif) 50% 0 repeat-y;
  }
  
  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: percentage(160/940);
  }
  
  #wrap {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
  }
  
  header[role="banner"] {
    margin-bottom: (80em/16);
  }
  
  #logo a {
    height:90px;
    width:103px;
  }
  
  body.topic_page {
    article {
      margin-left: percentage(135/940);
    }
    h1,
    .body {
      width: percentage(620/805);
    }
    .illustration {
      margin-top: 30px;
    }
    blockquote {
      width: percentage(805/620);
      p {
        width: percentage(620/805);
      }
      footer {
        width: percentage(145/805);
        float: right;
      }
    }
    .share {
      width: percentage(785/620);
      margin-left: -1.25em;
    }
  }
  
  // ARTICLE SECTION
  .article-section {
    header {
      margin-left: percentage(-135/940);
      padding-left: percentage(135/940);
    }
    h2 {
      font-size: (41em/16);
      line-height: (41/41);
    }
    .section-lead {
      font-size: (13em/16);
      line-height: (16/13);
    }
    .vignette {
      position: absolute;
      left: 0;
      top: 0;
      font-size: (23em/41);
      line-height: (23/23);
    }
  }
}