@import "includes.css.scss";

@media only screen and (min-width: 1024px) {
  /* Typography */
  /*
  p,
  li {
    font-size: (18em/16);
    line-height: (26/18);
    li,
    p {
      font-size: 1em;
    }
  }
  */

  h1 {
    font-size: (42em/16);
    line-height: 1.1;

    /*
    .vignette {
      font-size: (16em/48);
    }
    */
  }

  h2 {
    margin-top: 1em;
    font-size: (26em/16);
    line-height: (30/26);
    /*
    .vignette {
      font-size: (14em/26);
      line-height: (18/14);
    }
    */
  }

  .lead {
    p {
      margin-top: (12em/26);
      font-size: (26em/16);
      line-height: (32/26);
    }
  }

  blockquote {
    &>p {
      font-size: (26em/16);
      line-height: (28/26);
    }
  }

  article {
    .body,
    .article-section {
      > p,
      > ul,
      > ol {
        font-size: (18em/16);
        line-height: (26/18);
      }
    }
  }

  .share {
    h2 {
      font-size: (22em/16);
      line-height: (26/22);
    }

    p {
      font-size: (18em/16);
      line-height: (26/18);
    }
  }

  .article-section {
    .section-lead,
    .subsection-lead {
      font-size: (13em/16);
      line-height: (16/13);
    }

    .vignette {
      font-size: (23em/41);
    }

    h3 {
      font-size: (26em/16);
      line-height: (30/26);
    }
  }

  .conversation {
    .byline {
      font-size: (14em/16);
      line-height: (18/14);
    }

    .question {
      .content {
        p {
          font-size: (22em/16);
          line-height: (24/22);
        }
      }
    }

    .answer {
      .content {
        p {
          line-height: (20/16);
        }
      }
    }
  }

  #feedback {
    h2 {
      font-size: (22em/16);
      line-height: (24/22);
    }

    p {
      font-size: (18em/16);
      line-height: (24/18);
    }
  }


  /* Layout */
  body {
    padding-top: (40em/16);
    background: #fff url(/images/bg.gif) 50% 0 repeat-y;
  }

  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: percentage(160/940);
  }

  #wrap {
    max-width: 940px;
  }

  header[role="banner"] {
    margin-bottom: (80em/16);
  }

  #logo a {
    height: 90px;
    width: 103px;
  }

  article {
    margin-left: percentage(135/940);

    .body,
    .article-section {
      width: percentage(620/805);
    }

    .illustration {
      margin-top: 30px;
    }

    p,
    ul,
    ol {
      width: percentage(585/620);
    }

    blockquote {
      overflow: visible;
      width: percentage(805/620);

      > p {
        width: percentage(620/805);
        margin-bottom: .5em;
      }

      footer {
        width: percentage(145/805);
        float: right;

        p {
          position: static;
        }

        img {
          float: none;
          width: auto;
          margin-top: -100%;
          margin-bottom: 1em;
        }

        a {
          display: block;
        }
      }
    }

    .share {
      margin-left: -1.25em;
    }

    figure {
      &>div {
        float: left;
        width: percentage(640/805);
      }

      figcaption {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
        border:none;
      }
    }

    .article-section {
      header {
        width: percentage(695/620);
        border-top: 1px solid #ccc;
        border-bottom: none;
        .section-lead {
          margin-top: (20em/13);
          float: right;
          width: percentage(145/695);
          margin-right: - percentage(115/695);

        }
      }
      .subsection-header {
        width: percentage(695/620);
      }
      .vignette {
        position: absolute;
        left: 0;
        top: 2.5em;
      }
    }
  }
}
