@import "includes.css.scss";

@media only screen and (min-width: 1024px) {
// Typography
  h1 {
    font-size: (42em/16);
    line-height: 1.1;
  }

  h2 {
    margin-top: 1em;
    font-size: (26em/16);
    line-height: (30/26);
    /*
    .vignette {
      font-size: (14em/26);
      line-height: (18/14);
    }
    */
  }

  .lead {
    p {
      margin-top: (12em/26);
      font-size: (26em/16);
      line-height: (32/26);
    }
  }

  blockquote {
    &>p {
      font-size: (26em/16);
      line-height: (28/26);
    }
    footer p {
      font-size: (14em/13);
      line-height: (18/14);
    }
  }

  figure {
    figcaption {
      font-size: (14em/16);
      line-height: (18/14);
    }
  }

  .share {
    h2 {
      font-size: (22em/16);
      line-height: (26/22);
    }

    p {
      line-height: (26/18);
    }
  }

  .article-section {
    .section-lead,
    .subsection-lead {
      font-size: (14em/16);
      line-height: (18/14);
    }

    .vignette {
      font-size: (23em/41);
    }

    h3 {
      font-size: (26em/16);
      line-height: (30/26);
    }
  }

  #feedback {
    h2 {
      font-size: (22em/16);
      line-height: (24/22);
    }

    p {
      line-height: (24/18);
    }
  }

  nav[role="site"] {
    ul {
      @include small-text((14em/16), (17/13));
    }
  }


  /* Layout */
  body {
    padding-top: (40em/16);
    background: transparent url(/images/bg.gif) 50% 0 repeat-y;
  }

  #wrap {
    max-width: 970px;
    & > nav[role="breadcrumbs"] {
      width: auto;
      margin: 0 0 0 165px;
    }
  }

  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: 165px;
  }

  header[role="banner"] {
    margin-bottom: (80em/16);
  }

  #main {
    margin-left: 165px;
  }

  #logo a {
    width: 133px;
    height: 116px;
  }

  article {
    .body,
    .article-section {
      width: percentage(640/805);
    }

    .illustration {
      margin-top: 30px;
      figcaption {
        margin: 0;
      }
    }

    p,
    ul,
    ol {
      width: percentage(585/640);
    }

    blockquote {
      overflow: visible;
      width: percentage(805/640);

      > p {
        width: percentage(585/805);
        margin-bottom: .5em;
        padding-left: 0;
      }

      footer {
        width: percentage(145/805);
        float: right;

        p {
          position: static;
        }

        img {
          float: none;
          width: auto;
          margin-top: -100%;
          margin-bottom: 1em;
        }

        a {
          display: block;
        }
      }
    }

    .share {
      margin-left: -1.25em;
    }

    figure {
      &>div {
        float: left;
        width: percentage(640/805);
      }

      figcaption {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
        border:none;
      }
    }

    .article-section {
      header {
        width: percentage(695/640);
        border-top: 1px solid #ccc;
        border-bottom: none;
        .section-lead {
          margin-top: (20em/13);
          float: right;
          width: percentage(145/695);
          margin-right: - percentage(115/695);
        }

        &.vignetted {
          @include box-sizing(border-box);
          width: percentage(860/640);
          margin-left: -165px;
          padding-left: 165px;
          .vignette {
            display: block;
            font-size: (23em/16);
            position: absolute;
            top: -.5em;
            left: 0;
          }
        }
      }

      .article-subsection {
        @include box-sizing(border-box);
        width: percentage(695/640);
        padding-right: percentage(55/640);
      }
      .subsection-header {
        width: percentage(695/640);
      }

    }
  }

  footer nav[role="breadcrumbs"] {
    margin-right: 115px;
  }
  nav[role="site"] {
    form {
      margin-right: 185px;
    }
  }
}
