@import "includes.css.scss";

@media only screen and (min-width: 920px) {
  /* Typography */
  /*
  p,
  li {
    font-size: (18em/16);
    line-height: (26/18);
    li, 
    p {
      font-size: 1em;
    }
  }
  */

  h1 {
    font-size: (41em/16);
    line-height: (41em/41);
    /*
    .vignette {
      font-size: (16em/48);
    }
    */
  }

  h2 {
    margin-top: 1em;
    font-size: (26em/16);
    line-height: (30/26);
    /*
    .vignette {
      font-size: (14em/26);
      line-height: (18/14);
    }
    */
  }

  .lead {
    p {
      margin-top: (12em/25);
      font-size: (26em/16);
      line-height: (30/26);
    }
  }
  
  blockquote {
    &>p {
      font-size: (26em/16);
      line-height: (28/26);
    }
  }
  
  article {
    .body {
      > p,
      > ul,
      > ol {
        font-size: (18em/16);
        line-height: (26/18);
      }
    }
  }

  .article-section {
    h2 {
      font-size: (41em/16);
      line-height: (41/41);
    }
    
    .section-lead,
    .subsection-lead {
      font-size: (13em/16);
      line-height: (16/13);
    }
    
    .vignette {
      font-size: (23em/41);
    }
    
    h3 {
      font-size: (26em/16);
      line-height: (30/26);
    }
  }

  .conversation {
    .byline {
      font-size: (14em/16);
      line-height: (18/14);
    }
  
    .question {
      .content {
        p {
          font-size: (22em/16);
          line-height: (24/22);
        }
      }
    }

    .answer {
      .content {
        p {
          line-height: (20/16);
        }
      }
    }
  }
  
  .related-topics {
    h3 {
      font-size: (22em/16);
      line-height: (24/22);
    }
  }


  /* Layout */
  body {
    padding-top: (40em/16);
    background: #fff url(/images/bg.gif) 50% 0 repeat-y;
  }
  
  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: percentage(160/940);
  }
  
  #wrap {
    max-width: 940px;
  }
  
  header[role="banner"] {
    margin-bottom: (80em/16);
  }
  
  #logo a {
    height: 90px;
    width: 103px;
  }
  
  article {
    margin-left: percentage(135/940);

    h1,
    .body,
    .article-section {
      width: percentage(620/805);
    }

    .illustration {
      margin-top: 30px;
    }

    blockquote {
      width: percentage(805/620);

      p {
        width: percentage(620/805);
      }

      footer {
        padding-top: 0.8em;
        width: percentage(145/805);
        float: right;

        img {
          margin-top: -100%;
          margin-bottom: 1em;  
        }

        a {
          display: block;
        }
      }
    }
    
    .share {
      width: percentage(785/620);
      margin-left: -1.25em;
    }

    figure {
      &>div {
        float: left;
        width: percentage(640/805);
      }

      figcaption {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
      }
    }

    .article-section {
      header {
        width: percentage(695/620);
        margin-left: percentage(-135/620);
        padding-left: percentage(135/620);
      }
      h2 {
        width: percentage(620/695);
      }
      .subsection-header {
        width: percentage(695/620);
      }
      .vignette {
        position: absolute;
        left: 0;
        top: 2.5em;
      }
    }
    
    .related-topics {
      li {
        width: 31%;
        margin-left: 3%;
        
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}