@import "compass";
@import "includes.css.scss";

@import "600";
@import "768";
@import "1024";

// PNG replacements
body {
  background: #fff url(../images/bg-1x.png) 50% 0 repeat-y;
  font-size: 16px;
}

#logo a {
  background: transparent url(../images/logo-1x.png) 0 0 no-repeat;
}

#logo-full a {
  background: transparent url(../images/logo-full-1x.png) 100% 0 no-repeat;
}

nav.breadcrumbs a {
  background: url(../images/breadcrumb-slash-1x.png) 100% 50% no-repeat;
}

.search button {
  background: transparent url(../images/search-1x.png) 0 0 no-repeat;
}

.article-section .vignette {
  background: transparent url(../images/bg-vignette-1x.png) 0 0 no-repeat;
}

ul.calendar .icon {
  background: transparent url(../images/calendar-1x.png) 0 50% no-repeat !important;
}

#copyright {
  background: transparent url(../images/cc-1x.png) 0 2px no-repeat;
}

.topics {
  h2,
  h3 {
    .number {
      background: transparent url(../images/bg-vignette-1x.png) 0 0 no-repeat;
    }
  }
}

#top-navigation {
  span {
    background: transparent url(../images/arrows-right-1x.png) 100% 6px no-repeat;
  }
}

// Inline block fixes
.inline-block-fix {
  zoom: 1;
  *display: inline;
}
.conversations .details .results {
  b,
  .meter,
  .meter span {
    @extend .inline-block-fix;
  }
}

.labeled-list .list a,
#cookies a.action,
.grid .column,
.action,
#top-navigation a {
  @extend .inline-block-fix;
}

// Layout

#wrap {
  width: 970px;
}
#main {
  zoom: 1;
}

img {
	width: auto\9; /* ie8 */
}
