// COLOR PALETTE

$yellow: #ffe900;
$green: #339933;

$text_grey: #666;
$text_light_grey: #767676;
$text_warm_grey: #bcb8b2;

$warm_grey: #f7f3ed;

$link-color:         $green;
$link-hover-color:   #1c8437;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color: #2a2a2a;
$font-family: georgia, "Times New Roman", times, serif;
$swift: 'SwiftNeueLTW01-BlackCon 776385', georgia, "Times New Roman", times, serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

