
// COLOR PALETTE

$yellow: #ffe900;
$green: #2b912c;
$green-dark: #00730a;
$beige: #f5f3ee;

$text-grey: #666;
$text-light-grey: #888;
$text-medium-grey: #767676;
$text-warm-grey: #bcb8b2;

$warm-grey: #ddd;

$link-color: $green;
$link-hover-color: #1c8437;
$link-focus-color: false;
$link-active-color: false;
$link-visited-color: false;

$red: rgb(196, 18, 48);

$font-color: #2a2a2a;
$font-family: georgia, "Times New Roman", times, serif;
$swift: "SwiftNeueLTW01-BlackCon 776385", georgia, "Times New Roman", times, serif;
$helvetica: "Helvetica Neue", helvetica, arial;
$arial: arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

@mixin small-text($color: $text-light-grey) {
  font-family: $arial;
  color: $text-light-grey;
}

@mixin placeholder-styles {
  color: $text-warm-grey;
}

@mixin columns($count, $gap) {
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-gap : $gap;
  column-count: $count;
  column-gap: $gap;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}

@mixin respond-to($point, $fallback: true, $query1: min, $query2: width) {
  @if $supportsMediaQueries == true {
    @media screen and (#{$query1}-#{$query2}: $point) {
      @content;
    }
  } @else if $fallback {
    @content;
  }
}

@mixin respond-between($from, $to, $fallback: true) {
  @if $supportsMediaQueries == true {
    @media screen and (min-width: $from) and (max-width: $to) {
      @content;
    }
  } @else if $fallback {
    @content;
  }
}


// Placeholders for positioned section elements

%centered-section {
  @include respond-between(600px, 767px) {
    width: (520em/16);
    margin-right: auto;
    margin-left: auto;
  }
}
