@import "includes.css.scss";

@media only screen and (min-width: 320px) {
/* Typography */
    
  .article-section {
    .vignette {
      font-size: (13em/18);
    }
    
    .section-lead,
    .subsection-lead {
      font-size: (14em/16);
    }
  }

  .conversation {
    .byline {
      font-size: (12em/16);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
/* Layout */
  /*
  #wrap {
    background: rgba(0, 255, 0, .1);    
  }
  */
  
  blockquote {
    overflow: hidden;

    img {
      float: left;
      width: 15%;
      margin: 0 .5em 0 0;
    }
    .name {
      display: block;
    }
  }

  article {    
    .vignette {
      float: right;
      margin-top: -1em;
    }

    figcaption {
      margin-top: .5em;
    }
  }
  
  .conversation {
    img {
      display: none;
    }
    
    .question {
      margin-right: percentage(70/510);

      .content {
        padding-bottom: 1.08em;
        background: $yellow;
      
        &:after {
          width: percentage(445/510);
        }
      }
    }

    .answer {
      margin-right: 0;
    }
  }
}