@import "includes.css.scss";

@media only screen and (min-width: 320px) {
/* Typography */
    
  .article-section {
    .vignette {
      font-size: (13em/18);
    }
    
    .section-lead,
    .subsection-lead {
      font-size: (14em/16);
    }
  }

  .conversation {
    .byline {
      font-size: (12em/16);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Layout */

  #skip-to-navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 988;
    background: $beige;
    padding: .2em .4em;
    color:rgb(188, 185, 178);
    
  }

  nav[role="navigation"] {
    width: 100%;
    background: $beige;
  }
    
  #top-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    &.active {
      @include transition(margin-top, 0.35s, ease-in-out);
      margin-top:0px;
    }
    &.inactive {
      @include transition(margin-top, 0.2s, ease-out);
    }

    ul,li {
      padding:0;
      margin:0;
      list-style:none;
    }
    a {
      display:block;
      border-bottom:1px solid #fff;
      line-height: 2.5;
      padding:0 1em;
      font-weight:bold;
      &.close {
        text-align:right;
        font-size:.8em;
        font-weight:normal;
        color:rgb(188, 185, 178);
      }
    }
  }



  blockquote {
    overflow: hidden;

    img {
      float: left;
      width: 15%;
      margin: 0 .5em 0 0;
    }
    .name {
      display: block;
    }
  }

  article {    
    .vignette {
      float: right;
      margin-top: -1em;
    }

    figcaption {
      margin-top: .5em;
    }
  }
  
  .conversation {
    img {
      display: none;
    }
    
    .question {
      margin-right: percentage(70/510);

      .content {
        padding-bottom: 1.08em;
        background: $yellow;
      
        &:after {
          width: percentage(445/510);
        }
      }
    }

    .answer {
      margin-right: 0;
    }
  }

  #feedback {
    
    h2,
    p {
      display: inline;
    }
  }
}
