@import "includes.css.scss";

@media only screen and (min-width: 320px) {
  blockquote {
    overflow: hidden;
    footer {
      @include clearfix;
      text-align: right;
      position: relative;
      p {
        position: absolute;
        bottom: .5em;
        left: 0;
        width: percentage(246/320);
      }
    }
    img {
      float: right;
      width: percentage(45/320);
      margin: 0 percentage(6/320) 0 percentage(13/320);
    }
  }

  .grid {
    .container {
      width: percentage(304/284);
    }
    .column {
      margin: 0 (20em/16) (25em/16) 0;
      &.c2,
      &.c3 {
        width: percentage(132/304);
      }
    }
  }


  #wrap > footer {
    margin-top: (80em/16);
  }

  .labeled-list {
    .group {
      @include clearfix;
    }
    .label {
      float: left;
      width: percentage(75/284);
      margin-right: percentage(15/284);
    }
    .list {
      margin-top: (10em/16);
      float: left;
      width: percentage(194/284);
    }
  }

  // TODO: Fix header margins
  .tabbed {
    header {
      padding: 0;
      margin-top: 56px;
      margin-bottom: 56px;
    }
    .article-subsection {
      border: none;
    }
    .tabs {
      margin-bottom: -14px;
      li {
        margin: 0;
      }
      a.action {
        font-size: (12em/16);
        margin-right: (20em/12);
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  //
  // Layout
  //
  #wrap {
    margin: 0 18px;
  }

  #site-banner {
    padding-top: 18px;
  }

  //
  // Navigational elements
  //
  // Site navigation is found in the bottom of the page
  nav.main-navigation {
    background: $beige;
    .inner {
      padding: 0 18px;
    }
    ul {
      margin:0;
      list-style: square;
      color: $green;
    }
    a {
      line-height: 1.5;
    }
    .sections {
      ul {
        list-style: none;
      }
      li {
        font: normal (18em/16) $swift;
        margin: 0;
        border-bottom:1px solid #fff;
      }
      a {
        margin: 0;
        display: block;
        line-height: 2.5;
        background: transparent url(/images/arrows-right.svg) 100% -36px no-repeat;
        &:hover {
          background-position: 100% -100px;
        }
      }
    }
    .first,
    .second {
      margin-top: 15px;
      margin-bottom: 15px;
      float: left;
      width: percentage(144/320);
      li {
        list-style: disc;
        list-style-position: inside;
        margin-left: 15px;
        white-space: nowrap;
      }
      a {
        background-image: none;
      }
    }
    .second {
      border-left: 1px solid #fff;
    }
    form {
      display: none;
    }
  }
  // Expand the navigation to the window border when viewed in the footer
  #site-navigation {
    position: relative;
    margin-left: -18px;
    margin-right: -18px;
  }

  // The top navigation and breadcrumbs is not used in the mobile view
  // instead we point users to the more complete site navigation
  #top-navigation,
  #wrap > nav.breadcrumbs {
    display: none;
  }
  // This is the site navigation when activated in a mobile view
  #site-top-navigation {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding-bottom: 15px;

    &.active {
      @include transition(margin-top 0.35s ease-in-out);
      margin-top: 0px;
    }
    &.inactive {
      @include transition(margin-top 0.2s ease-out);
    }
    a.close {
      @include small-text;
      font-size: (13em/16);
      line-height: (14/13);
      display: block;
      text-align: right;
      clear: both;
      border-top: 1px solid #fff;
      padding: (14em/13) 0;
      span {
        display: block;
        padding-right: 24px;
        margin-right: 15px;
        background: $beige url(/images/close.svg) 100% 50% no-repeat;
        background-size: (14em/13) (14em/13);
      }
    }
  }

  #logo {
    float: left;
  }

  #secondary-navigation {
    padding-top: 12px;
    text-align: right;
    form {
      display: inline-block;
      vertical-align: top;
      margin-right: (6em/16);
    }
    .search {
      input {
        width: (120em/14);
      }
    }
    div {
      display: none;
    }
  }
    #skip-to-navigation {
      @include small-text;
      font-size: (13em/16);
      line-height: (17/13);
      line-height: (25em/13);
      background: $beige url(/images/arrow-down.svg) 89% 50% no-repeat;
      background-size: (14em/13) (9em/13);
      display: inline-block;
      border-radius: 4px;
      padding: 0 25px 0 10px;
    }

  article {
    .vignette {
      display: none;
    }
    .lead p {
      margin-top: (2em/16);
    }

  }

  article + article,
  .article-section,
  .speech-bubble {
    margin-top: (30em/16);
    margin-bottom: (30em/16);
  }

  .speech-bubble {
    padding: 15px 20px;
    h2 {
      font-size: (18em/16);
    }
    ul,
    p {
      margin-top: (2em/16);
    }
    .aside {
      margin-top: (10em/16);
      ul li {
        display: inline-block;
        margin-left: 0;
        margin-right: .3em;
      }
    }
  }

  .topics .topic {
    h2 {
      font-size: (20em/16);
      padding-right: 0;
    }
  }
  .conversation {
    img {
      display: none;
    }

    .content {
      padding: 15px 20px;
    }

    .question {
      margin-right: percentage(70/510);

      .content {
        padding-bottom: 1.08em;
        background: $yellow;

        &:after {
          width: percentage(445/510);
        }
      }
    }

    .answer {
      margin-right: 0;
    }
  }

  #logo-full {
    height: ((46em*(235/284))) / 16;
    background-size: (235em/16) ((46em*(235/284)) / 16);
  }

  .labeled-list {
    &.text-labels .label {
      float: none;
      width: 100%;
      margin-right: 0;
    }
  }

}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: (33em/16);
    line-height: (35/33);
  }

  ul {
    li {
      margin-left: 0;
    }
  }

  article .lead p {
    font-size: (20em/16);
    line-height: (24/20);
  }
  .body {
    figure {
      margin-top: (20em/16);
      &.right {
        float: right;
        width: percentage(240/600);
        margin: (10em/16) 0 (10em/16) (20em/16);
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {

  #wrap {
    background: #fff;
    margin: 0 (20em/16) 0 0;
    padding: (20em/16) 0 0 (20em/16);
  }

  #site-banner,
  #main,
  nav.breadcrumbs,
  nav.main-navigation .inner {
    width: (520em/16);
    margin-right: auto;
    margin-left: auto;
  }
  #site-banner,
  #secondary-navigation {
    padding-top: 0;
  }
  nav.main-navigation .inner {
    padding: 0;
  }
  // TODO generalize the different breadcrumbs layouts
  #wrap > nav.breadcrumbs {
    border: none;
    display: block;
    margin-bottom: (10em/16);
  }

  .labeled-list {
    .group {
      padding-top: (10em/16);
    }
    .label {
      float: none;
      width: 100%;
    }
    .list {
      margin-top: (10em/16);
      float: none;
      width: 100%;
      @include columns(2, 20px);
    }
  }

  #logo-full {
    width: (520em/16);
    height: (46em/18);
    background-size: (284em/18) (46em/18);
  }

  .grid {
    .container {
      width: percentage(540/520);
    }
    .column {
      &.c2,
      &.c3 {
        width: percentage(250/540);
      }
    }
  }
}
