@import "includes.css.scss";

@media only screen and (min-width: 320px) {
/* Typography */
    
  .article-section {
    .vignette {
      font-size: (13em/18);
    }
    
    .section-lead {
      font-size: (14em/16);
      
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
/* Layout */
  #wrap {
    background: rgba(0, 255, 0, .1);    
  }
  
  blockquote {
    overflow: hidden;

    img {
      float: left;
      width: 15%;
      margin: 0 .5em 0 0;
    }
    .name {
      display: block;
    }
  }

  article {    
    .vignette {
      float: right;
      margin-top: -1em;
    }

    figcaption {
      width: 100%;
      margin-top: .5em;
      padding-bottom: .5em;
      padding-right: percentage(20/768);
      border-bottom: 1px solid $warm-grey;
    }
  }
}