@import "includes.css.scss";

@media only screen and (min-width: 320px) {
/* Typography */

  .article-section {

    .section-lead,
    .subsection-lead {
      line-height: (17/13);
    }
  }

  .conversation {
    .byline {
      font-size: (12em/16);
    }
  }

  /* Layout */

  blockquote {
    overflow: hidden;
    padding-bottom: 0;
    p {
      padding-left: 1em;
    }
    footer {
      text-align: right;
      position: relative;
      @include clear-me;
      p {
        position: absolute;
        bottom: .5em;
        left: 0;
        width: percentage(246/320);
      }
    }
    img {
      float: right;
      width: percentage(45/320);
      margin: 0 percentage(6/320) 0 percentage(13/320);
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Layout */
  #wrap {
    margin: 0 15px;
  }

  #skip-to-navigation {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 988;
    background: $beige;
    padding: .2em .4em;
    color:rgb(188, 185, 178);

  }

  nav[role="site"] {
    width: 100%;
    background: $beige;
    padding-bottom: 15px;
    ul {
      margin:0;
      list-style: square;
    }
    a {
      line-height: 1.5;
    }
    .sections {
      font: normal (18em/16) $swift;
      li {
        margin:0;
      }
      list-style:none;
      a {
        padding:0 (15em/16);
        display: block;
        line-height: 2.5;
        border-bottom:1px solid #fff;
      }
    }
    .first,
    .second {
      margin-top: 15px;
      list-style-position: inside;
      float: left;
      width: percentage(144/320);
      li {
        margin-left: 15px;
        white-space:nowrap;
      }
    }
    .first {
    }
    .second {
      border-left: 1px solid #fff;
    }
    form {
      display:none;
    }
  }

  #main-navigation {
    display: none;
  }

  #top-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    &.active {
      @include transition(margin-top 0.35s ease-in-out);
      margin-top:0px;
    }
    &.inactive {
      @include transition(margin-top 0.2s ease-out);
    }
    a.close {
      display: block;
      text-align: right;
      font-size: .8em;
      font-weight: normal;
      color: rgb(188, 185, 178);
      clear: both;
      padding-right: 15px;

    }
  }

  nav[role="breadcrumbs"] {
    display: none;
  }


  article {
    .vignette {
      display: none;
    }

    figcaption {
      margin-top: .5em;
    }
  }

  .conversation {
    img {
      display: none;
    }

    .question {
      margin-right: percentage(70/510);

      .content {
        padding-bottom: 1.08em;
        background: $yellow;

        &:after {
          width: percentage(445/510);
        }
      }
    }

    .answer {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  #wrap {
    margin: 0;
  }

  header[role="banner"],
  #main {
    width: percentage(480/600);
    margin: 0 auto;
  }
}
