@import "compass";
@import "includes.css.scss";
@include global-reset;

/* Clearing */
nav[role="site"]:after,
.topics li:after,
figure:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* Generic */
body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 1.5em 0;
  background: #fff url(/images/bg_grain.gif) 50% 0 repeat-y;
  background-size: 3000px 25px;
}

h1 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  font-size: (24em/16);
  line-height: 1.1;
}

h2 {
  margin-top: (24em/18);
  font-family: $swift;
  font-weight: normal;
  font-size: (18em/16);
  line-height: (24/18);
}

h3 {
  margin-top: (18em/16);
  font-weight: bold;
}

h4 {
  margin: 1em 0 -.75em 0;
}

p {
  margin-top: (12em/16);
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

li {
  margin: 0 0 0 1.5em;
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

//
// General purpose content types
//
// Media files
.embedded-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;

  &.widescreen {
    padding-bottom: 57.25%;
  }
  &.vimeo {
    padding-top: 0;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Captions for media files
figure figcaption {
  padding-bottom: .5em;
  border-bottom: 1px solid $warm-grey;
  @include small-text((13em/16), (18/14));

  strong,
  b {
    color: $text-grey;
  }
}
// Lists with icons or images
.icon-list {
  margin-top: (30em/18);
  list-style: none;
  li {
    margin:0;
    a {
      display:block;
      margin: 0 0 (20em/22) 55px;
      font-size: (22em/18);
      line-height: (24em/22);
      font-family: $swift;
      .meta {
        font-family: $arial;
        font-size: (14em/22);
        line-height: (18em/14);
        color: $text-grey;
        display: block;
      }
    }
    .icon {
      display: block;
      width: 35px;
      margin-left: -55px;
      float: left;
    }
  }
}

// FIXME: terrible class name
// How should we handle generic smaller paragraphs
p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}

//
// Layout
//
#wrap {
  position: relative;
  margin: 0 auto;
}

header[role="banner"] {
  position: relative;
}

#logo {
  margin-bottom: (20em/16);
  width: 80px;
  a {
    display: block;
    text-indent: -9999px;
    height: 50px;
    width: 57px;
    background: transparent url(/images/logo.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}

#logo-full {
  background: transparent url(/images/logo-full.svg) 100% 0 no-repeat;
  text-indent: -9999em;
}

// Navigation elements

// Breadcrumbs
// Can be found both in the top of the page
// and in the page footer
nav[role="breadcrumbs"] {
  display: block;
  p {
    @include small-text((13em/16), (18/13));
    margin: 0;
  }
  a,
  span {
    position: relative;
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    padding-right: (20em/13);
    margin-right: (5em/13);
    background: url(/images/breadcrumb-slash.svg) 100% 50% no-repeat;
    background-size: (11em/13) (18em/13);
  }
}

footer nav[role="breadcrumbs"] {
  border-top: 1px solid $warm-grey;
  padding-top: 10px;
  margin-bottom: 15px;
}

form.search {
  position: relative;
  input {
    font-size: (14em/16);
    background: $beige;
    background-size: (15em/14) (15em/14);
    border: 1px solid $beige;
    padding: 3px 20px 3px 5px;
    margin: 0;
    @include box-sizing(border-box);
    border-radius: 4px;
    &:focus {
      outline: none;
      border: 1px solid $warm-grey;
    }
  }
  button {
    text-indent: -9999em;
    border: none;
    padding: 0;
    font-size: 1em;
    width: (15em/16);
    height: (15em/16);
    background: transparent url(/images/search.svg) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
      background-image: url(/images/search-hover.svg);
    }
  }
}

//
// Article contents
//
article h1 {
  color: $green;
}
// Page lead
.lead p {
  margin-top: (12em/18);
  font-size: (18em/16);
  line-height: (22/18);
}

blockquote {
  margin-top: (20em/16);
  margin-bottom: (20em/16);
  border-bottom: 1px solid $warm-grey;
  padding: (10em/16) 0;
  color: $text-warm-grey;

  & > p {
    margin-top: (12em/16);
    font-family: $swift;
    font-size: (18em/16);
    line-height: (22/18);

    &:first-child {
      margin-top: 0;
    }
  }

  footer {
    @include small-text;
    .title {
      color: $text-light-grey;
    }
  }
}
// Main image
.illustration {
  margin-top: (12em/16);
}

.share {
  background: $yellow;
  margin-top: (40em/20);
  padding: 1.25em;
  border-radius: 4px;

  h2 {
    margin-top: 0;
  }

  p {
    display: inline;
    margin-top: (6em/16);
  }

  a {
    color: $font-color;
    text-decoration: underline;
  }
}

//
// Article sections after the main content
//
.article-section {
  margin-top: (60em/16);

  header {
    border-bottom: 1px solid $warm-grey;
    margin-bottom: -1px;
    position: relative;
    padding: 0 0 0.2em 0;
  }

  h2 {
    font-size: (26em/16);

    a.topic {
      display: block;
      font-size: (20em/26);
      line-height: (30/20);
      text-transform: uppercase;
    }
  }

  h3 {
    font-weight: normal;
    font-family: $swift;
  }

  a.more:before {
    content: "+ ";
  }

  .vignette {
    width: (69em/23);
    height: (62em/23);
    padding: (18em/23) 0 0 (22em/23);
    background: transparent url(/images/bg-vignette.svg) 0 0 no-repeat;
    background-size: 100%;
    font-family: $swift;
    line-height: 1em;
    color: #fff;
    text-transform: none;
  }

  .section-lead {
    margin-top: 0.5em;
    @include small-text;
  }

   // Subsections
  .article-subsection {
    margin-top: 2.5em;
    border-top: 1px solid $warm-grey;

    &:first-child {
      margin-top: 0;
    }
  }

    header + .article-subsection {
      border-top: none;
      margin-top: 0;
    }

    .subsection-header {
      padding: 0 0 0.4em 0;
      border-bottom: 1px solid $warm-grey;

      h3,
      .subsection-lead {
        display: inline;
      }
    }

    .subsection-lead {
      margin-left: .5em;
      @include small-text;
    }

  &.related-topics {
    h2 {
      font-size: (22em/16);
    }
  }

  // Lists of related articles
  &.deepening {
    h2 {
      font-size: (20em/16);
      line-height: (22/20);
    }

    p {
      margin-top: (6em/16);
    }
  }
}

// Add calendar style icons to the icon list
// in the calendar subsection
.calendar .icon-list {
  .icon {
    text-align:center;
    text-indent: -.3em;
    color: #fff;
    font-size: (18em/22);
    background: transparent url(/images/calendar.svg) 0 50% no-repeat;
    background-size: (39em/18) (46em/18);
    line-height:(51em/18);
    width: (39em/18);
    height: (46em/18);
  }
}

.conversation {
  list-style: none;
  margin: 1em 0 0 0;
  padding: (23em/16) 0;

  .content {
    position: relative;
    z-index: 1;
    padding: 0.75em 1em;

    p:first-child {
      margin: 0;
    }
  }

  .byline {
    @include small-text;

    p {
      position: absolute;
      margin: 0;
    }

    img {
      position: absolute;
      bottom: (-23em/16);
    }

    .arrow {
      position: absolute;
      width: 0;
      font-size: 0;
      line-height: 0;
      bottom: 0;
      border-top: 25px solid transparent;
    }
  }

  .question {
    position: relative;
    z-index: 2;
    margin-bottom: -.75em;
    margin-right: percentage(110/620);

    .content {
      padding-bottom: 1.08em;
      background: $yellow;
      border-radius: 3px 3px 3px 0;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: percentage(441/510);
        height: .75em;
        content: "";
        background: rgba(0, 0, 0, .04);
        border-radius: 3px 0 3px 0;
      }

      p {
        font-family: $swift;
      }
    }

    .byline {
      p {
        top: (-23em/16);
      }

      img {
        left: percentage(-75/510);
      }

      .arrow {
        left: percentage(-24/620);
        border-top: 25px solid transparent;
        border-right: 25px solid $yellow;
      }
    }
  }

  .answer {
    position: relative;
    margin-left: percentage(70/620);
    margin-right: percentage(75/620);

    .content {
      background: $beige;
      border-radius: 3px 3px 0 3px;
      padding-top: 1.08em;

      p {
        line-height: (20/16);
      }
    }

    .byline {
      p {
        bottom: (-23em/16);
      }

      img {
        right: percentage(-80/510);
      }

      .arrow {
        right: percentage(-24/620);
        border-left: 25px solid $beige;
      }
    }
  }
}

.related-topics {
  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
  }
  img {
    float: right;
    margin: 0.75em 0 5px 5px;
  }
}

.labeled-list {
  list-style: none;
  margin: 0;
  .group {
    border-top: 1px solid $warm-grey;
    padding: (20em/16) 0 0 0;
    margin: (20em/16) 0 0 0;
  }
  .label {
    font: bold (26em/16)/(28/26) $swift;
    color: #000;
  }
  .list {
    margin: 0;
    list-style: disc;
  }
}

#feedback {
  @include small-text;
}

#copyright {
  padding-left: (35em/12);
  background: transparent url(/images/cc.svg) 0 50% no-repeat;
  background-size: (20em/12) (20em/12);
}
