@import "compass";
@import "compass/reset";
@import "includes";

@import "drupal_reset";

@import "fonts";
@import "typography";

@import "elements";
@import "globals/framework";

@import "components/sections";
@import "components/vignettes";
@import "components/buttons";

@import "grid";
@import "icon-list";
@import "labeled-list";
@import "navigation";
@import "breadcrumbs";
@import "search";
@import "speech-bubble";
@import "illustration";
@import "article";
@import "news-posts";
@import "tabs";
@import "topics";
@import "conversations";
@import "people";
@import "header";
@import "footer";

input + div.description {
  margin-top: .3em;
}

#wrap input.share {
  border: none;
  margin-top: 0;
  padding: 3px 7px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.6);
}

.fetch-more {
  margin-top: (20em/16);
}

p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}


//
// Layout
//
#wrap {
  position: relative;
  margin: 1.5em auto 0 auto;
  padding-bottom: (40em/16);

  @include respond-between(600px, 767px) {
    background: #fff;
    padding-top: (20em/16);
  }

  @include respond-between(768px, 1023px) {
    background: #fff;
    padding: (30em/16) 0 (50em/16) 0;
  }

  @include respond-to(1024px) {
    margin-top:0;
    padding-top: (40em/16);
    padding-bottom: (40em/16);
  }
}

// Related conversations on a conversation permalink
header.intro + .conversations {
  .article-section:first-child {
    margin-top: (40em/16);
    border-top: none;

    .conversation {
      margin-top: 0
    }
  }
}

div.comments {
  margin-top: 20px;

  @include respond-to(1024px) {
    margin-right: 20px;
  }
}

.front .article-section.news-posts {
  margin-top: 30px;
}

// jQuery UI
.ui-tabs-hide {
  display: none;
}
.ui-tabs-nav .ui-state-active a {
  background: $green-dark;
}
