@import "compass";
@import "includes.css.scss";
@include global-reset;

.topics li:after,
blockquote small:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear:both;
}

body {
  font-family: $font-family;
  color: $font-color;
  font-size:1em;
  line-height:1.125;
  padding:1.5em 15px 1.5em 15px;
}

h1, h2 {
  font-weight:normal;
}

h1 {
  margin:0;
  font-family:$swift;
  font-size:(24em/16);
  line-height:1;
  color:#000;
  .vignette {
    margin-bottom:(2em/14);
    font-size:(14em/24);
    line-height:1;
  }
}

h2 {
  margin-top:(24em/18);
  font-family:$swift;
  font-size:(18em/16);
  line-height:(24/18);
  .vignette {
    margin-bottom:(3em/16);
    font-size:(14em/18);
    line-height:1;
  }
}

h3 {
  margin-top:(18em/16);
  font-weight:bold;
}

p {
  margin-top:(12em/16);
}

img {
  max-width:100%;
}

small {
  font-size:(14em/16);
  line-height:(18/14);
}

ul {
  list-style:disc;
  margin-top:(12em/16);
}
li {
  margin:(8em/16) 0 0 1.5em;
}

blockquote {
  margin-top:(40em/16);
  border-top:1px solid $grey;
  border-bottom:1px solid $grey;
  padding:(10em/16) 0 (10em/16) 0;
  color:$grey;
  p {
    margin-top:(12em/16);
    font-size:(26em/16);
    line-height:(28/26);
    font-family:$swift;
  }
  p:first-child {
    margin-top:0;
  }
  small {
    display:block;
    margin-top:(30em/14);
    img {
      float:left;
      margin:(-16em/14) 10px 0 0;
    }
  }
}

sup {
  vertical-align: super;
  font-size:.7em;
}

b, strong {
  font-weight:bold;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

.lead {
  p {
    margin-top:(12em/18);
    font-size:(18em/16);
    line-height:(22/18);
  }
}

.vignette {
  display:block;
  text-transform:uppercase;
  color:#aaa;
  font-family:"Helvetica Neue", helvetica, sans-serif;
  letter-spacing:.1em;
}

.topics {
  ul {list-style:none;}
  li {margin-left:0;}
  img {
    float:right;
    margin:0 0 10px 10px;
  }
}


.contact {
  ul {list-style: none;}
  li {margin-left:0;}
}

.breadcrumbs {
  display:block;
  margin-bottom:(12em/14);
  font-size:(14em/16);
  font-family:"Helvetica Neue", helvetica, sans-serif;
  letter-spacing:.1em;
  color:#aaa;
}

.poi ul li {
  a { display: inline; }
  p { display: block; }
}

.images {
  margin-top: .6em;
}

.illustration {
  margin-top:(12em/16);
}

#logo {
  a {
    display:block;
    text-indent:-9999px;
    height:90px;
    width:103px;
    background:transparent url(/images/logo.svg) 0 0 no-repeat;
    background-size:100%;
  }
}
nav[role="navigation"] {
  ul {
    margin:(10em/16) 0 0 0;
    list-style:none;
  }
  li {
    margin:0;
    font-size:(16em/16);
    line-height:1;
  }
  a {
    display:inline-block;
    margin-top:(2em/16);
    padding:(7em/16) (25em/16) (7em/16) (15em/16);
    background:$yellow;
    text-decoration:none;
    font-family:$swift;
    &:hover {
      background:$green;
      color:#fff;
    }
  }
  li.current {
    a {
      margin-left:-1em;
      padding:(12.5em/20) (25em/20) (12.5em/20) 1em;
      font-size:(20em/16);
      line-height:1;
      background:$green;
      color:#fff;
    }
  }
}

#wrap {
  margin:40px;
}
