@import "compass";
@import "includes.css.scss";
@include global-reset;

/* Clearing */
nav[role="site"]:after,
.topics li:after,
figure:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* Generic */
body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 1.5em 0;
}

h1 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  font-size: (24em/16);
  line-height: 1.1;
  color: $green;
  /*
  .vignette {
    margin-bottom: (2em/14);
    font-size: (14em/24);
    line-height: 1;
  }
  */
}

h2 {
  margin-top: (24em/18);
  font-family: $swift;
  font-weight: normal;
  font-size: (18em/16);
  line-height: (24/18);
  /*
  .vignette {
    margin-bottom: (3em/16);
    font-size: (14em/18);
    line-height: 1;
  }
  */
}

h3 {
  margin-top: (18em/16);
  font-weight: bold;
}

h4 {
  margin: 1em 0 -.75em 0;
}

p {
  margin-top: (12em/16);
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

li {
  /*
  margin: (8em/16) 0 0 1.5em;
  */
  margin: 0 0 0 1.5em;
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

/* Logo */
#logo {
  margin-bottom: (20em/16);

  a {
    display: block;
    text-indent: -9999px;
    height: 50px;
    width: 57px;
    background: transparent url(/images/logo.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}

/* Layout */
#wrap {
  position: relative;
  margin: 0 auto;
}

header[role="banner"],
#main {
  margin: 0 15px;

}

/* Blockquote */
blockquote {
  margin-top: (20em/16);
  margin-bottom: (20em/16);
  border-top: 1px solid $warm-grey;
  border-bottom: 1px solid $warm-grey;
  padding: (10em/16) 0;
  color: $text-warm-grey;

  &>p {
    margin-top: (12em/16);
    font-family: $swift;
    font-size: (18em/16);
    line-height: (22/18);

    &:first-child {
      margin-top: 0;
    }
  }

  footer {
    font-family: $arial;
    p {
      font-size: (14em/16);
      line-height: (18/14);
    }
    .name {
      font-weight: bold;
      color: $text-grey;
    }
    .title {
      color: $text-medium-grey;
    }
  }
}


/* Captions */
figure figcaption {
  padding-bottom: .5em;
  border-bottom: 1px solid $warm-grey;
  font-family: $arial;
  font-size: (14em/16);
  line-height: (18/14);
  color: $text-medium-grey;

  strong,
  b {
    color: $text-grey;
  }
}

/* Page lead */
.lead {
  p {
    margin-top: (12em/18);
    font-size: (18em/16);
    line-height: (22/18);
  }
}

/*
.vignette {
  display: block;
  text-transform: uppercase;
  color: $text-medium-grey;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  letter-spacing: .1em;
}
*/

/*
.contact {
  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
  }
}
*/

/* Breadcrumbs */
.breadcrumbs {
  display: block;
  margin-bottom: (12em/14);
  font-size: (14em/16);
  font-family: "Helvetica Neue", helvetica, sans-serif;
  letter-spacing: .1em;
  color: #aaa;
}

/*
.poi ul li {
  a { display: inline; }
  p { display: block; }
}

.images {
  margin-top: .6em;
}
*/

.embedded-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;

  &.widescreen {
    padding-bottom: 57.25%;
  }
  &.vimeo {
    padding-top: 0;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Main image */
.illustration {
  margin-top: (12em/16);
}

/* Share */
.share {
  background: $yellow;
  margin-top: (40em/20);
  padding: 1.25em;
  border-radius: 4px;

  h2 {
    display: inline;
    margin-top: 0;
  }

  p {
    display: inline;
    margin-top: (6em/16);
  }

  a {
    color: $font-color;
    text-decoration: underline;
  }
}

/* Deepening */
.deepening {
  h2 {
    margin-top: (40em/20);
    font-size: (20em/16);
    line-height: (22/20);
  }

  p {
    margin-top: (6em/16);
  }
}

/* Article section */
.article-section {
  margin-top: (60em/16);

  header {
    border-bottom: 1px solid $warm-grey;
    margin-bottom: -1px;
    position: relative;
    padding: 0 0 0.2em 0;
  }

  h2 {
    font-size: (26em/16);

    a.topic {
      display:block;
      font-size: (18em/26);
      margin-bottom:.5em;
    }
  }

  h3 {
    font-weight: normal;
    font-family: $swift;
  }

  a.more:before {
    content: "+ ";
  }

  .vignette {
    width: (69em/23);
    height: (62em/23);
    padding: (18em/23) 0 0 (22em/23);
    background: transparent url(/images/bg-vignette.svg) 0 0 no-repeat;
    background-size: 100%;
    font-family: $swift;
    line-height: 1em;
    color: #fff;
    text-transform: none;
  }

  .section-lead {
    margin-top: 0.5em;
    font-family: $arial;
    color: $text-light-grey;
  }

  .article-subsection {
    margin-top: 2.5em;
    border-top: 1px solid $warm-grey;

    &:first-child {
      margin-top: 0;
    }
  }

  header + .article-subsection {
    border-top: none;
    margin-top: 0;
  }

  .subsection-header {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid $warm-grey;

    h3,
    .subsection-lead {
      display: inline;
    }
  }

  .subsection-lead {
    margin-left: .5em;
    font-family: $arial;
    color: $text-light-grey;
  }

  .hidden {
    position: absolute;
    left: -9999px;
  }

  &.related-topics {
    h2 {
      font-size: (22em/16);
    }

    .vignette {
      top: .5em;
    }
  }
}

/* TODO: Make this generic */
.news-blocks,
.calendar {
  ul {
    margin-top: (30em/16);
    list-style: none;
  }
  li {
    margin:0;
    a {
      display:block;
      margin: 0 0 (20em/22) 55px;
      font-size: (22em/16);
      font-family: $swift;
      .meta {
        font-family: $font-family;
        font-size: (14em/22);
        color: $text-grey;
        display: block;
      }
    }
    .label {
      display: block;
      width: 35px;
      margin-left: -55px;
      float: left;
    }
  }
}
.calendar {
  .label {
    text-align:center;
    text-indent: -.2em;
    color: #fff;
    background: transparent url(/images/calendar.svg) 0 50% no-repeat;
    font-size: (16.25em/22);
    line-height:(43em/16.25);
    background-size: (35em/16.25) (42.5em/16.25);
    height: (42.5em/16.25);
  }
}

.conversation {
  list-style: none;
  margin: 1em 0 0 0;
  padding: (23em/16) 0;

  .content {
    position: relative;
    z-index: 1;
    padding: 0.75em 1em;

    p:first-child {
      margin: 0;
    }
  }

  .byline {
    font-family: $arial;
    color: $text-light-grey;

    p {
      position: absolute;
      margin: 0;
    }

    img {
      position: absolute;
      bottom: (-23em/16);
    }

    .arrow {
      position: absolute;
      width: 0;
      font-size: 0;
      line-height: 0;
      bottom: 0;
      border-top: 25px solid transparent;
    }
  }

  .question {
    position: relative;
    z-index: 2;
    margin-bottom: -.75em;
    margin-right: percentage(110/620);

    .content {
      padding-bottom: 1.08em;
      background: $yellow;
      border-radius: 3px 3px 3px 0;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: percentage(441/510);
        height: .75em;
        content: "";
        background: rgba(0, 0, 0, .04);
        border-radius: 3px 0 3px 0;
      }

      p {
        font-family: $swift;
      }
    }

    .byline {
      p {
        top: (-23em/16);
      }

      img {
        left: percentage(-75/510);
      }

      .arrow {
        left: percentage(-24/620);
        border-top: 25px solid transparent;
        border-right: 25px solid $yellow;
      }
    }
  }

  .answer {
    position: relative;
    margin-left: percentage(70/620);
    margin-right: percentage(75/620);

    .content {
      background: $beige;
      border-radius: 3px 3px 0 3px;
      padding-top: 1.08em;

      p {
        line-height: (20/16);
      }
    }

    .byline {
      p {
        bottom: (-23em/16);
      }

      img {
        right: percentage(-80/510);
      }

      .arrow {
        right: percentage(-24/620);
        border-left: 25px solid $beige;
      }
    }
  }
}

.related-topics {
  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
  }
  img {
    float: right;
    margin: 0.75em 0 5px 5px;
  }
}

#feedback {
  margin: 2em 0 0 0;
  background: #f7f3eb;
  padding: 1.25em;
  border-radius: 4px;

  h2 {
    margin: 0;
    font-family: $swift;
    font-weight: normal;
  }

  p {
    margin: 0;
  }
}
