@import "compass";
@import "includes.css.scss";
@include global-reset;

// Generic
body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 0;
  margin: 0;
  background: #fff url(/images/bg.png) 50% 0 repeat-y;
  background-size: 3000px 25px;
}

h1,
h2 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  font-size: (24em/16);
  line-height: (26/24);
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: (24em/24);
}

h3 {
  font-size: (18em/16);
  line-height: (20/18);
  margin-top: (18em/18);
  font-weight: bold;
}

h4 {
  margin: 1em 0 -.75em 0;
}

p {
  margin-top: (12em/16);
}

h2 {
  & + p,
  & + ul,
  & + ol {
    margin-top: (4em/16);
  }
}

h3 {
  & + p,
  & + ul,
  & + ol {
    margin-top: 0;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

li {
  margin: 0 0 0 1.5em;
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

iframe {
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

#{$all-text-inputs},
textarea {
  font-family: $arial;
  font-size: (14em/16);
  line-height: 1;
  color: #000;
  border: 1px solid #fff;
  padding: 10px 15px 10px 15px;
  margin: (15em/16) 0 0 0;
  @include box-sizing(border-box);
  width: 70%;
  resize: none;
  &:focus {
    border: 1px solid $warm-grey;
    outline: none;
  }
}

::-webkit-input-placeholder {
  @include placeholder-styles;
}
:-moz-placeholder {
  @include placeholder-styles;
}
:-ms-input-placeholder {
  @include placeholder-styles;
}
:focus::-webkit-input-placeholder {
  color: $text-light-grey;
}
:focus:-moz-placeholder {
  color: $text-light-grey;
}
:focus:-ms-input-placeholder {
  color: $text-light-grey;
}

textarea {
  width: 100%;
  line-height: (18/14);
}
button {
  margin: (15em/16) 0 0 0;
}

#wrap input.share {
  border: none;
  padding: 3px 7px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.6);
}

// Basic grid using inline block
// The container's width must be equal to column widths + column margins
.grid {
  overflow: hidden;
  .container {
    margin-top: (20em/16);
  }
  .column {
    display: inline-block;
    vertical-align: top;
    margin-bottom: (20em/16);
  }
}

//
// General purpose content types
//
// Media files
.embedded-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;

  &.widescreen {
    padding-bottom: 57.25%;
  }
  &.vimeo {
    padding-top: 0;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Captions for media files
figure {
  @include clearfix;
}

figcaption {
  border-bottom: 1px solid $warm-grey;
  @include small-text;
  font-size: (13em/16);
  line-height: (18/13);
  margin-top: (10em/13);
  padding-bottom: .2em;

  strong,
  b {
    color: $text-grey;
  }
}
// Lists with icons or images
.icon-list {
  margin-top: (20em/16);
  list-style: none;
  li {
    margin:0;
    font-family: $swift;
    font-size: (20em/16);
    a {
      text-decoration: none;
      display: block;
      line-height: (22em/20);
      margin: 0 0 (10em/20) 55px;
      .meta {
        font-family: $arial;
        font-size: (13em/20);
        line-height: (18em/13);
        color: $text-grey;
        display: block;
        margin-top: (2em/13);
      }
    }
    .icon {
      display: block;
      width: 35px;
      margin-left: -55px;
      float: left;
    }
  }
}

.fetch-more {
  margin-top: (20em/16);
}
// Button like action links
.action {
  font: (14em/16) $arial;
  line-height: (30/14);
  background: $green;
  color: #fff;
  padding: 0 (18em/14);
  border-radius: (15em/14);
  white-space: nowrap;
  display: inline-block;
}
.action a,
a.action,
.ui-tabs-nav a
{
  text-decoration: none;
  &:hover {
    background: $green-dark;
    color: #fff;
  }
}
.ui-tabs-nav .ui-state-active a {
  background: $green-dark;
}
button.action {
  color: #fff;
  border: none;
  padding: (8em/14) (30em/14);
  &:hover {
    background: $green-dark;
    cursor: pointer;
  }
  &:active {
    background: #fff;
    color: $green;
  }
}
// FIXME: terrible class name
// How should we handle generic smaller paragraphs
p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}

blockquote {
  margin-top: (30em/16);
  margin-bottom: (30em/16);
  border-bottom: 1px solid $warm-grey;
  color: $text-warm-grey;

  & > p {
    font-family: $swift;
    font-size: (18em/16);
    line-height: (22/18);
    margin-top: (12em/16);
    margin-left: 1em;

    &:first-child {
      position: relative;
      margin-top: 0;
      &:before {
        content: "â€";
        font-family: $swift;
        font-size: (24em/16);
        line-height: 1;
        position: absolute;
        top: .15em;
        left: -.69em;
        text-rendering: optimizeLegibility;
      }
    }
  }

  footer {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    .title {
      color: $text-light-grey;
    }
  }
}

//
// Layout
//
#wrap {
  position: relative;
  margin: 1.5em auto 0 auto;
}

#site-banner {
  @include clearfix;
  position: relative;
  margin-bottom: (20em/16);
}

#logo {
  width: 57px;

  a {
    display: block;
    text-indent: -9999px;
    width: 65px;
    height: 57px;
    background: transparent url(/images/logo.svg) 0 0 no-repeat;
    background-size: 100%;
    &:hover {
      background-position: 0 -114px;
    }
  }
}

#logo-full {
  background: transparent url(/images/logo-full.svg) 100% 0 no-repeat;
  text-indent: -9999em;
  margin: (20em/16) 0 (40em/16) 0;
  a {
    display: block;
  }
}

// Navigation elements

#site-navigation {
  @include clearfix;
}
#secondary-navigation {
  ul,
  li { display: inline; }
  li {
    font-size: (14em/16);
  }
}
// Breadcrumbs
// Can be found both in the top of the page
// and in the page footer
nav.breadcrumbs {
  display: block;
  p {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin: 0;
  }
  a,
  span {
    color: $text-light-grey;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    padding-right: (20em/13);
    margin-right: (5em/13);
    background: url(/images/breadcrumb-slash.svg) 100% 50% no-repeat;
    background-size: (11em/13) (18em/13);
    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }
}

footer nav.breadcrumbs {
  border-top: 1px solid $warm-grey;
  padding-top: 10px;
  margin-bottom: 15px;
}

.search {
  position: relative;
  input {
    width: 100%;
    background: $beige;
    border: 1px solid $beige;
    padding: 3px 20px 3px 5px;
    margin: 0;
    border-radius: 4px;
    @include box-sizing(border-box);
    &:focus {
      border: 1px solid $warm-grey;
    }
  }
  button {
    text-indent: -9999em;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: (15em/16);
    height: (15em/16);
    background: transparent url(/images/search.svg) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
      background-position: 0 ((50em/16) * -1);
    }
  }
}

.speech-bubble {
	position: relative;
  background: $yellow;
  padding: 20px 25px;
  margin: (60em/16) 0;
  border-radius: 4px 4px 4px 0;
  @include box-sizing(border-box);
  &:after {
    content:"";
    position:absolute;
    bottom: 0;
    left: -20px;
    border-width: 0 0 20px 21px;
    border-style: solid;
    border-color: $yellow transparent;
  }
  .inner {
    @include clearfix;
  }
  h2 {
    margin-top: 0;
  }
  p,
  ul {
    margin-top: (2em/18);
  }
  input {
    background: #fff;
  }
  li {
    margin-left: 1em;
  }
  .aside {
    margin-top: 1em;
  }
  .position-me {
    margin-top: 15px;
    text-align: center;
    .choose {
      margin-top: (8em/14);
      display: block;
      font-family: $arial;
      font-size: (14em/16);
    }
  }
}

//
// Article contents
//
article {
  h1 {
    color: $green;
  }
  p a,
  li > a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  // Main image
  .illustration {
    margin-top: (12em/16);
  }

  // Page lead
  .lead p {
    font-size: (18em/16);
    line-height: (22/18);
    margin-top: (8em/18);
  }
}

article + article {
  margin-top: 40px;
  h1 {
    padding-top: 20px;
    border-top: 1px solid $warm-grey;
    color: #000;
  }
}

// Article sections after the main content
.article-section {
  margin-top: (60em/16);

  header {
    border-bottom: 1px solid $warm-grey;
    margin-bottom: -1px;
    position: relative;
    padding: 0 0 0.2em 0;
  }
  // FIXME: This won't work
  //& + *,
  //header + * {
  //  margin-top: 20px;
  //}

  h2 {
    a.topic {
      display: block;
      font-size: (18em/24);
      line-height: (25/18);
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      letter-spacing: 0.06em;
    }
  }

  h3 {
    font-weight: normal;
    font-family: $swift;
  }

  .vignette {
    width: (69em/23);
    height: (62em/23);
    padding: (18em/23) 0 0 (22em/23);
    background: transparent url(/images/bg-vignette.svg) 0 0 no-repeat;
    background-size: 100%;
    font-family: $swift;
    line-height: 1em;
    color: #fff;
    text-transform: none;
  }

  .section-lead,
  .subsection-lead {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin-top: .5em;
    a {
      text-decoration: none;
    }
  }

   // Subsections
  .article-subsection {
    margin-top: (20em/16);
    border-top: 1px solid $warm-grey;

    &:first-child {
      margin-top: 0;
    }
  }

  header + .article-subsection {
    border-top: none;
    margin-top: 0;
  }

  .subsection-header {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid $warm-grey;

    h3,
    .subsection-lead {
      display: inline;
    }
  }
}

.illustration + .article-section {
  margin-top: (40em/16);
}

.people .grid {
  img {
    margin: 0;
  }
  a {
    color: #000;
    h2 {
      font-size: 1em;
      color: $green;
      margin-top: 10px;
    }
    p {
      margin: 0;
      font-size: (14em/16);
    }
    &:hover {
      h2 {
        color: $green-dark;
      }
    }
  }
}

// Add calendar style icons to the icon list
// in the calendar subsection
.icon-list.calendar {
  .icon {
    text-align:center;
    text-indent: -.3em;
    color: #fff;
    font-size: (18em/22);
    background: transparent url(/images/calendar.svg) 0 50% no-repeat;
    background-size: (39em/18) (46em/18);
    line-height:(51em/18);
    width: (39em/18);
    height: (46em/18);
  }
}

.conversation {
  list-style: none;
  margin: (20em/16) 0 0 0;
  padding: (23em/16) 0;

  .content {
    position: relative;
    z-index: 1;
    padding: 0.75em 1em;

    p:first-child {
      margin: 0;
    }
  }

  .byline {
    p {
      position: absolute;
      margin: 0;
      @include small-text;
      font-size: (13em/16);
      line-height: (17/13);
    }

    img {
      position: absolute;
      bottom: (-23em/16);
    }

    .arrow {
      position: absolute;
      width: 0;
      font-size: 0;
      line-height: 0;
      bottom: 0;
      border-top: 25px solid transparent;
    }
  }

  .question {
    position: relative;
    z-index: 2;
    margin-bottom: -.75em;
    margin-right: percentage(110/620);

    .content {
      padding-bottom: 1.08em;
      background: $yellow;
      border-radius: 3px 3px 3px 0;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: percentage(441/510);
        height: .75em;
        content: "";
        background: rgba(0, 0, 0, .04);
        border-radius: 3px 0 3px 0;
      }

      p {
        font-family: $swift;
      }
    }

    .byline {
      p {
        top: (-23em/13);
      }

      img {
        left: percentage(-75/510);
      }

      .arrow {
        left: percentage(-24/620);
        border-top: 25px solid transparent;
        border-right: 25px solid $yellow;
      }
    }
  }

  .answer {
    position: relative;
    margin-left: percentage(70/620);
    margin-right: percentage(75/620);

    .content {
      background: $beige;
      border-radius: 3px 3px 0 3px;
      padding-top: 1.08em;

      p {
        line-height: (20/16);
      }
    }

    .byline {
      p {
        bottom: (-23em/13);
      }

      img {
        right: percentage(-80/510);
      }

      .arrow {
        right: percentage(-24/620);
        border-left: 25px solid $beige;
      }
    }
  }
}

.related-topics {
  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
  }
  img {
    float: right;
    margin: 0.75em 0 5px 5px;
  }
  img + p {
    margin-top: (4em/18);
  }
}

.labeled-list {
  list-style: none;
  margin: 0;
  .group {
    border-top: 1px solid $warm-grey;
    padding: (20em/16) 0 0 0;
    margin: (20em/16) 0 0 0;
  }
  .label {
    font: bold (26em/16)/(28/26) $swift;
    color: #000;
    margin-bottom: (10em/26);
  }
  &.text-labels {
    .label {
      font-size: (20em/16);
      line-height: (22/20);
    }
  }
  .list {
    margin: 0;
    list-style: disc;
    width: 100%;
    li {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;
      vertical-align: top;
      word-wrap: break-word;

    }
    // Fix missing column-break-inside support
    a {
      display: inline-block;
      vertical-align: top;
      word-wrap: break-word;
    }
  }
}

#copyright {
  padding-left: (35em/12);
  background: transparent url(/images/cc.svg) 0 2px no-repeat;
  background-size: (20em/12) (20em/12);
}

.topics {
  @include clearfix;
  list-style: none;
  .topic {
    margin: (25em/16) (60em/16) 0 0;
  }
  h2,
  h3 {
    margin: 0;
    padding: 0 (5em/20) 0 0;
    position: relative;
    & > .number {
      font-size: (20em/26);
      line-height: 32px;
      position: absolute;
      top: 3px;
      left: -55px;
      background: transparent url(/images/bg-vignette.svg) 0 0 no-repeat;
      display: block;
      width: 35px;
      height: 32px;
      color: #fff;
      text-align: center;
      background-size: 100%;
    }
  }
  h2,
  h3,
  p {
    margin-right: 0;
    display: inline;
  }
}

#cookies {
  display: none;
  width: 100%;
  background: #000;
  @include small-text;
  font-size: (13em/16);
  line-height: (17/13);
  color: #fff;
  padding: 0 20px;
  p {
    display: inline-block;
    margin: 10px .5em 10px 0;
  }
  a {
    color: #fff;
    &.action {
      display: inline-block;
      background: $warm-grey;
      font-size: 1em;
      line-height: 1;
      margin: 10px 0;
    }
  }
}
#search-suggestions {
  background: #fff;
  a {
    display: block;
    border-bottom: 1px solid $warm-grey;
    padding: 5px 15px;
    &.focused {
      color: #000;
    }
  }
}

// jQuery UI

.ui-tabs-nav {
  margin: 0;
  list-style: none;
  li {
    display: inline;
  }
}
.ui-tabs-hide {
  display: none;
}
