@import "compass";
@import "includes.css.scss";
@include global-reset;

// Generic
body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 0;
  margin: 0;
  background: #fff url(../images/bg.png) 50% 0 repeat-y;
  background-size: 3000px 25px;
}

h1,
h2 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  font-size: (24em/16);
  line-height: (26/24);
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: (24em/24);
}

h3 {
  font-size: (18em/16);
  line-height: (20/18);
  margin-top: (18em/18);
  font-weight: bold;
}

h4 {
  margin: 1em 0 -.75em 0;
}

p {
  margin-top: (12em/16);
}

h2 {
  & + p,
  & + ul,
  & + ol {
    margin-top: (4em/16);
  }
}

h3 {
  & + p,
  & + ul,
  & + ol {
    margin-top: 0;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-left: 1em;
}

li {
  margin: 0 0 0 1.5em;
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

iframe {
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  font-family: $arial;
  font-size: (14em/16);
  line-height: 1;
  color: #000;
  border: 1px solid #fff;
  padding: 10px 15px 10px 15px;
  margin: (15em/16) 0 0 0;
  @include box-sizing(border-box);
  resize: none;

  &:focus {
    border: 1px solid $warm-grey;
    outline: none;
  }
}
input.placeholder,
textarea.placeholder {
  @include placeholder-styles;
}

::-webkit-input-placeholder {
  @include placeholder-styles;
}
:-moz-placeholder {
  @include placeholder-styles;
}
:-ms-input-placeholder {
  @include placeholder-styles;
}

:focus::-webkit-input-placeholder {
  color: $text-light-grey;
}
:focus:-moz-placeholder {
  color: $text-light-grey;
}
:focus:-ms-input-placeholder {
  color: $text-light-grey;
}

textarea {
  width: 100%;
  line-height: (18/14);
}
button {
  margin: (15em/16) 0 0 0;
}

#wrap input.share {
  border: none;
  margin-top: 0;
  padding: 3px 7px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.6);
}

// Basic grid using inline block
// The container's width must be equal to column widths + column margins
.grid {
  overflow: hidden;

  .container {
    margin-top: (20em/16);
    width: percentage(304/284);
  }

  .column {
    display: inline-block;
    vertical-align: top;
    margin: 0 (20em/16) (25em/16) 0;

    &.c2,
    &.c3 {
      width: percentage(132/304);
    }
  }
}

//
// General purpose content types
//
// Media files
.embedded-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;

  &.widescreen {
    padding-bottom: 57.25%;
  }

  &.vimeo {
    padding-top: 0;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Captions for media files
figure {
  @include clearfix;
}

figcaption {
  @include small-text;
  font-size: (13em/16);
  line-height: (16/13);
  margin-top: (5em/16);

  strong,
  b {
    color: $text-grey;
  }
}
// Lists with icons or images
.icon-list {
  margin-top: (20em/16);
  list-style: none;

  li {
    margin:0;
    font-family: $swift;
    font-size: (20em/16);

    a {
      text-decoration: none;
      display: block;
      line-height: (22em/20);
      margin: 0 0 (10em/20) 55px;

      .meta {
        font-family: $arial;
        font-size: (13em/20);
        line-height: (16/13);
        color: $text-grey;
        display: block;
        margin-top: (2em/13);
      }
    }

    .icon {
      display: block;
      width: 35px;
      margin-left: -55px;
      float: left;
      background: transparent url(../images/sources/bg.png) 0 0 no-repeat;
      background-size: 35px 35px;
    }
  }
}

.fetch-more {
  margin-top: (20em/16);
}

// Button like action links
.action {
  font: (14em/16) $arial;
  line-height: (30/14);
  background: $green;
  color: #fff;
  padding: 0 (18em/14);
  border-radius: (15em/14);
  white-space: nowrap;
  display: inline-block;
}

.action a,
a.action,
.ui-tabs-nav a {
  text-decoration: none;

  &:hover {
    background: $green-dark;
    color: #fff;
  }
}

button.action {
  color: #fff;
  border: none;

  &:hover {
    background: $green-dark;
    cursor: pointer;
  }

  &:active {
    background: #fff;
    color: $green;
  }

  &.negative {
    background: $red;

    &:hover {
      background: darken($red, 10%);
    }

    &:active {
      color: $red;
      background: #fff;
    }
  }
}
// FIXME: terrible class name
// How should we handle generic smaller paragraphs
p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}

blockquote {
  overflow: hidden;
  margin-top: (20em/16);
  margin-bottom: (20em/16);
  padding-bottom: (5em/16);
  border-bottom: 1px solid $warm-grey;
  color: $text-warm-grey;

  & > div {
    p {
      font-family: $swift;
      font-size: (18em/16);
      line-height: (22/18);
      margin-top: (12em/18);
      margin-left: 1em;

      &:first-child {
        position: relative;
        margin-top: 0;

        &:before {
          content: "â€";
          font-family: $swift;
          font-size: (24em/18);
          line-height: 1;
          position: absolute;
          top: .05em;
          left: -.59em;
          text-rendering: optimizeLegibility;
        }
      }
    }
  }

  footer {
    @include clearfix;
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin-top: (8em/13);
    bottom: (-5em/13);
    text-align: right;
    position: relative;

    p {
      position: absolute;
      bottom: .5em;
      left: 0;
      width: percentage(246/320);
    }

    img {
      float: right;
      width: percentage(45/320);
      margin: 0 percentage(6/320) 0 percentage(13/320);
    }

    .title {
      color: $text-light-grey;
    }
  }
}

//
// Layout
//
#wrap {
  position: relative;
  margin: 1.5em auto 0 auto;
  padding-bottom: (40em/16);
}

#wrap > footer {
  margin-top: (80em/16);
}

#site-banner {
  @include clearfix;
  position: relative;
  margin-bottom: (20em/16);
}

#logo {
  width: 57px;

  a {
    display: block;
    text-indent: -9999px;
    width: 65px;
    height: 57px;
    background: transparent url(../images/logo.svg) 0 0 no-repeat;
    background-size: 100%;

    &:hover {
      background-position: 0 -114px;
    }
  }
}

#logo-full {
  a {
    background: transparent url(../images/logo-full.svg) 100% 0 no-repeat;
    text-indent: -9999em;
    margin: (20em/16) 0 (40em/16) 0;
    display: block;
  }
}

// Navigation elements

#site-navigation {
  @include clearfix;
}

#secondary-navigation {
  ul,
  li {
    display: inline;
  }

  li {
    font-size: (14em/16);
  }
}
// Breadcrumbs
// Can be found both in the top of the page
// and in the page footer
nav.breadcrumbs {
  display: block;

  p {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin: 0;
  }

  a,
  span {
    color: $text-light-grey;
    position: relative;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    padding-right: (20em/13);
    margin-right: (5em/13);
    background: url(../images/breadcrumb-slash.svg) 100% 50% no-repeat;
    background-size: (11em/13) (18em/13);

    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }
}

footer nav.breadcrumbs {
  border-top: 1px solid $warm-grey;
  padding-top: 10px;
  margin-bottom: 15px;
}

.search {
  position: relative;

  input {
    width: 100%;
    background: $beige;
    border: 1px solid $beige;
    padding: 3px 20px 3px 5px;
    margin: 0;
    border-radius: 4px;

    &:focus {
      border: 1px solid $warm-grey;
    }
  }

  button {
    text-indent: -9999em;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: (15em/16);
    height: (15em/16);
    background: transparent url(../images/search.svg) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
      background-position: 0 ((50em/16) * -1);
    }
  }
}

.speech-bubble {
	position: relative;
  background: $yellow;
  padding: 20px 20px 20px 25px;
  margin: (60em/16) 0;
  border-radius: 4px 4px 4px 0;
  @include box-sizing(border-box);

  &:after {
    content:"";
    position:absolute;
    bottom: 0;
    left: -20px;
    border-width: 0 0 20px 21px;
    border-style: solid;
    border-color: $yellow transparent;
  }

  .inner {
    @include clearfix;
  }

  h2 {
    margin-top: 0;
  }

  p,
  ul {
    margin-top: (2em/18);
  }

  form {
    margin-right: (20em/16);
  }

  input {
    background: #fff;
  }

  li {
    margin-left: 1em;
  }

  .aside {
    margin-top: 1em;
  }

  .position-me {
    margin-top: 15px;
    text-align: center;

    .choose {
      margin-top: (8em/14);
      display: block;
      font-family: $arial;
      font-size: (14em/16);
    }
  }
}

form.speech-bubble {
  margin-top: 40px;
  margin-bottom: 0;

  .search {
    padding: 10px 10px 0 10px;
    margin-top: -10px;
    margin-left: -10px;

    input {
      width: 100%;
      padding: 7px 20px 7px 10px;
      border-radius: 6px;
    }

    &.active-suggestions {
      background: $yellow;
      border-radius: 6px 6px 0 0;

      input,
      input:focus {
        border: 1px solid transparent;
      }
    }
  }
}

#search-suggestions {
  background: $yellow;
  border-radius: 0 0 4px 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-left: -25px;

  ul {
    margin-left: 20px;
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .focused a {
    color: $green-dark;
    text-decoration: none;
  }
}

//
// Article contents
//
article {
  h1 {
    color: $green;
  }

  p a,
  li > a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  // Main image
  .illustration {
    margin-top: (20em/16);
  }

  // Page lead
  .lead p {
    font-size: (18em/16);
    line-height: (22/18);
    margin-top: (8em/18);
  }
}

article + article {
  margin-top: 40px;

  h1 {
    padding-top: 20px;
    border-top: 1px solid $warm-grey;
    color: #000;
  }
}

// Article sections after the main content
.article-section {
  margin-top: (60em/16);

  header {
    border-bottom: 1px solid $warm-grey;
    margin-bottom: -1px;
    position: relative;
    padding: 0 0 0.2em 0;
  }

  h2 {
    a.topic {
      display: block;
      font-size: (18em/24);
      line-height: (25/18);
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      letter-spacing: 0.06em;
    }
  }

  h3 {
    font-weight: normal;
    font-family: $swift;
  }

  .vignette {
    width: (69em/23);
    height: (62em/23);
    padding: (18em/23) 0 0 (22em/23);
    background: transparent url(../images/bg-vignette.svg) 0 0 no-repeat;
    background-size: 100%;
    font-family: $swift;
    line-height: 1em;
    color: #fff;
    text-transform: none;
  }

  .section-lead,
  .subsection-lead {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin-top: .5em;

    b,
    strong {
      color: $text-grey;
    }

    a {
      text-decoration: none;
    }
  }

   // Subsections
  .article-subsection {
    margin-top: (20em/16);
    border-top: 1px solid $warm-grey;

    &:first-child {
      margin-top: 0;
    }
  }

  header + .article-subsection {
    border-top: none;
    margin-top: 0;
  }

  .subsection-header {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid $warm-grey;

    h3,
    .subsection-lead {
      display: inline;
    }
  }
}

header.intro .article-section {
  margin-top: (40em/16);
}

.illustration + .article-section {
  margin-top: (30em/16);
}

.people .grid {
  img {
    margin: 0;
  }

  a {
    color: #000;

    h2 {
      font-size: 1em;
      color: $green;
      margin-top: 10px;
    }

    p {
      margin: 0;
      font-size: (14em/16);
    }

    &:hover {
      h2 {
        color: $green-dark;
      }
    }
  }
}

// Add calendar style icons to the icon list
// in the calendar subsection
.icon-list.calendar {
  .icon {
    text-align:center;
    text-indent: -.3em;
    color: #fff;
    font-size: (18em/22);
    background: transparent url(../images/calendar.svg) 0 50% no-repeat;
    background-size: (39em/18) (46em/18);
    line-height:(51em/18);
    width: (39em/18);
    height: (46em/18);
  }
}

.conversations {
  .details {
    @include small-text;
    font-size: (13em/16);
    line-height: (15/14);
    padding-top: (8em/13);
    border-top: 1px solid $warm-grey;
    margin: (12em/16) percentage(75/620) 0 percentage(70/620);

    .topic {
      display: block;
    }

    .voting,
    .poll-results,
    .toggler {
      margin-top: (12em/13);
    }

    .poll-results {
      .answer,
      .summary {
        display: block;
        margin-top: (12em/14);
      }

      .answer .summary {
        margin-top: (4em/14);
      }

      b {
        display: inline-block;
        width: percentage(35/145);
      }

      .meter {
        display: inline-block;
        width: percentage(110/145);

        span {
          display: inline-block;
          text-indent: -9999px;
        }
      }

      .positive .meter span {
        background: $green;
      }

      .negative .meter span {
        background: $red;
      }
    }

    .toggler {
      display: block;
      color: $text-light-grey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .related {
      display: block;
      margin-top: (12em/13);
    }
  }

  .fetch-more {
    clear: both;
    padding-top: (40em/16);
  }
}

.body .conversations {
  .fetch-more {
    margin-left: percentage(70/620);
  }
}

.conversation {
  list-style: none;
  margin: (20em/16) 0 0 0;
  padding: (23em/16) 0;

  a {
    .read-more {
      color: $green;
      text-decoration: underline;
    }

    &:hover {
      .read-more {
        color: $green-dark;
        text-decoration: none;
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 20px 25px;

    p:first-child {
      margin: 0;
    }

    p {
      color: #2A2A2A;
    }
  }

  .byline {
    p {
      position: absolute;
      margin: 0;
      @include small-text;
      font-size: (13em/16);
      line-height: (17/13);
    }

    img {
      position: absolute;
      bottom: (-23em/16);
    }

    .arrow {
      position: absolute;
      width: 0;
      font-size: 0;
      line-height: 0;
      bottom: 0;
      color: $yellow;
      border-top: 25px solid transparent;
    }
  }

  .question {
    position: relative;
    z-index: 2;
    margin-bottom: -.75em;
    margin-right: percentage(110/620);

    .content {
      background: $yellow;
      border-radius: 3px 3px 3px 0;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: percentage(441/510);
        height: .75em;
        content: "";
        background: rgba(0, 0, 0, .04);
        border-radius: 3px 0 3px 0;
      }

      p {
        font-family: $swift;
      }
    }

    .byline {
      p {
        top: (-23em/13);
      }

      img {
        left: percentage(-75/510);
      }

      .arrow {
        left: percentage(-24/620);
        border-top: 25px solid transparent;
        border-right: 25px solid $yellow;
      }
    }
  }

  .answer {
    position: relative;
    margin-left: percentage(70/620);
    margin-right: percentage(75/620);

    .content {
      background: $beige;
      border-radius: 3px 3px 0 3px;

      p {
        line-height: (20/16);
      }
    }

    .byline {
      img {
        right: percentage(-80/510);
      }

      p {
        padding-top: (10em/13);
      }

      .arrow {
        right: percentage(-24/620);
        border-left: 25px solid $beige;
      }
    }
  }
}

// Related conversations on a conversation permalink
header.intro + .conversations {
  .article-section:first-child {
    margin-top: (40em/16);
    border-top: none;

    .conversation,
    .details {
      margin-top: 0
    }
  }
}

.related-topics {
  ul {
    list-style: none;
  }

  li {
    margin-left: 0;
  }

  img {
    float: right;
    margin: 0.5em 0 5px 20px;
  }

  img + p {
    margin-top: (4em/18);
  }
}

.labeled-list {
  list-style: none;
  margin: 0;

  .group {
    @include clearfix;
    border-top: 1px solid $warm-grey;
    padding: (20em/16) 0 0 0;
    margin: (20em/16) 0 0 0;
  }

  .label {
    font: bold (26em/16)/(28/26) $swift;
    color: #000;
    margin-bottom: (10em/26);
    float: left;
    width: percentage(30/284);
    margin-right: percentage(15/284);
  }

  &.text-labels {
    .label {
      display: block;
      font-size: (20em/16);
      line-height: (22/20);
    }

    .list {
      margin-top: (10em/16);
    }
  }

  .list {
    margin: 0;
    list-style: disc;
    float: left;
    width: percentage(194/284);

    li {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;
      vertical-align: top;
      word-wrap: break-word;

    }
    // Fix missing column-break-inside support
    a {
      display: inline-block;
      vertical-align: top;
      word-wrap: break-word;
    }
  }
}

.tabbed {
  header {
    padding: 0;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .article-subsection {
    border: none;
  }

  .tabs {
    margin: 0 0 -14px 0;
    list-style: none;

    li {
      display: inline;
      margin: 0;
    }

    a.action {
      font-size: (12em/16);
      margin-right: (20em/12);
    }
  }
}

#copyright {
  padding-left: (35em/12);
  background: transparent url(../images/cc.svg) 0 2px no-repeat;
  background-size: (20em/12) (20em/12);
}

.topics {
  @include clearfix;
  list-style: none;

  .topic {
    margin: (20em/16) 0 0 0;
  }

  h2,
  h3 {
    margin: 0;
    position: relative;

    .number {
      display: none;
      font-size: (20em/26);
      line-height: 1;
      padding-top: 7px;
      position: absolute;
      top: 3px;
      left: -55px;
      width: 35px;
      height: 32px;
      background: transparent url(../images/bg-vignette.svg) 0 0 no-repeat;
      background-size: 35px 32px;
      color: #fff;
      text-align: center;
    }
  }

  h2,
  h3,
  p {
    margin-right: 0;
    display: inline;
  }
}

#cookies {
  display: none;
  width: 100%;
  background: #000;
  @include small-text;
  font-size: (13em/16);
  line-height: (17/13);
  color: #fff;
  padding: 0 20px;

  p {
    display: inline-block;
    margin: 10px .5em 10px 0;
  }

  a {
    color: #fff;

    &.action {
      display: inline-block;
      background: $warm-grey;
      color: #000;
      font-size: 1em;
      margin: 10px 0;

      &:hover {
        background: darken($warm-grey, 2%);
      }
    }
  }
}

.front .article-section.news-posts {
  margin-top: 30px;
}

// jQuery UI
.ui-tabs-hide {
  display: none;
}
.ui-tabs-nav .ui-state-active a {
  background: $green-dark;
}
