@import "compass";
@import "includes.css.scss";
@include global-reset;

/* Clearing */
.topics li:after,
figure:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* Generic */
body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  line-height: (20/16);
  padding: 1.5em 15px;
}

h1 {
  margin: 0;
  font-family: $swift;
  font-weight: normal;
  font-size: (24em/16);
  line-height: 1;
  color: $green;
  /*
  .vignette {
    margin-bottom: (2em/14);
    font-size: (14em/24);
    line-height: 1;
  }
  */
}

h2 {
  margin-top: (24em/18);
  font-family: $swift;
  font-weight: normal;
  font-size: (18em/16);
  line-height: (24/18);
  /*
  .vignette {
    margin-bottom: (3em/16);
    font-size: (14em/18);
    line-height: 1;
  }
  */
}

h3 {
  margin-top: (18em/16);
  font-weight: bold;
}

h4 {
  margin: 1em 0 -.75em 0;
}

p {
  margin-top: (12em/16);
}

img {
  display: block;
  max-width: 100%;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
}

ul {
  list-style: disc;
  margin-top: (12em/16);
}

ol {
  list-style: decimal;
  margin-top: (12em/16);
}

li {
  /*
  margin: (8em/16) 0 0 1.5em;
  */
  margin: 0 0 0 1.5em;
}

small {
  font-size: (14em/16);
  line-height: (18/14);
}

sup {
  vertical-align: super;
  font-size: .7em;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

/* Logo */
#logo {
  margin-bottom: (20em/16);
  
  a {
    display: block;
    text-indent: -9999px;
    height: 50px;
    width: 57px;
    background: transparent url(/images/logo.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}

/* Navigation */
nav[role="navigation"] {
  ul {
    margin: 0;
    list-style: none;
  }
  
  li {
    margin: 0;
    font-size: (16em/16);
    line-height: 1;
  }
  
  a {
    display: inline-block;
    margin-top: (2em/16);
    padding: (7em/16) (25em/16) (7em/16) (15em/16);
    background: $green;
    text-decoration: none;
    font-family: $swift;
    color: #fff;
    border-radius: 3px;
    &:hover {
      background: $green-dark;
    }
  }
  
  li.current {
    a {
      margin-left: -1em;
      padding: (12.5em/20) (25em/20) (12.5em/20) 1em;
      font-size: (20em/16);
      line-height: 1;
      background: $green-dark;
      color: #fff;
    }
  }
}

/* Layout */
#wrap {
  position: relative;
  margin: 0 auto;
}

/* Blockquote */
blockquote {
  margin-top: (20em/16);
  margin-bottom: (20em/16);
  border-top: 1px solid $warm-grey;
  border-bottom: 1px solid $warm-grey;
  padding: (10em/16) 0;
  color: $text-warm-grey;
  
  &>p {
    margin-top: (12em/16);
    font-family: $swift;
    font-size: (18em/16);
    line-height: (22/18);

    &:first-child {
      margin-top: 0;
    }
  }
  
  footer {
    font-family: $arial;
    p {
      font-size: (14em/16);
      line-height: (18/14);
    }
    .name {
      font-weight: bold;
      color: $text-grey;
    }
    .title {
      color: $text-medium-grey;
    }
  }
}


/* Captions */
figure figcaption {
  padding-bottom: .5em;
  border-bottom: 1px solid $warm-grey;
  font-family: $arial;
  font-size: (14em/16);
  line-height: (18/14);
  color: $text-medium-grey;
  
  strong, 
  b {
    color: $text-grey;
  }
}

/* Page lead */
.lead {
  p {
    margin-top: (12em/18);
    font-size: (18em/16);
    line-height: (22/18);
  }
}

/*
.vignette {
  display: block;
  text-transform: uppercase;
  color: $text-medium-grey;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  letter-spacing: .1em;
}
*/

/*
.contact {
  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
  }
}
*/

/* Breadcrumbs */
.breadcrumbs {
  display: block;
  margin-bottom: (12em/14);
  font-size: (14em/16);
  font-family: "Helvetica Neue", helvetica, sans-serif;
  letter-spacing: .1em;
  color: #aaa;
}

/*
.poi ul li {
  a { display: inline; }
  p { display: block; }
}

.images {
  margin-top: .6em;
}
*/

/* Main image */
.illustration {
  margin-top: (12em/16);
}

/* Share */
.share {
  background: $yellow;
  margin-top: (40em/20);
  padding: 1.25em;
  border-radius: 4px;
  
  h2 {
    display: inline;
    margin-top: 0;
  }
  
  p {
    display: inline;
    margin-top: (6em/16);
  }
  
  a {
    color: $font-color;
    text-decoration: underline;
  }
}

/* Deepening */
.deepening {
  h2 {
    margin-top: (40em/20);
    font-size: (20em/16);
    line-height: (22/20);
  }
  
  p {
    margin-top: (6em/16);
  }
}

/* Article section */
.article-section {
  header {
    position: relative;
    padding: 0 0 0.7em 0;
    border-bottom: 1px solid $warm-grey;
  }
  
  h2 {
    color: $green;
  }
  
  h3 {
    font-weight: normal;
    font-family: $swift;
  }
  
  a.more:before {
    content: "+ ";
  }
  
  .vignette {
    width: (69em/23);
    height: (62em/23);
    padding: (18em/23) 0 0 (22em/23);
    background: transparent url(/images/bg-vignette.svg) 0 0 no-repeat;
    background-size: 100%;
    font-family: $swift;
    line-height: 1em;
    color: #fff;
    text-transform: none;
  }
  
  .section-lead {
    margin-top: 0.5em;
    font-family: $arial;
    color: $text-light-grey;
  }
  
  .article-subsection {
    margin-top: 2.5em;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  .subsection-header {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid $warm-grey;
    
    h3,
    .subsection-lead {
      display: inline;  
    }
  }
  
  .subsection-lead {
    margin-left: .5em;
    font-family: $arial;
    color: $text-light-grey;
  }
  
  .hidden {
    position: absolute;
    left: -9999px;
  }
  
  &.related-topics {
  
    .vignette {
      top: .5em;
    }
  }
}

.conversation {
  list-style: none;
  margin: 1em 0 0 0;
  padding: (23em/16) 0;

  .content {
    position: relative;
    z-index: 1;
    padding: 0.75em 1em;
  
    p:first-child {
      margin: 0;
    }
  }

  .byline {
    font-family: $arial;
    color: $text-light-grey;

    p {
      position: absolute;
      margin: 0;
    }
    
    img {
      position: absolute;
      bottom: (-23em/16);
    }
    
    .arrow {
      position: absolute;
      width: 0;
      font-size: 0;
      line-height: 0;
      bottom: 0;
      border-top: 25px solid transparent;
    }
  }

  .question {
    position: relative;
    z-index: 2;
    margin-bottom: -.75em;
    margin-right: percentage(110/620);

    .content {
      padding-bottom: 1.08em;
      background: $yellow;
      border-radius: 3px 3px 3px 0;
    
      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: percentage(441/510);
        height: .75em;
        content: "";
        background: rgba(0, 0, 0, .04);
        border-radius: 3px 0 3px 0;
      }

      p {
        font-family: $swift;
      }
    }

    .byline {
      p {
        top: (-23em/16);
      }

      img {
        left: percentage(-75/510);
      }

      .arrow {
        left: percentage(-24/620);
        border-top: 25px solid transparent;
        border-right: 25px solid $yellow;      
      }
    }
  }

  .answer {
    position: relative;
    margin-left: percentage(70/620);
    margin-right: percentage(75/620);

    .content {
      background: $beige;
      border-radius: 3px 3px 0 3px;
      padding-top: 1.08em;

      p {
        line-height: (20/16);
      }
    }

    .byline {
      p {
        bottom: (-23em/16);
      }
      
      img {
        right: percentage(-80/510);
      }

      .arrow {
        right: percentage(-24/620);
        border-left: 25px solid $beige;      
      }
    }
  }
}

.related-topics {
  ul {
    overflow: hidden;
    margin: 0;
  }
  li {
    float: left;
    width: 100%;
    list-style: none;
    margin-left: 0;
  }
  h3 {
    margin-bottom: 1.20em;
  }
  img {
    float: right;
    margin: 0 0 5px 5px;
    & + p {
      margin-top: 0;
    }
  }
}

#feedback {
  margin: 2em 0 0 0;
  background: #f7f3eb;
  padding: 1.25em;
  border-radius: 4px;

  h2 {
    margin: 0;
    font-family: $swift;
    font-weight: normal;
  }
  
  p {
    margin: 0;
  }
}