@import "elements";
@import "grid";
@import "icon-list";
@import "labeled-list";
@import "navigation";
@import "search";
@import "speech-bubble";
@import "article";
@import "tabs";
@import "topics";
@import "conversations";

input + div.description {
  margin-top: .3em;
}

#wrap input.share {
  border: none;
  margin-top: 0;
  padding: 3px 7px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.6);
}


.fetch-more {
  margin-top: (20em/16);
}

// Button like action links
.action,
.form-submit {
  font: (14em/16) $arial;
  line-height: (30/14);
  background: $green;
  color: #fff;
  padding: 0 (18em/14);
  border-radius: (15em/14);
  border: 0;
  white-space: nowrap;
  display: inline-block;

  &.loading,
  &.loading:hover {
    background: $green url(../images/load-green-32.gif) 8px 50% no-repeat;
    background-size: 16px 16px;
    padding-left: (30em/14);
  }
}

.action a,
a.action,
.ui-tabs-nav a {
  text-decoration: none;

  &:hover {
    background: $green-dark;
    color: #fff;
  }
}

button.action,
input.action,
input.form-submit {
  color: #fff;
  border: none;

  &:hover {
    background: $green-dark;
    cursor: pointer;
  }

  &:active {
    background: #fff;
    color: $green;
  }
}

p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}


//
// Layout
//
#wrap {
  position: relative;
  margin: 1.5em auto 0 auto;
  padding-bottom: (40em/16);

  @include respond-between(300px, 767px) {
    margin: 0 18px;
  }

  @include respond-between(600px, 767px) {
    background: #fff;
    margin: 0 (20em/16) 0 0;
    padding-top: (20em/16);
    padding-left: (20em/16);
  }

  @include respond-between(768px, 1023px) {
    background: #fff;
    margin: 0 percentage(30/768) 0 0;
    padding: (30em/16) 0 (50em/16) percentage(30/768);
  }

  @include respond-to(1024px) {
    margin-top:0;
    padding-top: (40em/16);
    padding-bottom: (40em/16);
    max-width: (970em/16);
  }

  > footer {
    margin-top: (80em/16);

    @include respond-between(768px, 1023px) {
      width: (580em/16);
      margin-left: auto;
      margin-right: auto;
    }
  }

  p,
  li {
    input,
    textarea {
      @include respond-to(768px) {
        font-size: (14em/18);
      }
    }
  }
}

#site-banner {
  @include clearfix;
  position: relative;
  margin-bottom: (20em/16);
  @extend %centered-section;

  @include respond-between(300px, 767px) {
    padding-top: 18px;
  }

  @include respond-between(600px, 767px) {
    padding-top: 0;
  }

  @include respond-to(768px) {
    margin-bottom: (40em/16);
  }
}

#logo {
  width: 57px;

  @include respond-between(300px, 767px) {
    float: left;
  }

  @include respond-to(768px) {
    float: left;
    margin-top: -7px;
  }

  @include respond-between(768px, 1023px) {
    width: (103em/16);
    margin-right: (20em/16);
    margin-left: -(45em/16);
  }

  @include respond-to(1024px) {
    width: (165em/16);
    margin: 0;
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 65px;
    height: 57px;
    background: transparent url(../images/logo.png) 0 0 no-repeat;
    background-size: 100%;

    @include respond-between(768px, 1023px) {
      height: (90em/16);
      width: (103em/16);
      background-size: 100%;
    }

    @include respond-to(1024px) {
      width: (130em/16);
      height: (114em/16);
    }

    &:hover {
      background-position: 0 -114px;

      @include respond-between(768px, 1023px) {
        background-position: 0 ((180em/16) * -1);
      }

      @include respond-to(1024px) {
        background-position: 0 ((228em/16) * -1);
      }
    }

    html.svg & {
      background-image: url(../images/logo.svg);
    }
  }
}

#logo-full {
  @extend %centered-section;

  @include respond-between(600px, 767px) {
    height: (46em/18);
    background-size: (284em/18) (46em/18);
  }

  a {
    background: transparent url(../images/logo-full.png) 100% 0 no-repeat;
    text-indent: -9999em;
    margin: (20em/16) 0 (40em/16) 0;
    display: block;

    @include respond-between(300px, 767px) {
      height: ((46em*(235/284))) / 16;
      background-size: (235em/16) ((46em*(235/284)) / 16);
      background-position: 0 0;
    }

    @include respond-to(768px) {
      height: (46em/18);
      background-size: (290em/18) (46em/18);
    }

    @include respond-to(1024px) {
      margin-right: (185em/18);
    }

    html.svg & {
      background-image: url(../images/logo-full.svg);
    }
  }
}

#main {
  @extend %centered-section;

  @include respond-to(1024px) {
    margin-left: 165px;
  }
}

// Breadcrumbs
// Can be found both in the top of the page
// and in the page footer
nav.breadcrumbs {
  display: block;
  @extend %centered-section;

  // The breadcrumbs is not used in the mobile view
  // instead we point users to the more complete site navigation
  #wrap > & {
    display: none;

    @include respond-between(600px, 767px) {
      border: none;
      display: block;
      margin-bottom: (10em/16);
    }

    @include respond-to(768px) {
      width: (580em/16);
      margin: 0 auto;
      margin-bottom: (15em/16);
    }

    @include respond-to(1024px) {
      width: auto;
      margin-left: (165em/16);
    }
  }

  footer & {
    border-top: 1px solid $warm-grey;
    padding-top: 10px;
    margin-bottom: 15px;

    @include respond-to(768px) {
      border: none;
    }

    @include respond-to(1024px) {
      margin-right: 115px;
    }
  }

  p {
    @include small-text;
    font-size: (13em/16);
    line-height: (17/13);
    margin: 0;

    @include respond-to(768px) {
      font-size: (14em/16);
    }
  }

  a,
  span {
    color: $text-light-grey;
    position: relative;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    padding-right: (20em/13);
    margin-right: (5em/13);
    background: url(../images/breadcrumb-slash.png) 100% 50% no-repeat;
    background-size: 11px 18px;

    &:hover {
      text-decoration: underline;
      color: $green;
    }

    &:last-child {
      padding-right:0;
      background:none;
    }

    html.svg & {
      background-image: url(../images/breadcrumb-slash.svg);
    }
  }
}


.people .grid {
  img {
    margin: 0;
  }

  a {
    color: #000;

    h2 {
      font-size: 1em;
      color: $green;
      margin-top: 10px;

      @include respond-to(768px) {
        font-size: (20em/16);
      }
    }

    p {
      margin: 0;
      font-size: (14em/16);

      @include respond-to(768px) {
        font-size: (16em/16);
      }
    }

    &:hover {
      h2 {
        color: $green-dark;
      }
    }
  }
}

.body {
  @include respond-between(768px, 1023px) {
    position: relative;
  }

  @include respond-to(1024px) {
    width: percentage(640/805);
  }

  > p,
  > ul,
  > ol {
    @include respond-between(768px, 1023px) {
      margin-right: (20em/18);
    }

    @include respond-to(1024px) {
      margin-right: (60em/18);
    }
  }

  figure {
    @include respond-between(300px, 767px) {
      margin-top: (12em/16);
    }

    @include respond-to(600px) {
      margin-top: (20em/16);
    }

    &.full {
      @include respond-to(1024px) {
        margin-right: (60em/16);
      }
    }

    &.right,
    &.left {
      @include respond-to(600px) {
        width: percentage(240/600);
        margin: (10em/16) 0;
      }
    }

    &.right {
      @include respond-to(600px) {
        float: right;
        margin-left: (20em/16);
      }

      @include respond-to(1024px) {
        position: relative;
        width: percentage(310/640);
        margin-right: -55px;
        padding-top: 10px;
        border-top: 1px solid $warm-grey;
      }

      div {
        @include respond-to(1024px) {
          width: 235px;
          float: left;
          margin-right: 40px;
        }
      }

      figcaption {
        @include respond-to(1024px) {
          border: none;
          width: 145px;
          position: absolute;
          top: 10px;
          right: -110px;
          margin: 0;
        }
      }
    }

    &.left {
      @include respond-to(600px) {
        float: left;
        margin-right: (20em/16);
      }

      @include respond-to(1024px) {
        width: percentage(235/640);
      }
    }
  }

  .conversations {
    .fetch-more {
      margin-left: percentage(70/620);
    }
  }
}

.body {
  .conversation {
    @include respond-to(1024px) {
      width: percentage(620/640);
    }

    .question .content p {
      font-size: (24em/16);
      line-height: (26/24);

      @include respond-to(768px) {
        font-size: (26em/16);
        line-height: (30/26);
      }
    }
  }

  .details {
    @include respond-to(1024px) {
      width: percentage(145/640);
      margin-right: percentage(-165/640);
    }
  }
}

// Related conversations on a conversation permalink
header.intro + .conversations {
  .article-section:first-child {
    margin-top: (40em/16);
    border-top: none;

    .conversation {
      margin-top: 0
    }
  }
}

.related-topics {
  ul {
    list-style: none;
  }

  li {
    margin-left: 0;
  }

  img {
    float: right;
    margin: 0.5em 0 5px 20px;

    @include respond-to(1024px) {
      margin-right: 20px
    }
  }

  img + p {
    margin-top: (4em/18);
  }
}


div.comments {
  margin-top: 20px;

  @include respond-to(1024px) {
    margin-right: 20px;
  }
}

#copyright {
  padding-left: (35em/12);
  background: transparent url(../images/cc.png) 0 2px no-repeat;
  background-size: 20px 20px;
  @extend %centered-section;

  @include respond-between(600px, 767px) {
    width: 520px;
    @include box-sizing(border-box);
  }

  @include respond-to(1024px) {
    margin-right: (185em/12);
  }

  html.svg & {
    background-image: url(../images/cc.svg);
  }
}

#cookies {
  display:none;
  background: #000;
  @include small-text;
  color: #fff;
  padding: 8px 20px 16px 20px;

  @include respond-to(768px) {
    text-align:center;
  }

  p {
    font-size: 13px;
    line-height: (17/13);

    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      font-size: 13px;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

.front .article-section.news-posts {
  margin-top: 30px;
}

.news-posts .icon-list {
  @include respond-to(1024px) {
    width: auto;
    margin-right: (20em/18);
  }

  li {
    @include respond-to(768px) {
      font-size: (26em/18);
      padding: (15em/26) 0;
      border-bottom: 1px solid $warm-grey;
    }

    &:first-child {
      @include respond-to(768px) {
        padding-top: 0;
      }
    }

    &:last-child {
      @include respond-to(768px) {
        border: none;
        padding-bottom: 0;
      }
    }
  }

  a {
    @include respond-to(768px) {
      margin: 0;
    }

    @include respond-to(1024px) {
      margin-right: (35em/22);
    }
  }

  .title {
    @include respond-to(768px) {
      line-height: (30/26);
    }
  }

  .meta {
    @include respond-to(768px) {
      font-size: (14em/26);
      line-height: (18/14);
      margin-top: (2em/14);
    }
  }

  & + .icon-list {
    @include respond-to(768px) {
      padding-top: (15em/16);
      margin-top: (15em/16);
      border-top: 1px solid $warm-grey;
    }
  }
}

// jQuery UI
.ui-tabs-hide {
  display: none;
}
.ui-tabs-nav .ui-state-active a {
  background: $green-dark;
}
