@import "compass";
@import "compass/reset";
@import "includes";

@import "drupal_reset";

@import "fonts";
@import "typography";

@import "elements";

@import "grid";
@import "icon-list";
@import "labeled-list";
@import "navigation";
@import "breadcrumbs";
@import "search";
@import "speech-bubble";
@import "article";
@import "news-posts";
@import "tabs";
@import "topics";
@import "conversations";
@import "people";
@import "header";
@import "footer";

input + div.description {
  margin-top: .3em;
}

#wrap input.share {
  border: none;
  margin-top: 0;
  padding: 3px 7px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.6);
}


.fetch-more {
  margin-top: (20em/16);
}

// Button like action links
.action,
.form-submit {
  font: (14em/16) $arial;
  line-height: (30/14);
  background: $green;
  color: #fff;
  padding: 0 (18em/14);
  border-radius: (15em/14);
  border: 0;
  white-space: nowrap;
  display: inline-block;

  &.loading,
  &.loading:hover {
    background: $green url(../images/load-green-32.gif) 8px 50% no-repeat;
    background-size: 16px 16px;
    padding-left: (30em/14);
  }
}

.action a,
a.action,
.ui-tabs-nav a {
  text-decoration: none;

  &:hover {
    background: $green-dark;
    color: #fff;
  }
}

button.action,
input.action,
input.form-submit {
  color: #fff;
  border: none;

  &:hover {
    background: $green-dark;
    cursor: pointer;
  }

  &:active {
    background: #fff;
    color: $green;
  }
}

p.copy {
  font: normal (12em/10)/(17/11) $arial;
  color: $text-light-grey;
}


//
// Layout
//
#wrap {
  position: relative;
  margin: 1.5em auto 0 auto;
  padding-bottom: (40em/16);

  @include respond-between(600px, 767px) {
    background: #fff;
    padding-top: (20em/16);
  }

  @include respond-between(768px, 1023px) {
    background: #fff;
    padding: (30em/16) 0 (50em/16) 0;
  }

  @include respond-to(1024px) {
    margin-top:0;
    padding-top: (40em/16);
    padding-bottom: (40em/16);
  }

  p,
  li {
    input,
    textarea {
      @include respond-to(768px) {
        font-size: (14em/18);
      }
    }
  }
}

.section {
  padding-bottom: 3em;

  h1,
  h1 a {
    color: $green;
    display: block;
  }
}

%dark-section {
  a {
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.section-colored {
  padding-top: 3em;

  & + .section {
    padding-top: 3em;
  }
}

.cream {
  background: #f6f4e5;
}

.green {
  @extend %dark-section;
  color: #fff;
  @include background-image(radial-gradient(false, color-stops(#339933, #00730a)));

  h1 {
    color: $yellow;
  }
}

.magenta {
  @extend %dark-section;
  color: #fff;
  @include background-image(radial-gradient(false, color-stops(#BD0076, #6C1847)));

  h1 {
    color: $yellow;
  }
}

// Related conversations on a conversation permalink
header.intro + .conversations {
  .article-section:first-child {
    margin-top: (40em/16);
    border-top: none;

    .conversation {
      margin-top: 0
    }
  }
}

div.comments {
  margin-top: 20px;

  @include respond-to(1024px) {
    margin-right: 20px;
  }
}

.front .article-section.news-posts {
  margin-top: 30px;
}

// jQuery UI
.ui-tabs-hide {
  display: none;
}
.ui-tabs-nav .ui-state-active a {
  background: $green-dark;
}
