@import "includes.css.scss";
@media only screen and (min-width: 768px) {
  p,
  ol,
  ul {
    font-size: (18em/16);
    line-height: (25/18);
    li,
    p {
      font-size: 1em;
    }
  }

  h1 {
    font-size: (37em/16);
    line-height: (37em/37);
  }

  h2 {
    font-size: (26em/16);
    line-height: (30/26);
    margin-top: 1em;
  }

  h3 {
    font-size: (20em/16);
    line-height: (22/20);
  }

  blockquote {
    & > p {
      font-size: (22em/16);
      line-height: (26/22);
    }
    footer p {
      font-size: (14em/13);
      line-height: (18/14);
    }
  }

  figure {
    figcaption {
      font-size: (14em/16);
      line-height: (18/14);
    }
  }

  .speech-bubble {
    h2 {
      font-size: (20em/16);
      line-height: (22/20);
    }

    p {
      line-height: (26/18);
    }
  }

  .article-section {
    .section-lead,
    .subsection-lead {
      font-size: (14em/16);
      line-height: (18/14);
    }

    .vignette {
      display: none;
    }

    h3 {
      font-size: (20em/16);
      line-height: (22/20);
    }
  }

  .conversation {
    .byline p {
      font-size: (14em/16);
      line-height: (18/14);
    }

    .question {
      .content {
        p {
          font-size: (22em/18);
          line-height: (24/22);
        }
      }
    }

    .answer {
      .content {
        p {
          font-size: (16em/18);
          line-height: (20/16);
        }
      }
    }
  }

  #site-banner {
    margin-bottom: (40em/16);
  }

  #logo {
    float: left;
    margin-top: -7px;
  }

  //
  // Navigation elements
  //
  #skip-to-navigation {
    display:none;
  }

  #top-navigation {
    float: left;

    ul {
      margin: 0 0 0 (20em/18);
      list-style: none;
    }

    li {
      margin: 0;
      font-size: (13em/18);
      line-height: (25.1/13);
    }

    a {
      display: inline-block;
      margin-top: (2em/13);
      padding: 0 0 0 (12em/13);
      background: $green;
      text-decoration: none;
      font-family: $swift;
      color: #fff;
      border-radius: 3px;
      &:hover {
        background-color: $green-dark;
      }
    }
    span {
      display: block;
      margin-right: 7px;
      padding-right: (18em/16);
      background: transparent url(/images/arrows-right.svg) 100% 6px no-repeat;
    }

    li:first-child a {
      margin-top: 0;
    }

    li.active-trail {
      font-size: (16em/18);
      line-height: (36/16);
      a {
        margin-left: -20px;
        padding: 0 (25em/16) 0 20px;
        background-color: $green-dark;
        color: #fff;
      }
      span {
        margin: 0;
        padding: 0;
        background: transparent;
      }
    }
  }

  #secondary-navigation {
    position: relative;
    border-bottom: 1px solid $warm-grey;
    float: right;
    padding-bottom: (6em/16);
    width: percentage(220/768);
    a {
      @include small-text;
      font-size: (14em/16);
      line-height: (18/14);
      white-space: nowrap;
      margin-right: 0;
      &:hover {
        color: $green;
      }
      &.more {
        position: absolute;
        right: 0;
        bottom: -1.8em;
        margin-right: 0;
      }
    }
    form {
      text-align: right;
    }
    .search {
      text-align: right;
      input {
        width: (140em/16);
      }
    }
    div {
      text-align: right;
      margin-top: (10em/16);
    }
  }

  // Breadcrumbs
  nav.breadcrumbs {
    p {
      font-size: (14em/16);
    }
  }

  #wrap > nav.breadcrumbs {
    width: (580em/16);
    margin: 0 auto;
    margin-bottom: (15em/16);
  }

  footer nav.breadcrumbs {
    border: none;
  }

  nav.main-navigation {
    border-top: 1px solid $warm-grey;
    border-bottom: 1px solid $warm-grey;
    padding: 15px 0;
    .inner > div {
      float: left;
      width: (170em/16);
      margin: 0 20px 0 0;
    }
    .inner {
      .first,
      .second {
        li {
          border-left: 1px solid $warm-grey;
          padding-left: 10px;
        }
      }
      .first {
        width: (100em/16);
      }
      .second {
        width: (120em/16);
      }

    }
    ul {
      margin: 0;
      @include small-text;
      font-size: (14em/16);
      line-height: (18/14);
      list-style: none;
    }
    li {
      margin: 0 0 0 0;
    }
    form {
      text-align:right;
      input {
        width: (140em/16);
      }
    }
  }

  .labeled-list {
    width: 580px;
    margin: auto;

    .label,
    .list {
      width: 100%;
    }

    .list {
      @include columns(3 20px);
      li {
        font-size: (16em/20);
      }
    }
  }

  #logo-full {
    height: (46em/18);
    background-size: (290em/18) (46em/18);
  }

  .news-posts .icon-list {
    margin: 0;
    li {
      padding: (15em/18) 0;
      border-bottom: 1px solid $warm-grey;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
    a {
      margin: 0;
    }
    .meta {
      margin-top: (10em/22);
    }
    .title {
      font-size: (26em/22);
      line-height: (30/26);
    }
  }

  .grid {
    .container {
      width: percentage(600/580);
    }
    .column {
      margin: 0 (25em/16) (20em/16) 0 0;

      &.c2 {
        width: percentage(280/600);
      }
      &.c3 {
        width: percentage(180/600);
      }
    }
  }

  .people .grid {
    a h2 {
      font-size: (20em/16);
    }
    a p {
      font-size: (16em/16);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  //
  // Layout
  //
  #wrap {
    background: #fff;
    margin: 0 percentage(30/768) 0 0;
    padding: (30em/16) 0 (50em/16) percentage(30/768);
  }

  #site-banner,
  #main,
  #wrap > footer {
    width: (580em/16);
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    width: (103em/16);
    margin-right: (20em/16);
    margin-left: -(45em/16);

    a {
      height: (90em/16);
      width: (103em/16);
      background-size: 100%;
      &:hover {
        background-position: 0 ((180em/16) * -1);
      }
    }
  }

  #secondary-navigation {
    position: relative;
    border-bottom: 1px solid $warm-grey;
    float: right;
    padding-bottom: (8em/16);
    width: percentage(230/768);
    a {
      white-space: nowrap;
      margin-left: .2em;
      &:hover {
        color: $green;
      }
      &.more {
        position: absolute;
        right: 0;
        bottom: -1.8em;
        margin-right: 0;
      }
    }
    div {
      margin-top: (10em/16);
    }
  }

  article {
    .body {
      position:relative;
      > p,
      > ul,
      > ol {
        width: percentage(560/580);
      }
    }

    .lead p {
      margin-top: (12em/25);
      font-size: (22em/16);
      line-height: (26/22);
    }

    .illustration {
      margin-top: (20em/16);
    }
  }

  .article-section {
    .section-lead a,
    .subsection-lead a {
      text-decoration: none;
    }
  }

}
