@import "includes.css.scss";

@media only screen and (min-width: 768px) {
  /* Typography */
  /*
  p,
  li {
    font-size: (17em/16);
    line-height: (24/17);
    li,
    p {
      font-size: 1em;
    }
  }
  */

  h1 {
    font-size: (37em/16);
    line-height: (37em/37);
    color: $green;
  }

  h2 {
    margin-top: 1em;
    font-size: (22em/16);
    line-height: (26/22);
  }

  .lead {
    p {
      margin-top: (12em/25);
      font-size: (22em/16);
      line-height: (26/22);
    }
  }

  .share {
    h2 {
      font-size: (20em/16);
      line-height: (22/20);
    }

    p {
      font-size: (17em/16);
      line-height: (24/17);
    }
  }

  .article-section {

    .section-lead,
    .subsection-lead {
      font-size: (13em/16);
      line-height: (16/13);
    }

    .vignette {
      font-size: (23em/41);
      line-height: (23/23);
    }

    h3 {
      font-size: (26em/16);
      line-height: (30/26);
    }
  }

  #feedback {

    h2 {
      font-size: (18em/16);
      line-height: (22/18);
    }

    p {
      font-size: (18em/16);
      line-height: (24/18);
    }
  }
}

@media only screen and (min-width: 768px) {
  /* Navigation */

  #skip-to-navigation {
    display:none;
  }

  nav[role="navigation"] {
    ul {
      margin: 0;
      list-style: none;
    }

    li {
      margin: 0;
      font-size: (16em/16);
      line-height: 1;
    }

    a {
      display: inline-block;
      margin-top: (2em/16);
      padding: (7em/16) (25em/16) (7em/16) (15em/16);
      background: $green;
      text-decoration: none;
      font-family: $swift;
      color: #fff;
      border-radius: 3px;
      &:hover {
        background: $green-dark;
      }
    }

    li.current {
      a {
        margin-left: -1em;
        padding: (12.5em/20) (25em/20) (12.5em/20) 1em;
        font-size: (20em/16);
        line-height: 1;
        background: $green-dark;
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 919px) {

  /* Layout */
  body {
    padding-top: (40em/16);
    background: #fff;
  }

  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: percentage(160/940);
  }

  #wrap {
    max-width: 768px;
  }

  header[role="banner"] {
    margin-bottom: (80em/16);
  }

  #logo a {
    height: 90px;
    width: 103px;
  }

  article {
    margin-left: percentage(50/768);
    width: percentage(718/768);

    h1,
    .body,
    .article-section {
      xwidth: percentage(620/805);
    }
    .body {
      position:relative;
    }

    .illustration {
      margin-top: 30px;
    }


    figcaption {
      width: 100%;
      margin-top: .5em;
      padding-bottom: .5em;
      padding-right: percentage(20/768);
      border-bottom: 1px solid $warm-grey;
    }

    blockquote {

      > p {
        width: percentage(543/718);
        font-size: (18em/16);
        line-height: (24em/18);
        float:left;
      }

      footer {
        width: percentage(145/718);
        float: right;

        img {

        }
      }
    }

    .share {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: percentage((718 + 40) / 718);
      margin-left: percentage((20/718)*-1);
    }
  }

  .article-section {
    header {
      width: percentage(695/620);
      margin-left: percentage(-135/620);
      padding-left: percentage(135/620);
    }

    h2 {
      width: percentage(620/695);
    }

    .subsection-header {
      width: percentage(695/620);
    }

    .vignette {
      position: absolute;
      left: 0;
      top: 2.5em;
    }
  }

  #feedback {

    h2,
    p {
      display: inline;
    }
  }
}
