@import "includes.css.scss";

@media only screen and (min-width: 768px) {
  /* Typography */
  p,
  ol,
  ul {
    font-size: (18em/16);
    line-height: (24/17);
    li,
    p {
      font-size: 1em;
    }
  }

  h1 {
    font-size: (37em/16);
    line-height: (37em/37);
    color: $green;
  }

  h2 {
    margin-top: 1em;
    font-size: (22em/16);
    line-height: (26/22);
  }

  .lead {
    p {
      margin-top: (12em/25);
      font-size: (22em/16);
      line-height: (26/22);
    }
  }

  .share {
    h2 {
      font-size: (20em/16);
      line-height: (22/20);
    }

    p {
      font-size: (17em/16);
      line-height: (24/17);
    }
  }

  .article-section {

    .section-lead,
    .subsection-lead {
      font-size: (13em/16);
      line-height: (17/13);
    }

    .vignette {
      display: none;
    }

    h3 {
      font-size: (26em/16);
      line-height: (30/26);
    }
  }
}

@media only screen and (min-width: 768px) {
  /* Navigation */

  #skip-to-navigation {
    display:none;
  }

  #wrap > nav[role="breadcrumbs"] {
    width: 580px;
    margin: 0 auto;
  }

  nav[role="navigation"] {
    ul {
      margin: 0 0 0 20px;
      list-style: none;
    }

    li {
      margin: 0;
      font-size: (16em/16);
      line-height: 1;
    }

    a {
      display: inline-block;
      margin-top: (2em/16);
      padding: (7em/16) (25em/16) (7em/16) (15em/16);
      background: $green;
      text-decoration: none;
      font-family: $swift;
      color: #fff;
      border-radius: 3px;
      &:hover {
        background: $green-dark;
      }
    }

    li.current {
      a {
        margin-left: -20px;
        padding: (12.5em/20) (25em/20) (12.5em/20) 1em;
        font-size: (20em/16);
        line-height: 1;
        background: $green-dark;
        color: #fff;
      }
    }
  }

  footer nav[role="breadcrumbs"] {
    border-bottom: 1px solid $warm-grey;
    margin-right: 115px;
    padding-bottom: 12px;
  }
  nav[role="site"] {
    @include small-text((13em/18), (17/18));
    border-bottom: 1px solid $warm-grey;
    padding: 15px 0;
    ul {
      float: left;
      width: percentage(180/580);
      margin: 0 20px 0 0;
      list-style: none;
      &.first,
      &.second {
        width: percentage(80/580);
        li {
          border-left: 1px solid $warm-grey;
          padding-left: 10px;
        }
      }
    }
    li {
      margin: 0 0 0 0;
    }
    form {
      margin-right: 185px;
      text-align:right;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  $screen-width: 768;
  $content-width: 580;

  #main,
  #wrap > footer {
    width: 580px;
    margin: 0 auto;
  }

  /* Layout */
  body {
    padding-top: (40em/16);
    background: #fff;
  }

  nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: percentage(160/$screen-width);
  }

  header[role="banner"] {
    margin-bottom: (80em/16);
  }

  #logo a {
    height: (90em/16);
    width: (103em/16);
  }

  article {
    .body {
      position:relative;
      > p,
      > ul,
      > ol {
        width: percentage(560/580);
      }

    }

    .share {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: percentage((718 + 40) / 718);
      margin-left: percentage((20/718)*-1);
    }
  }
}
