<header class="intro">
  <h1><%= locals[:title] || "Modernisera Sverige" %></h1>
  <div class="lead">
    <p>Miljöpartiet vill modernisera Sverige. Vi vill skapa ett hållbart samhälle, som möter klimatutmaningen och dessutom ger nya jobb.</p>
  </div>
</header>

<div class="illustration">
  <figure>
    <div>
      <div class="embedded-video widescreen vimeo">
        <img src="/dynamic/video-placeholder.jpg" alt="">
      </div>
    </div>
    <figcaption><b>Vår Politik</b> Åsa Romson och Gustav Fridolin berättar om Miljöpartiets politik.</figcaption>
  </figure>
</div>

<%= partial "components/topics" %>
