<div class="article-subsection">
  <%= partial 'components/news-list' %>
  <div class="fetch-more">
    <a href="#" class="action">
      <span class="icon-plus"></span>
      Visa fler nyheter
    </a>
  </div>

  <%= partial 'components/calendar-list' %>
  <div class="fetch-more">
    <a href="#" class="action">
      <span class="icon-plus"></span>
      Visa fler händelser
    </a>
  </div>
</div>
