<article>
  <div class="body">
    <ul>
      <li><a href="/pages/start.html">Start</a></li>
      <li><a href="/pages/article.html">En artikel</a></li>
      <li>
        <a href="/pages/topics.html">Vår politik</a>
        <ul>
          <li><a href="/pages/topic.html">Bostad</a></li>
          <li><a href="/pages/motion.html">En motion</a></li>
        </ul>
      </li>
      <li>
        <a href="/pages/about.html">Om Miljöpartiet de gröna</a>
        <ul>
          <li><a href="/pages/person.html">Åsa Romson</a></li>
          <li><a href="/pages/region.html">Jämtland</a></li>
        </ul>
      </li>
      <li>
        <a href="/pages/conversations.html">Prata politik</a>
        <ul>
          <li><a href="/pages/conversation.html">Ett samtal</a></li>
        </ul>
      </li>
      <li><a href="/speech-bubbles.html">Alla pratbubblor</a></li>
      <li><a href="/edit.html">Redigerbar sida</a></li>
    </ul>
  </div>
</article>
