<div class="main-section">
  <article>
    <header class="intro">
      <h1>Page templates</h1>
      <div class="lead">
        <p>
          A collection of page templates that shows how the components should be used in context.
        </p>
      </div>
    </header>
    <div class="body">
      <ul>
        <li><a href="/pages/start.html">Start</a></li>
        <li><a href="/pages/article.html">Article</a></li>
        <li><a href="/pages/motion.html">Article (motion)</a></li>
        <li><a href="/pages/topics.html">Topics overview</a></li>
        <li><a href="/pages/topic.html">Topic article</a></li>
        <li><a href="/pages/about.html">About overview</a></li>
        <li><a href="/pages/person.html">Person</a></li>
        <li><a href="/pages/region.html">Region</a></li>
        <li><a href="/pages/conversations.html">Conversations overview</a></li>
        <li><a href="/pages/conversation.html">Conversation</a></li>
      </ul>
    </div>
  </article>
</div>
