---
current_nav: about
title: Åsa Romson
url: http://www.mp.se/om/asa-romson
layout: mp
---
<% content_for :breadcrumbs do %>
  <a href="/pages/start.html">Hem</a>
  <a href="/pages/about.html" class="last">Om Miljöpartiet de gröna</a>
<% end %>

<div class="main-section">
  <article>
    <header class="intro">
      <h1>Åsa Romson</h1>
      <div class="lead">
        <p>Språkrör för Miljöpartiet de gröna, tillsammans med Gustav Fridolin. Ledamot av Sveriges Riksdag sedan 2010.</p>
      </div>
    </header>
    <div class="illustration">
      <figure>
        <div>
          <div class="embedded-video widescreen vimeo">
            <iframe src="http://player.vimeo.com/video/28932766?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
        <figcaption>
          <b>Åsa Romson</b>
          på Almedalsveckan 2012 i Visby. Llitati aectus. Enimusc iditatio iur autem volupti nctecum alicidebissi. Dolorere ribus, verferum ape con ratio. Et reptatem unt doluptate delest.
        </figcaption>
      </figure>
    </div>

    <header class="section-vignette">
      <span class="section-vignette-intro">
        Åsas hjärtefrågor
      </span>
    </header>

    <div class="topics">
      <div class="topic">
        <h2><a href="#">Jämställdhet.</a></h2>
        <p>Därför att jämställdhet är vår tids största utmaning. Vi vill investera i hållbara lösningar, som möter klimatutmaningen och skapar nya jobb.</p>
      </div>
      <div class="topic">
        <h2><a href="#">Försurning.</a></h2>
        <p>Många saknar jobb i Sverige, inte minst ungdomar. Vi behöver en politik som verkligen skapar nya jobb. Den utmaningen är vi beredda att ta tag i.</p>
      </div>
      <div class="topic">
        <h2><a href="#">Skola och utbildning.</a></h2>
        <p>Miljöpartiet vill ha en skola som präglas av hög kvalitet och pedagogisk mångfald. Vi vill skapa förutsättningar för olika profiler och inriktningar, där varje elev får möjlighet att utvecklas.</p>
      </div>
    </div>

    <blockquote class="image">
      <div>
        <p>Det finns starka skäl att prioritera bostäder till unga. Det är främst de som inte kommer in på bostadsmarknaden idag.</p>
      </div>
      <footer>
        <a href="/pages/person.html">
          <img src="/dynamic/asa_145x145.png" alt="">
          <p>
            <span class="name">Åsa Romson</span>,
            <span class="title">språkrör och riksdagsledamot sedan 2003</span>
          </p>
        </a>
      </footer>
    </blockquote>

    <div class="speech-bubble vcard">
      <div class="inner">
        <h2 class="fn">Åsa Romson</h2>
        <p><em class="title">Språkrör och riksdagsledamot</em></p>
        <div class="main">
          <ul>
            <li><a mail="mailto:asa.romson@riksdagen.se" class="email">asa.romson@riksdagen.se</a></li>
            <li>
              <span class="tel">
                <tel class="value">08-7865662</tel>
                <span class="type">(växel)</span>
              </span>
            </li>
            <li>
              <span class="tel">
                <tel class="value">08-7865662</tel>
                <span class="type">(pressekreterare)</span>
              </span>
            </li>
          </ul>
        </div>
        <div class="aside">
          <ul>
            <li><a href="http://www.asaromson.se/">Blogg</a></li>
            <li><a href="http://www.facebook.com/asaromson">Facebook</a></li>
            <li><a href="http://twitter.com/asaromson">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="main-section main-section-cream">
  <article>
    <header class="intro">
      <h1>Aktuella frågor för Åsa Romson</h1>
    </header>

    <%= partial 'news_list' %>
  </article>
</div>

<div class="main-section">
  <article class="tabbed">
    <header>
      <h1>Mer om Åsa Romson</h1>
    </header>
    <ul class="tabs">
      <li>
        <a href="#tab-politics" class="action">Om politik</a>
      </li><li>
        <a href="#tab-about" class="action">Personligt</a>
      </li><li>
        <a href="#tab-cv" class="action">CV</a>
      </li>
    </ul>
    <div id="tab-politics" class="article-subsection">
      <div class="body">
        <h2>Åsa Romson om politik</h2>
        <p>Jag heter Åsa Romson och är språkrör och riksdagsledamot för Miljöpartiet.</p>
        <p>Jag kan inte slå mig till ro när människan lever över naturens tillgångar och tillåter globala orättvisor. Visst är det enklast att bara flyta med i vardagen och inte bry sig. Men vem för då min talan?&nbsp;Det finns stora och viktiga frågor att ta itu med: resursslöseriet måste stoppas och livskvaliteten genom frisk luft och rent vatten värnas. Jag har som politiker engagerat mig mycket i miljö- och klimatfrågor både i riksdagen och tidigare som politiker i Stockholm.</p>
      </div>
    </div>
    <div id="tab-about" class="article-subsection">
      <div class="body">
        <h2>Personligt</h2>
        <p>Jag är jurist och innan riksdagen forskade och undervisade jag på Stockholms universitet i internationell juridik och särskilt miljörätt. Jag arbetade tidigare inom olika frivilligorganisationer med miljöfrågor och för mer global rättvisa. Jag är född 1972 och uppväxt i Salem i Stockholms södra förorter.</p>
        <p>Nu bor och trivs jag i stenstaden, nära vatten, grönska och trevliga kaféer. Och i staden föredrar jag cykeln, som är ett överlägset transportmedel, det går både snabbast och är hälsosamt! &nbsp;Det jag gillar bäst med storstaden är när roliga idéer från olika personer sätter sin prägel på lokala platser; ett fik med personlig stil, ett evenemang som är både kultur och samtal om samhället och småföretag som utvecklar framtidens tjänster.</p>
      </div>
    </div>
    <div id="tab-cv" class="article-subsection">
      <div class="body">
        <h2>CV</h2>
        <p>Doktor i juridik. Född 22 mars 1972, Uppväxt i Salem, söder om Stockholm.</p>
        <h3>Tidigare arbeten och uppdrag</h3>
        <p>1993 - 1995 Ledamot av Grön Ungdoms förbundsstyrelse, internationell kontaktperson<br>1998 - 2001 Ledamot av Miljöpartiets partistyrelse<br>2000 - 2001 Ledamot av Mediegrundlagsutredningen, SOU 2001:28<br>2001 Notarietjänstgöring Eskilstuna tingsrätt<br>2001 - 2004 Handläggare biståndsorganisationen Forum Syd<br>2002 - 2010&nbsp; Fullmäktige Stockholm stad, bl a talesperson trängselskatter och vice ordf Miljönämnden.<br>2005 - 2006 Gruppledare för Miljöpartiet, Stockholms stadshus<br>2006 - 2010 Doktorand och lärare miljörätt, Juridiska fakulteten, Stockholms universitet. Avhandlingsämnet är mellanstatliga investeringsavtal och dess påverkan på miljörätten i utvecklingsländer.<br>2010 - Ledamot av Sveriges riksdag</p>
        <h3>Utbildning</h3>
        <p>1988 - 1990 Södra Latins gymnasium, Stockholm, 2-årig estetisk praktisk (teater)<br>1990 - 1991 Komvux och eftergymnasiala studier inom Kulturama (radiolinje)<br>1991 - 1994 Studier till fil.kand. med svenska som huvudämne, Stockholms universitet<br>1996 - 2001 Juristlinjen, Stockholms universitet</p>
      </div>
    </div>
  </article>
</div>

<div class="main-section main-section-cream">
  <article>
    <h1>Uppdrag</h1>
    <div class="labeled-list-container">
      <ol class="labeled-list text-labels">
        <li class="group">
          <span class="label">Partistyrelsen</span>
          <ol class="list">
            <li><a href="#">Max Andersson</a></li>
            <li><a href="#">Bodil Ceballos</a></li>
            <li><a href="#">Jonas Eriksson</a></li>
            <li><a href="#">Gustav Fridolin</a> </li>
            <li><a href="#">Daniel Helldén</a></li>
            <li><a href="#">Ann Merete Kapstad</a></li>
            <li><a href="#">Jon Karlfeldt</a></li>
            <li><a href="#">Akko Karlsson</a></li>
            <li><a href="#">Anna Norrman</a></li>
            <li><a href="#">Lennart Olsen</a></li>
            <li><span>Åsa Romson</span></li>
            <li><a href="#">Yvonne Ruwaida</a></li>
            <li><a href="#">Karin Svensson Smith</a></li>
            <li><a href="#">Karin Thomasson</a></li>
            <li><a href="#">Helene Öberg</a></li>
          </ol>
        </li>
        <li class="group">
          <span class="label">Miljöpartister i Sveriges riksdag</span>
          <ol class="list">
            <li><a href="#">Agneta Börjesson</a></li>
            <li><a href="#">Agneta Luttropp</a></li>
            <li><a href="#">Annika Lillemets</a></li>
            <li><a href="#">Bodil Ceballos</a></li>
            <li><a href="#">Esabelle Dingizian</a></li>
            <li><a href="#">Gunvor G Ericson</a></li>
            <li><a href="#">Gustav Fridolin</a></li>
            <li><a href="#">Helena Leander</a></li>
            <li><a href="#">Jabar Amin</a></li>
            <li><a href="#">Jan Lindholm</a></li>
            <li><a href="#">Jonas Eriksson</a></li>
            <li><a href="#">Kew Nordqvist</a></li>
            <li><a href="#">Lise Nordi</a></li>
            <li><a href="#">Magnus Ehrencrona</a></li>
            <li><a href="#">Maria Ferm</a></li>
            <li><a href="#">Mats Pertoft</a></li>
            <li><a href="#">Mehmet Kaplan</a></li>
            <li><a href="#">Per Bolund</a></li>
            <li><a href="#">Peter Eriksson</a></li>
            <li><a href="#">Peter Rådberg</a></li>
            <li><a href="#">Stina Bergström</a></li>
            <li><a href="#">Tina Ehn</a></li>
            <li><a href="#">Ulf Holm</a></li>
            <li><a href="#">Valter Mutt</a></li>
            <li><span>Åsa Romson</span></li>
          </ol>
        </li>
      </ol>
    </div>
  </article>
</div>
