---
title: Sök
url: http://www.mp.se/search/site
layout: mp
---
<div class="main-section main-section-cream">
  <article>
    <h1>Föreslagna sidor</h1>
    <ul class="icon-list">
      <li>
        <a href="topic.html">
          <span class="icon mp"><img src="/images/sources/mp.png"></span>
          <span class="title">Åsa Romson</span>
          <span class="meta">Politiker</span>
        </a>
      </li>
      <li>
        <a href="topic.html">
          <span class="icon mp"><img src="/images/sources/mp.png"></span>
          <span class="title">Partiprogram</span>
          <span class="meta">Om oss</span>
        </a>
      </li>
      <li>
        <a href="topic.html">
          <span class="icon mp"><img src="/images/sources/mp.png"></span>
          <span class="title">Fred och försvar</span>
          <span class="meta">Vår politik A-Ö</span>
        </a>
      </li>
      <li>
        <a href="topic.html">
          <span class="icon mp"><img src="/images/sources/mp.png"></span>
          <span class="title">Hässleholm</span>
          <span class="meta">Kommun</span>
        </a>
      </li>
    </ul>
  </article>
</div>

<div class="main-section">
  <article>
<div class="search-header content-column"><form class="speech-bubble" action="/search/site/milj%25C3%25B6" method="post" id="search-form" accept-charset="UTF-8"><div><div class="inner"><div class="container-inline form-wrapper" id="edit-basic"><div class="form-item form-type-textfield form-item-keys">
  <input placeholder="Sökord" type="text" id="edit-keys" name="keys" value="miljö" size="20" maxlength="255" class="form-text">
</div>
<input type="submit" id="edit-submit" name="op" value="Sök" class="form-submit"><input type="hidden" name="get" value="[]">
</div></div><input type="hidden" name="form_build_id" value="form-YKeBIYIoNuaW5glEcYt1SpEDIqmHtOB_-gGIo_bcecY">
<input type="hidden" name="form_token" value="fjcdJtl6fXj3PYYdGWYxODA_vLD4KbZpUzU9nxF9hs0">
<input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
</div></form></div>    <h1>Alla sökresultat</h1>
    <div class="article-list">
    <div class="list-item">
      <h2><a href="http://www.mp.se/om/kongress/resor">Resor till kongressen</a></h2>
      <p>Reseutjämningen gäller tåg och bil. Bilresor ersätts med 18.50 kr/<strong>mil</strong>, vilket gäller per bil, inte per person som ... </p>
      <span class="meta">29 jan 2013</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/om/jan-hagman">Jan Hagman</a></h2>
      <p>Kommun- och landstings/regionpolitisk sekreterare </p>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/nacka/parkeringsnorm">Parkeringsnorm för centrala Nacka</a></h2>
      <p>elvamannafotbollsplaner i anslutning till de nya bostäderna och arbetsplatserna. Eller en tretton <strong>mil</strong> lång bilkö (8m per ... </p>
      <span class="meta">12 maj 2014</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/hylte/just-nu/klimatkonto-den-kommunala-verksamheten">Klimatkompensationskonto för den kommunala verksamheten</a></h2>
      <p>avdrag för 50 000 kronor för de få <strong>mil</strong> som körs på etanol kommer kontot att omsätta ca&nbsp;350 000 kronor. Siffrorna beräknade utefter ett medeltal på de olika årens kostnader för flygresor och antal körda <strong>mil</strong> ... </p>
      <span class="meta">25 apr 2014</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/nacka/cykelbanor">Cykel i Nacka</a></h2>
      <p>resor till, från och i arbetet. En cyklad <strong>mil</strong> istället för att köra bil ger minskade koldioxidutsläpp ... </p>
      <span class="meta">28 jun 2013</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/varmdo/fornybar-energi">Förnybar energi</a></h2>
      <p>skolskjutsar. En årlig uppföljning av antalet <strong>mil</strong> körda med fossilenergi och förnybart bränsle ska göras och en ... </p>
      <span class="meta">25 mar 2013</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/gotland/just-nu/insandare-miljopartiets-svar-pa-landsbygdens-utmaningar">Insändare: Miljöpartiets svar på landsbygdens utmaningar</a></h2>
      <p>70 öre på bensinpriset. Under 2011 körde gotlänningen i genomsnitt 695 <strong>mil</strong> (RUS) vilket, med en bensinförbrukning på 5l/<strong>mil</strong> och ett bensinpris på 15 kr, skulle ge en ökad kostnad på 243 kr/år, en bråkdel av den ... </p>
      <span class="meta">7 nov 2013</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/kungsbacka/just-nu/vi-vill-mycket-miljon-i-kungsbacka"> Vi vill mycket för miljön i Kungsbacka</a></h2>
      <p>så att man inte behöver åka många <strong>mil</strong> för slänga vissa slags skräp. Det ska vara lätt att hitta ... </p>
      <span class="meta">23 apr 2014</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/stockholms-lan/halso-och-sjukvard">En trygg hälso- och sjukvård </a></h2>
      <p>Barnmorskor som inte hinner gå på toaletten. Föräldrar som skickas iväg till sjukhus flera <strong>mil</strong> bort när de ska ... </p>
      <span class="meta">1 feb 2013</span>
    </div>
    <div class="list-item">
      <h2><a href="http://www.mp.se/enkoping/kollektivtrafik">ÅKE - för utveckling av Enköpings kollektivtrafik</a></h2>
      <p>likaså. Det blir väldigt många <strong>mil</strong> som åks i bil, och dessutom i med få personer i varje bil. Det är ... </p>
      <span class="meta">12 apr 2014</span>
    </div>
    </div>
    <h2 class="element-invisible">Sidor</h2><div class="item-list"><ul class="pager">
      <li class="pager-current first">1</li>
      <li class="pager-item"><a title="Gå till sida 2" href="/search/site/mil?page=1">2</a></li>
      <li class="pager-next"><a title="Gå till nästa sida" href="/search/site/mil?page=1">nästa ›</a></li>
      <li class="pager-last last"><a title="Gå till sista sidan" href="/search/site/mil?page=1">sista »</a></li>
    </ul>
  </article>
</div>

