//
// Article contents
//
article {
  @extend %page-section-content;

  header {
    @extend %content-column-expanded;

    + h1 {
      margin-top: 30px;
    }
  }

  p a,
  li > a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  // Page lead
  .lead p {
    @extend %typography-text-lead;
    margin-top: 2px;

    & + p {
      margin-top: 8px;
    }
  }

  + article {
    margin-top: (30em/16);

    @include respond-to(768px) {
      margin-top: (40em/16);
    }

    @include respond-to(768px) {
      margin-top: (60em/16);
    }

    h1 {
      color: #000;
    }
  }

  .body {
    @include respond-between(768px, 1023px) {
      position: relative;
    }

    > p,
    > ul,
    > ol {
      @include respond-between(768px, 1023px) {
        margin-right: (20em/18);
      }

      @include respond-to(1024px) {
        margin-right: (60em/18);
      }
    }

    li,
    p {
      @extend %typography-text-body;

      li {
        font-size: 1em;
      }
    }

    figure {
      @include respond-between(300px, 767px) {
        margin-top: (12em/16);
      }

      @include respond-to(600px) {
        margin-top: (20em/16);
      }

      &.full {
        @include respond-to(1024px) {
          margin-right: (60em/16);
        }
      }

      &.right,
      &.left {
        @include respond-to(600px) {
          width: percentage(240/600);
          margin: (10em/16) 0;
        }
      }

      &.right {
        @include respond-to(600px) {
          float: right;
          margin-left: (20em/16);
        }

        @include respond-to(1024px) {
          position: relative;
          width: percentage(310/640);
          margin-right: -55px;
          padding-top: 10px;
          border-top: 1px solid $warm-grey;
        }

        div {
          @include respond-to(1024px) {
            width: 235px;
            float: left;
            margin-right: 40px;
          }
        }

        figcaption {
          @include respond-to(1024px) {
            border: none;
            width: 145px;
            position: absolute;
            top: 10px;
            right: -110px;
            margin: 0;
          }
        }
      }

      &.left {
        @include respond-to(600px) {
          float: left;
          margin-right: (20em/16);
        }

        @include respond-to(1024px) {
          width: percentage(235/640);
        }
      }
    }
  }
}

// Article sections after the main content
.article-section {
  margin-top: (60em/16);

  @include respond-between(300px, 767px) {
    margin-top: (30em/16);
    margin-bottom: (30em/16);
  }

  h2 {
    a.topic {
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.06em;
    }
  }

  // Subsections
  .article-subsection {
    margin-top: (20em/16);
    border-top: 1px solid $warm-grey;

    @include respond-to(1024px) {
      @include box-sizing(border-box);
      width: percentage(695/640);
      padding-right: percentage(55/640);
    }

    &:first-child {
      margin-top: 0;
    }

    > p,
    > ul,
    > ol {
      @include respond-between(768px, 1023px) {
        margin-right: (20em/18);
      }

      @include respond-to(1024px) {
        margin-right: (60em/18);
      }
    }
  }

  header + .article-subsection {
    border-top: none;
    margin-top: 0;
  }

  .subsection-header {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid $warm-grey;

    @include respond-to(1024px) {
      width: percentage(695/640);
    }

    h3,
    .subsection-lead {
      display: inline;
    }
  }

  &.loading {
    h2 {
      background: transparent url(../images/load-grey-64.gif) 0 0 no-repeat;
      background-size: 32px 32px;
      margin-left: -52px;
      padding-left: 52px;
      min-height: 32px;
    }
  }
}

html.svg .article-section .vignette {
  background-image: url(../images/bg-vignette.svg);
}

header.intro .article-section {
  margin-top: (40em/16);
}

.illustration + .article-section {
  margin-top: (30em/16);
}
