body.has-billboard {
  #site-banner {
    @include respond-to(768px) {
      background: rgba(0,0,0,.3);

      &.detached.visible {
        background: rgba(43, 145, 4, .95);
      }
    }
  }

  #main {
    @include respond-to(768px) {
      padding-top: 0;
    }
  }

  #secondary-nav {
    @include respond-to(768px) {
      background: transparent;
    }
  }
}

.billboard-campaign {
  max-width: 1100px;
  margin: 0 auto 0 auto;

  a {
    display: block;
    text-decoration: none;
  }
}

.billboard-campaign-content {
  max-width: 660px;
  margin: -25px 10px 0 18px;
  @extend %speech-bubble;
  @extend %speech-bubble-corner;

  @include respond-to(768px) {
    margin: -140px auto 0 auto;
    padding: 30px;
  }

  h2 {
    margin: 0;
    @extend %typography-heading-medium;
  }

  p {
    margin: .25em 0 0 0;
    @extend %typography-heading-serif;
  }

  .action-link {
    text-decoration: underline;

    a:hover & {
      text-decoration: none;
    }
  }
}
