// Breadcrumbs
// Can be found both in the top of the page
// and in the page footer
nav.breadcrumbs {
  display: block;

  // The breadcrumbs is not used in the mobile view
  // instead we point users to the more complete site navigation
  #wrap > & {
    display: none;
    @extend %page-section-content;

    @include respond-to(600px) {
      display: block;
      border: none;
      margin: 0 auto (10em/16) auto;
    }

    @include respond-to(768px) {
      margin-bottom: (15em/16);
    }

    @include respond-to(1024px) {
    }
  }

  footer & {
    @extend %page-section-content-wide;
    border-top: 1px solid $warm-grey;
    padding-top: 10px;
    margin-bottom: 15px;

    @include respond-to(768px) {
      border: none;
    }
  }

  p {
    @extend %typography-text-small;
    margin: 0;
  }

  a,
  span {
    color: $text-light-grey;
    position: relative;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    padding-right: (20em/13);
    margin-right: (5em/13);
    background: url(../images/breadcrumb-slash.png) 100% 50% no-repeat;
    background-size: 11px 18px;

    &:hover {
      text-decoration: underline;
      color: $green;
    }

    &:last-child {
      padding-right: 0;
      background-image: none;
    }

    html.svg & {
      background-image: url(../images/breadcrumb-slash.svg);
    }
  }
}

