// Button like action links
%action {
  font-family: $mp-serif;
  font-size: 16px;
  line-height: (30/14);
  padding: 0 (12em/14);
  border-radius: (6em/14);
  border: 0;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}

%action-green {
  @extend %action;
  background: $green;
  color: #fff;

  &:hover {
    background: $green-dark;
    color: #fff;
  }

  &:active {
    background: #fff;
    color: $green;
  }
}

%action-yellow {
  background: $yellow;
  color: $magenta;
  text-decoration: none;

  &:hover,
  &:active {
    background: darken($yellow, 5%);
  }
}

%action-magenta {
  background: $magenta;
  color: $yellow;
  text-decoration: none;

  &:hover,
  &:active {
    background: darken($magenta, 5%);
  }
}

.action,
.form-submit,
.action a {
  @extend %action-green;
  -webkit-appearance: none;

  &.loading,
  &.loading:hover {
    background-image: url(../images/load-green-32.gif);
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-left: (30em/14);
  }

  .main-section-green & {
    @extend %action-yellow;
    color: $green;
  }

  .main-section-magenta & {
    @extend %action-yellow;
  }
}

.action-magenta {
  @extend %action-magenta;
}
