#site-footer {
  @extend %page-section;
  padding-top: 0;
  @extend %page-section-content-wide;

  .inner {
    @include clearfix;
    border-top: 1px solid $warm-grey;
    padding-top: (20em/16);

    @include respond-to(1024px) {
      padding-top: (25em/16);
      padding-right: 310px;
    }
  }
}

#logo-full {
  margin-top: 0;
  margin-bottom: (10em/12);
  float: right;

  @include respond-to(1024px) {
    float: right;
    margin-top: -10px;
    margin-right: -310px;
  }

  a {
    height: 46px;
    width: 290px;
    background: transparent url(../images/logo-full.png) 100% 0 no-repeat;
    background-size: 290px 46px;
    text-indent: -9999em;
    display: block;

    background-position: 100% 0;

    @include respond-to(768px) {
      height: (46em/18);
      background-size: (290em/18) (46em/18);
    }

    html.svg & {
      background-image: url(../images/logo-full.svg);
    }
  }
}

#copyright {
  margin-top: 0;
  clear: right;
  @include box-sizing(border-box);

  padding-left: (35em/12);
  background: transparent url(../images/cc.png) 0 2px no-repeat;
  background-size: 20px 20px;

  @include respond-to(1024px) {
    clear: none;
    float: left;
    width: 80%;
  }

  html.svg & {
    background-image: url(../images/cc.svg);
  }
}

