#site-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .navigation-is-open &,
  &.detached {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 77777;
    @include transition(transform .1s);
  }

  &.hidden {
    opacity: 0;
    @include transition(transform .2s, opacity 0 .3s);
    @include translate(0, -80px);

    .navigation-is-open & {
      opacity: 1;
      @include translate(0, 0);
    }
  }

  &.visible {
    opacity: 1;
    @include translate(0, 0);
    @include transition(transform .25s);
  }

  .inner {
    @include clearfix;
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
  }
}

#global-nav {
  background: $green;
  padding: 10px 0 0 0;
  @include transition(background-color .35s);

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      padding: 18px 0 0 0;
    }
    background: rgba(43, 145, 4, .95);
  }

  &.visible {
    @include transition(transform .25s);

    @include respond-to(768px) {
      background: rgba(43, 145, 4, .95);
    }
  }
}

#main {
  padding-top: 50px;

  @include respond-to(768px) {
    padding-top: 76px;
  }
}

@mixin siteBannerTakeOver {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  #site-banner {
    height: 100%;
    overflow: scroll;
    background-color: $green;
  }
}

body.navigation-is-open {
  @include respond-to(767px, false, max) {
    @include siteBannerTakeOver;
  }
}

.touch body.search-is-open {
  @include siteBannerTakeOver;
}

// Navigation elements

#site-banner .navigation,
#group-nav .navigation {
  @include clearfix;
  position: relative;
  padding: 0 18px;
  z-index: 500;

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      // Mirror the widths of logo and go to navigation
      margin-right: 160px;
      margin-left: 135px;
    }
  }

  @include respond-to(1024px) {
//    padding: 0;
  }
}

#logo {
  float: left;
  margin-bottom: 10px;

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      margin: 0 0 18px -135px;
    }
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 101px;
    height: 30px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;

    @include respond-to(768px) {
      body:not(.has-local-nav) & {
        width: 135px;
        height: 40px;
      }
    }
  }
}

#go-to-navigation {
  @include clearfix;
  float: right;
  margin: 0 -10px 10px 0;

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      width: 170px;
      margin-right: -160px;
      margin-bottom: 18px;
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    text-align: right;
  }

  a {
    float: right;
    color: #fff;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (22em/16);
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding: 0 12px;

    @include respond-to(768px) {
      body:not(.has-local-nav) & {
        margin-top: 5px;
      }
    }

    li:first-child & {
      margin-left: 0;
    }

    &.active {
      background-color: $green-dark;
      border-radius: 6px;
    }

    span {
      display: block;
      padding-right: 27px;
      background-size: 17px 17px;
      background-position: 100% 6px;
      background-repeat: no-repeat;
    }
  }
}

#skip-to-search span {
  background-image: url(../images/search-white.svg);
}

#skip-to-navigation span {
  background-image: url(../images/burger-white.svg);
}

.no-svg {
  #skip-to-search span {
    background-image: url(../images/search-white-1x.png);
  }

  #skip-to-navigation span {
    background-image: url(../images/burger-white-1x.png);
  }
}

#nav {
  clear: both;
  margin: 0;
  padding: 0;
  display: none;

  &.open {
    display: block;
  }

  @include respond-to(768px) {
    @include clearfix;
    padding: 0;
    body:not(.has-local-nav) & {
      clear: none;
    }
    body:not(.has-local-nav) .navigation & {
      display: block;
    }
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

%nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;

  &:hover {
    color: $yellow;
  }

  @include respond-to(820px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}


.nav-item-primary {
  display: inline;

  a {
    @extend %nav-item;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (28em/16);
    line-height: 1;
    padding-top: (12em/28);
    padding-bottom: (12em/28);
    -webkit-font-smoothing: antialiased;
    border-top: 1px solid rgba(255, 255, 255, .2);

    @include respond-to(768px) {
      float: left;
      border: none;
      padding: 0 14px;

      font-size: (34em/16);
      line-height: 40px;
    }

    @include respond-to(1024px) {
      font-size: (38em/16);
      padding: 0 18px;
    }
  }

  &.active-trail a {
    color: $yellow;
  }

  &:first-child a {
    border-top: none;
  }
}

.nav-item-secondary {
  float: left;
  width: 50%;

  @include respond-to(600px) {
    width: percentage(1/3);
  }

  @include respond-to(768px) {
    width: 25%;
  }

  a {
    @extend %nav-item;
    font-family: $mp-sans;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: (24em/16);
    padding-top: (10em/22);
    padding-right: 0;

    @include respond-to(768px) {
      font-size: (32em/16);
      padding-top: (18em/32);
    }
  }

  &.active-trail a {
    color: $yellow;
  }
}

#primary-nav {
  margin: 0 -18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      border: none;
    }
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
    body.has-local-nav & {
      padding-top: 14px;
      padding-bottom: 10px;
      margin-bottom: 0;
      @include clearfix;
      a {
        padding: 0 18px;
        margin-right: 20px;
      }
      @include respond-to(768px) {
        margin: 0 -18px;
      }
    }
  }

  @include respond-to(868px) {
    body:not(.has-local-nav) & {
      margin-left: 20px;
    }
  }
}

#secondary-nav {
  @include clearfix;
  clear: both;
  border-top: 1px solid rgba(255, 255, 255, .2);
  padding-top: 7px;
  margin: 0 -18px;
  padding-bottom: 30px;

  @include respond-to(768px) {
    display: none;
    body:not(.has-local-nav) & {
      // Mirror got nav and logo offsets
      margin: 0 -160px 30px -135px;
      padding: 0;
    }

    .open & {
      display: block;
    }
  }
}

#local-nav {
  clear: both;
  background-color: $cream;

  body.navigation-is-open & {
    display: none;
  }

  .nav-item-primary a {
    border-bottom: 1px solid rgba(43, 145, 44, 0.2);
    padding-top: 8px;
    padding-bottom: 3px;
    color: $magenta;
    &:hover,
    &.active {
      color: $magenta-dark;
    }
  }
  .nav-item-secondary {
    display: none;
    float: none;
    width: 100%;
    a {
      color: $green;
      &:hover,
      &.active {
        color: $green-dark;
      }
    }
  }
  &.open {
    .nav-item-secondary {
      display: list-item;
    }
    border-bottom: 1px solid rgba(43, 145, 44, 0.2);
    padding-bottom: 18px;
    @include respond-to(768px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
  }
  li {
    padding: 0;
    list-style: none;
  }
  
  @include respond-to(768px) {
    background-color: rgba(246, 244, 229, .95);
    display: block;
    padding: 7px 0 3px 0;
    border-bottom: 1px solid rgba(43, 145, 44, .1);
    ul {
      padding: 0 18px;
    }
    .nav-item-primary a {
      padding: 0;
      font-size: 2em;
      line-height: normal;
      min-width: 135px;
      border-bottom: 0;
    }
    .nav-item-secondary {
      width: auto;
      display: inline;
      float: left;
      a {
        padding: 0 18px;
      }
    }
    .toggler {
      display: none;
    }
  }
  @include respond-to(868px) {
    .nav-item-primary a {
      min-width: 155px;
    }
  }
  .toggler {
    float: right;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (22em/16);
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding: 0 12px;
    margin: 5px 8px;
    &:after {
      content: '';
      background-image: url("../images/rotation-pointer.png");
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      width: 12px;
      height: 13px;
      display: inline-block;
      margin-left: 4px;
      @include transition(transform 0.25s);
    }
    .no-svg &:after {
      background-image: url("../images/rotation-pointer.svg");
    }
    &.active:after {
      transform: rotate(180deg);
    }
  }
}

#group-nav {
  background-color: $cream;
  padding: 8px 0;

  .inner {
    @include clearfix;
    max-width: 970px;
    margin: 0 auto;
  }
  ul {
    margin: 0 0 0 67px;
    @include respond-to(768px) {
      margin: 0 -160px 0 20px;
    }
  }
  li {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    list-style: none;
    width: auto;
  }
  li a {
    color: $green;
  }

  #local-logo {
    margin: 0 0 5px 0;
    float: left;

    @include respond-to(768px) {
      margin: 0 0 8px -90px;
      float: left;
    }

    a {
      display: block;
      text-indent: -9999px;
      width: 67px;
      height: 57px;
      background: transparent url(../images/logo-gefa.png) 0 0 no-repeat;
      background-size: 100%;
      margin-top: 10px;

      @include respond-to(768px) {
        width: 90px;
        height: 73px;
      }
    }
  }
  & a:hover,
  & a.active {
	color: $magenta;
  }
}

#search {
  display: none;
  clear: both;
  margin: 0 -18px;
  padding: 18px 18px 18px 18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  @include respond-to(768px) {
    body:not(.has-local-nav) & {
      margin: 0 -160px 18px -135px;
    }
  }

  &.open {
    display: block;
  }

  form {
    margin-right: 70px;
    @include clearfix;
  }

  input {
    float: left;
  }

  .action {
    float: right;
    display: block;
    margin: 0 -70px 0 0;
    background: $green-dark;
  }
}

.main-search {
  @include box-sizing(border-box);
  padding: (10em/16) 0 (10em/16) 0;
  margin: 0 -18px;
  border: none;
  background: transparent;
  position: relative;

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  a {
    @include clearfix;
    padding: (9em/16) 18px;
    display: block;
    @extend %typography-text;
    text-decoration: none;
    color: $yellow;

    &:hover {
      background: $green-dark;
    }

    &.search-all {
      color: #fff;

      .query {
        color: $yellow;
      }
    }

    > span {
      float: left;
      width: 50%;
    }
  }

  .name {
    white-space: normal;
  }

  .category {
    @extend %typography-text-small;
    display: block;
    margin-top: 2px;
    color: #fff;
    text-align: right;
  }

  em {
    font-style: normal;
  }

  .focused a {
    color: $yellow;
    background: $green-dark;
  }
}

body.has-local-nav #main {
  padding-top: 100px; 
  @include respond-to(768px) {
    padding-top: 80px; 
  }
}
