#cookies {
  display:none;
  background: #000;
  @extend %typography-text-small;
  color: #fff;
  padding: 8px 20px 16px 20px;

  @include respond-to(768px) {
    text-align: center;
  }

  p {
    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

#site-banner {
  @extend %page-section-content-wide;
  @include clearfix;
  background: $green;
  position: relative;
  @include box-sizing(border-box);

  @include respond-to(768px) {
    max-width: 970px;
  }
}

#logo {
  float: left;
  margin: 15px 40px 15px 18px;

  a {
    display: block;
    text-indent: -9999px;
    width: 150px;
    height: 43px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}

// Navigation elements

#go-to-navigation {
  margin: 0;
  float: right;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  a {
    display: inline-block;
    padding: 15px 18px;
    color: #fff;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (24em/16);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }
}

%nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

#nav {
  clear: both;
  margin: 0;
  @include clearfix;
  display: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item-primary {
    a {
      @extend %nav-item;
      padding-top: .5em;
      padding-bottom: .5em;
      font-family: $mp-sans;
      font-weight: normal;
      font-size: (28em/16);
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }

  .nav-item-secondary {
    float: left;
    width: 50%;

    a {
      @extend %nav-item;
      padding-top: .8em;
      padding-bottom: .8em;
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }

}

#search {
  display: none;
  padding: 15px 18px;
  border-top: 1px solid rgba(255, 255, 255, .2);
}