#cookies {
  display:none;
  background: #000;
  @extend %typography-text-small;
  color: #fff;
  padding: 8px 20px 16px 20px;

  @include respond-to(768px) {
    text-align:center;
  }

  p {
    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

#site-banner {
  @extend %page-section-content-wide;
  @include clearfix;
  background: rgba(0,0,0,.6);
  position: relative;
  @include box-sizing(border-box);
  padding-right: 18px;
  padding-left: 18px;

  @include respond-to(768px) {
    padding-right: 25px;
    padding-left: 25px;
    max-width: 950px;
  }
}

#logo {
  float: left;
  margin: 15px 40px 0 0;

  a {
    display: block;
    text-indent: -9999px;
    width: 150px;
    height: 43px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}
