#cookies {
  display:none;
  background: #000;
  @extend %typography-text-small;
  color: #fff;
  padding: 8px 20px 16px 20px;

  @include respond-to(768px) {
    text-align: center;
  }

  p {
    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

#site-banner {
  @include clearfix;
  background: $green;
  position: relative;
  padding: 10px 0 10px 0;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }

  .inner {
    max-width: 970px;
    margin: 0 auto;
  }
}

body.site-banner-is-active {
  @include respond-to(768px, false, max) {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 57px;
  }
}
// Navigation elements

#site-banner .navigation {
  @include clearfix;
  position: relative;
  padding: 0 18px;

  @include respond-to(768px) {
    margin-right: 145px;
    margin-left: 126px;
  }
}

#logo {
  float: left;

  @include respond-to(768px) {
    margin: 0 0 0 -126px;
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 126px;
    height: 37px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;
  }
}

#go-to-navigation {
  @include clearfix;
  float: right;
  margin: 0;

  @include respond-to(768px) {
    margin: 0 -145px 0 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  a {
    display: inline-block;
    color: #fff;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (22em/16);
    line-height: 37px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;

    padding: 0 24px 0 10px;
    margin-left: 10px;
    background-repeat: no-repeat;

    li:first-child & {
      margin-left: 0;
    }
  }

  #skip-to-search {
    background-image: url(../images/search-white.svg);
    background-size: 17px 17px;
    background-position: 100% 9px;
  }

  #skip-to-navigation {
    background-image: url(../images/burger-white.svg);
    background-size: 17px 17px;
    background-position: 100% 9px;
  }
}

%nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

#nav {
  clear: both;
  margin: 0;
  padding: 10px 0 0 0;
  @include clearfix;
  display: none;

  &.open {
    display: block;
  }

  @include respond-to(768px) {
    @include clearfix;
    padding: 0;
    display: block;
    clear: none;
    margin-left: 40px;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item-primary {
    a {
      @extend %nav-item;
      padding-top: .5em;
      padding-bottom: .5em;
      font-family: $mp-sans;
      font-weight: normal;
      font-size: (28em/16);
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      border-top: 1px solid rgba(255, 255, 255, .2);

      @include respond-to(768px) {
        float: left;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 37px;
      }
    }
  }

  .nav-item-secondary {
    float: left;
    width: 50%;

    a {
      @extend %nav-item;
      padding-top: .8em;
      padding-bottom: .8em;
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

#secondary-nav {
  @include respond-to(768px) {
    display: none;
    background: $green;

    .open & {
      display: block;
      position: absolute;
      right: -145px;
      top: 47px;
      max-width: 400px;
    }
  }
}

#search {
  float: left;
  width: 100%;
  @include box-sizing(border-box);
  clear: both;
  display: none;
  margin: 10px 0 0 0;
  position: relative;
  padding: 10px 18px 0 18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  &.open {
    display: block;
  }
}
