#cookies {
  display: none;
  background: #000;
  @extend %typography-text-small;
  color: #fff;
  padding: 8px 20px 16px 20px;
  margin-top: -10px;
  margin-bottom: 10px;

  @include respond-to(768px) {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 18px;
  }

  p {
    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

#site-banner {
  background: $green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0 0;
  z-index: 100;

  @include respond-to(768px) {
    padding: 18px 0 0 0;
  }

  .navigation-is-open &,
  &.detached {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 77777;
    @include transition(transform .1s);
  }

  &.hidden {
    opacity: 0;
    @include transition(transform .2s, opacity 0 .3s);
    @include translate(0, -80px);

    .navigation-is-open & {
      opacity: 1;
      @include translate(0, 0);
    }
  }

  &.visible {
    opacity: 1;
    background: $green;
    @include translate(0, 0);
    @include transition(transform .25s, background-color .35s);

    @include respond-to(768px) {
      background: rgba(43, 145, 4, .95);
    }
  }

  .inner {
    @include clearfix;
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
  }
}

#main {
  padding-top: 50px;

  @include respond-to(768px) {
    padding-top: 76px;
  }
}

body.navigation-is-open {
  @include respond-to(767px, false, max) {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #site-banner {
      height: 100%;
      overflow: scroll;
    }
  }
}
// Navigation elements

#site-banner .navigation {
  @include clearfix;
  position: relative;
  padding: 0 18px;
  z-index: 4000;

  @include respond-to(768px) {
    // Mirror the widths of logo and go to navigation
    margin-right: 160px;
    margin-left: 135px;
  }

  @include respond-to(1024px) {
    padding: 0;
  }
}

#logo {
  float: left;
  margin-bottom: 10px;

  @include respond-to(768px) {
    margin: 0 0 18px -135px;
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 101px;
    height: 30px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;

    @include respond-to(768px) {
      width: 135px;
      height: 40px;
    }
  }
}

#go-to-navigation {
  @include clearfix;
  float: right;
  margin: 0 -10px 10px 0;

  @include respond-to(768px) {
    width: 160px;
    margin-right: -160px;
    margin-bottom: 18px;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    text-align: right;
  }

  a {
    float: right;
    color: #fff;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (22em/16);
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding: 0 12px;

    @include respond-to(768px) {
      margin-top: 5px;
    }

    li:first-child & {
      margin-left: 0;
    }

    &.active {
      background-color: $green-dark;
      border-radius: 6px;
    }

    span {
      display: block;
      padding-right: 27px;
      background-size: 17px 17px;
      background-position: 100% 6px;
      background-repeat: no-repeat;
    }
  }

  #skip-to-search span {
    background-image: url(../images/search-white.svg);
  }

  #skip-to-navigation span {
    background-image: url(../images/burger-white.svg);
  }
}

%nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;

  &:hover {
    color: $yellow;
  }

  @include respond-to(820px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

#nav {
  clear: both;
  margin: 0;
  padding: 0;
  @include clearfix;
  display: none;

  &.open {
    display: block;
  }

  @include respond-to(768px) {
    @include clearfix;
    padding: 0;
    display: block;
    clear: none;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-item-primary {
    a {
      @extend %nav-item;
      font-family: $mp-sans;
      font-weight: normal;
      font-size: (28em/16);
      line-height: 1;
      padding-top: (12em/28);
      padding-bottom: (12em/28);
      -webkit-font-smoothing: antialiased;
      border-top: 1px solid rgba(255, 255, 255, .2);

      @include respond-to(768px) {
        float: left;
        border: none;
        padding: 0 14px 0 14px;


        font-size: (34em/16);
        line-height: 40px;
      }

      @include respond-to(1024px) {
        font-size: (38em/16);
        padding: 0 18px 0 18px;
      }
    }

    &:first-child a {
      border-top: none;
    }
  }

  .nav-item-secondary {
    float: left;
    width: 50%;

    @include respond-to(600px) {
      width: percentage(1/3);
    }

    @include respond-to(768px) {
      width: 25%;
    }

    a {
      @extend %nav-item;
      font-family: $mp-sans;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      font-weight: normal;
      font-size: (24em/16);
      padding-top: (10em/22);
      padding-right: 0;

      @include respond-to(768px) {
        font-size: (32em/16);
        padding-top: (18em/32);
      }
    }
  }
}

#primary-nav {
  margin: 0 -18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  @include respond-to(768px) {
    border: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }

  @include respond-to(868px) {
    margin-left: 20px;
  }
}

#secondary-nav {
  @include clearfix;
  clear: both;
  border-top: 1px solid rgba(255, 255, 255, .2);
  padding-top: 7px;
  margin: 0 -18px 10px -18px;
  padding-bottom: 30px;

  @include respond-to(768px) {
    display: none;
    // Mirror got nav and logo offsets
    margin: 0 -160px 30px -135px;
    padding: 0;

    .open & {
      display: block;
    }
  }
}

#search {
  display: none;
  clear: both;
  margin: 0 -18px;
  padding: 18px 18px 18px 18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  @include respond-to(768px) {
    margin: 0 -160px 18px -135px;
  }

  &.open {
    display: block;
  }

  form {
    margin-right: 70px;
    @include clearfix;
  }

  input {
    float: left;
  }

  .action {
    float: right;
    display: block;
    margin: 0 -70px 0 0;
    background: $green-dark;
  }
}

.main-search {
  @include box-sizing(border-box);
  padding: (10em/16) 0 (10em/16) 0;
  margin: 0 -18px;
  border: none;
  background: transparent;
  position: relative;

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  a {
    @include clearfix;
    padding: (9em/16) 18px;
    display: block;
    @extend %typography-text;
    text-decoration: none;
    color: $yellow;

    &:hover {
      background: $green-dark;
    }

    &.search-all {
      color: #fff;

      .query {
        color: $yellow;
      }
    }

    > span {
      float: left;
      width: 50%;
    }
  }

  .name {
    white-space: normal;
  }

  .category {
    @extend %typography-text-small;
    display: block;
    margin-top: 2px;
    color: #fff;
    text-align: right;
  }

  em {
    font-style: normal;
  }

  .focused a {
    color: $yellow;
    background: $green-dark;
  }
}

