#cookies {
  display:none;
  background: #000;
  @extend %typography-text-small;
  color: #fff;
  padding: 8px 20px 16px 20px;

  @include respond-to(768px) {
    text-align: center;
  }

  p {
    display: inline-block;
    margin: 8px .5em 0 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &.action {
      display: inline-block;
      background: $green;
      color: #fff;
      margin: 8px 0 0 0;
      text-decoration: none;

      &:hover {
        background: darken(rgb(102, 102, 102), 2%);
      }

      &:active {
        background: lighten(rgb(102, 102, 102), 5%);
      }
    }
  }
}

#site-banner {
  background: $green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 10px 0;

  @include respond-to(768px) {
    padding: 18px 0;
  }

  &.detached {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 77777;
  }

  .inner {
    @include clearfix;
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
  }
}

#main {
  padding-top: 50px;
}

body.site-banner-is-detached {
  @include respond-to(768px, false, max) {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #site-banner {
      bottom: 0;
    }
  }
}
// Navigation elements

#site-banner .navigation {
  @include clearfix;
  position: relative;
  padding: 0 18px;
  z-index: 4000;

  @include respond-to(768px) {
    // Mirror the widths of logo and go to navigation
    margin-right: 160px;
    margin-left: 101px;
  }
}

#logo {
  float: left;

  @include respond-to(768px) {
    margin: 0 0 0 -101px;
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 101px;
    height: 30px;
    background: transparent url(../images/logo-side.svg) 0 0 no-repeat;
    background-size: 100%;

    @include respond-to(768px) {
      width: 135px;
      height: 40px;
    }
  }
}

#go-to-navigation {
  @include clearfix;
  float: right;
  margin: 0 -10px 0 0;

  @include respond-to(768px) {
    width: 160px;
    margin: 0 -160px 0 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    text-align: right;
  }

  a {
    float: right;
    color: #fff;
    font-family: $mp-sans;
    font-weight: normal;
    font-size: (22em/16);
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding: 0 10px 0 10px;

    @include respond-to(768px) {
      line-height: 40px;
    }

    li:first-child & {
      margin-left: 0;
    }

    &.active {
      background-color: $green-dark;
      border-radius: 3px;
    }

    span {
      display: block;
      padding-right: 27px;
      background-size: 17px 17px;
      background-position: 100% 6px;
      background-repeat: no-repeat;

      @include respond-to(768px) {
        background-position: 100% 11px;
      }
    }
  }

  #skip-to-search span {
    background-image: url(../images/search-white.svg);
  }

  #skip-to-navigation span {
    background-image: url(../images/burger-white.svg);
  }
}

%nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

#nav {
  clear: both;
  margin: 0;
  padding: 10px 0 0 0;
  @include clearfix;
  display: none;

  &.open {
    display: block;
  }

  @include respond-to(768px) {
    @include clearfix;
    padding: 0;
    display: block;
    clear: none;
    margin-left: 40px;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item-primary {
    a {
      @extend %nav-item;
      font-family: $mp-sans;
      font-weight: normal;
      font-size: (28em/16);
      line-height: 1;
      padding-top: (14em/28);
      padding-bottom: (14em/28);
      -webkit-font-smoothing: antialiased;
      border-top: 1px solid rgba(255, 255, 255, .2);

      @include respond-to(768px) {
        float: left;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 30px;

        font-size: (38em/16);
        line-height: 40px;
      }
    }

    &:first-child a {
      border-top: none;
    }

  }

  .nav-item-secondary {
    float: left;
    width: 50%;

    a {
      @extend %nav-item;
      padding-top: (12em/16);
      padding-bottom: (12em/16);
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

#secondary-nav {
  @include respond-to(768px) {
    display: none;
    background: $green;

    .open & {
      display: block;
      position: absolute;
      right: -160px;
      top: 58px;
      max-width: 400px;
    }
  }
}

#search {
  float: left;
  width: 100%;
  @include box-sizing(border-box);
  clear: both;
  display: none;
  margin: 10px 0 0 0;
  position: relative;
  padding: 10px 18px 0 18px;
  border-top: 1px solid rgba(255, 255, 255, .2);

  &.open {
    display: block;
  }
}
