// Main image
.illustration {
  @extend %content-column-expanded;
  margin-top: (20em/16);

  @include respond-between(768px, 1023px) {
    margin-top: (20em/16);
  }

  @include respond-to(1024px) {
    margin-top: (30em/16);
  }

  figure {
    > div {
      @include respond-to(1024px) {
        float: left;
        width: percentage(640/805);
      }
      position: relative;
      .copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        transition: background-color 0.5s;
        padding: 2px 10px 0 2px;
        border-radius: 14px 0 0 0;
        color: rgba(255,255,255,0.9);
        text-decoration: none;
        .ui-license {
          background-image: url("/images/license-icons.svg");
          background-size: 100px 210px;
          overflow: hidden;
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
        vertical-align: middle;
        .name { 
          @extend %typography-text-small;
          vertical-align: middle;
          white-space: nowrap;
        }
        .cc1 { background-position: left -30px; width: 52px; }
        .cc2 { background-position: left -60px; width: 76px; }
        .cc3 { background-position: left -90px; width: 76px; }
        .cc4 { background-position: left -120px; width: 76px; }
        .cc5 { background-position: left -150px; width: 100px; }
        .cc6 { background-position: left -180px; width: 100px; }
      }
    }

    figcaption {
      color: $text-light-grey;

      @include with-dark-sections {
        color: #fff;
      }

      @include respond-to(1024px) {
        float: right;
        width: percentage(145/805);
        margin: 0 0 0 percentage(20/805);
        border:none;
      }

      strong,
      b {
        color: $text-grey;

        @include with-dark-sections {
          color: #fff;
        }
      }
    }
  }
}


