// Navigation elements
#go-to-navigation {
  margin: 0;
  width: 30%;
  float: right;
  text-align: right;

  li {
    display: inline;
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    display: inline-block;
    letter-spacing: 1px;
    font-family: $mp-sans;
    font-size: (20em/16);
    line-height: 75px;
    color: #fff;
  }
}

#top-navigation {
  @include clearfix;
  float: left;
  margin: 0;

  li {
    margin: 0;
    float: left;
    margin: 0 0 0 35px;
    padding: 0;
    list-style: none;

    &.aside {
      float: right;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    @extend %typography-heading;
    line-height: 75px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
}

#full-navigation {
  clear: both;
  display: none;
}

#site-navigation {
  @include clearfix;
  position: relative;
  // Expand to full width
  margin-right: -18px;
  margin-left: -18px;

  @include respond-to(768px) {
    margin-right: auto;
    margin-left: auto;
  }

  li {
    a.active {
      color: $green;
    }
  }

  form {
    @include respond-to(1024px) {
      margin-right: 185px;
    }

    input {
      @include respond-to(1024px) {
        width: (220em/14);
      }
    }
  }
}

// This is the site navigation when activated in a mobile view
#site-top-navigation {
  @include respond-between(300px, 767px) {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  &.hidden {
    @include respond-between(300px, 767px) {
      display: none;
    }
  }

  a.close {
    @extend %typography-text-small;

    @include respond-between(300px, 767px) {
      display: block;
      text-align: right;
      clear: both;
      border-top: 1px solid #fff;
    }

    span {
      @include respond-between(300px, 767px) {
        display: block;
        padding: 16px 0;
        padding-right: 24px;
        margin-right: 15px;
        background: $beige url(../images/close.svg) 100% 50% no-repeat;
        background-size: 14px 14px;
      }
    }
  }
}
// Site navigation is found in the bottom of the page
nav.main-navigation {
  @extend %page-section-content-wide;

  @include respond-between(300px, 767px) {
    background: $beige;
    width: auto;
    margin: 0;
  }

  @include respond-to(768px) {
    border-top: 1px solid $warm-grey;
    border-bottom: 1px solid $warm-grey;
    padding: 15px 0;
  }

  .inner {
    @include clearfix;
    padding: 0 18px;
    @extend %page-section-content;

    @include respond-to(768px) {
      padding: 0;
    }

    @include respond-to(1024px) {
      width: auto;
    }

    > div {
      @include respond-to(768px) {
        float: left;
        width: (170em/16);
        margin: 0 20px 0 0;
      }
    }
  }

  ul {
    @include respond-between(300px, 767px) {
      margin:0;
      list-style: square;
      color: $green;
    }

    @include respond-to(768px) {
      margin: 0;
      list-style: none;
    }
  }

  li {
    @extend %typography-text-small;

    @include respond-to(768px) {
      margin: 0;
    }
  }

  a {
    @include respond-between(300px, 767px) {
      line-height: 1.5;
    }
  }

  .sections {
    ul {
      @include respond-between(300px, 767px) {
        list-style: none;
      }
    }

    li {
      @include respond-between(300px, 767px) {
        font: normal (18em/16) $mp-serif;
        margin: 0;
        border-bottom:1px solid #fff;
      }
    }

    a {
      @include respond-between(300px, 767px) {
        margin: 0;
        display: block;
        line-height: 2.5;
        background: transparent url(../images/arrows-right.png) 100% -36px no-repeat;
        background-size: 9px 128px;
      }

      &:hover {
        @include respond-between(300px, 767px) {
          background-position: 100% -100px;
        }
      }

      html.svg & {
        @include respond-between(300px, 767px) {
          background-image: url(../images/arrows-right.svg);
        }
      }
    }
  }

  div.first,
  div.second {
    @include respond-between(300px, 767px) {
      margin-top: 15px;
      margin-bottom: 15px;
      float: left;
      width: percentage(144/320);
    }

    li {
      @include respond-between(300px, 767px) {
        list-style: disc;
        list-style-position: inside;
        margin-left: 15px;
        white-space: nowrap;
      }

      @include respond-to(768px) {
        border-left: 1px solid $warm-grey;
        padding-left: 10px;
      }
    }

    a {
      @include respond-between(300px, 767px) {
        background-image: none;
      }
    }
  }

  div.first {
    @include respond-to(768px) {
      width: (100em/16);
    }
  }

  div.second {
    @include respond-between(300px, 767px) {
      border-left: 1px solid #fff;
    }

    @include respond-to(768px) {
      width: (120em/16);
    }
  }

  form {
    @include respond-between(300px, 767px) {
      display: none;
    }

    @include respond-to(768px) {
      text-align:right;
      float: right;
    }

    input {
      @include respond-to(768px) {
        width: (140em/16);
      }
    }
  }
}

#secondary-navigation {
  @include respond-between(300px, 767px) {
    padding-top: 12px;
    text-align: right;
  }

  @include respond-between(600px, 767px) {
    padding-top: 0;
  }

  @include respond-to(768px) {
    position: relative;
    border-bottom: 1px solid $warm-grey;
    float: right;
    padding-bottom: (6em/16);
    width: percentage(220/768);
  }

  @include respond-between(768px, 1023px) {
    position: relative;
    border-bottom: 1px solid $warm-grey;
    float: right;
    padding-bottom: (8em/16);
    width: percentage(300/768);
  }

  @include respond-to(1024px) {
    width: percentage(275/970);
    margin-top: (23em/16);
    margin-right: percentage(115/970);
  }

  ul,
  li {
    display: inline;
  }

  a {
    @extend %typography-text-small;
    color: $text-light-grey;

    @include respond-to(768px) {
      white-space: nowrap;
      margin-right: 0;
    }

    @include respond-between(768px, 1023px) {
      margin-left: .2em;
      padding-left: 10px;
      background: transparent url(../images/bullet.png) 0 50% no-repeat;
      background-size: 4px 4px;
    }

    &:hover {
      @include respond-to(768px) {
        color: $green;
      }
    }

    html.svg & {
      @include respond-between(768px, 1023px) {
        background-image: url(../images/bullet.svg);
      }
    }
  }

  .more a {
    @include respond-to(768px) {
      position: absolute;
      right: 0;
      bottom: -1.8em;
      margin-right: 0;
    }

    @include respond-to(1024px) {
      right: 5px;

      &.show-less {
        right: -5px;
      }
    }
  }

  .more a,
  li:first-child a {
    @include respond-between(768px, 1023px) {
      background-image: none;
      margin-left: 0;
      padding-left: 0;
    }

    html.svg & {
      @include respond-between(768px, 1023px) {
        background-image: none;
      }
    }
  }

  > div {
    @include respond-to(768px) {
      text-align: right;
      margin-top: (10em/16);
    }

    @include respond-to(1024px) {
      text-align: left;
      margin: -(25em/14) percentage((115/275) * -1) 0 0;
      float: right;
      width: percentage(145/275);
    }

    a {
      @include respond-to(1024px) {
        line-height: (20/14);
        display: block;
      }
    }
  }

  form {
    @include respond-between(300px, 767px) {
      display: inline-block;
      vertical-align: top;
      margin-right: (6em/16);
    }

    @include respond-to(768px) {
      text-align: right;
    }

    @include respond-to(1024px) {
      float: left;
      text-align: left;
    }

    input {
      z-index: 50;
      position: relative;
    }

    button {
      z-index: 60;
    }

    .suggestions {
      @include clearfix;
      display: block;
      position: absolute;
      top: 22px;
      left: 0;
      right: 0;
      z-index: 30;
      border-radius: 4px 0 4px 4px;
      text-align: left;

      @include respond-between(768px, 1023px) {
        border-top: 1px solid $warm-grey;
      }

      ul,
      li {
        display: block;
      }

      a {
        font-size: (16em/16);
        color: $green;
        font-family: $font-family;
        .category {
          font-size: (13em/16);
        }
      }
    }
  }

  div {
    @include respond-between(300px, 767px) {
      display: none;
    }
  }

  .search {
    @include respond-to(768px) {
      text-align: right;
    }

    @include respond-to(1024px) {
      width: (200em/16);
    }

    input {
      @include respond-between(300px, 767px) {
        width: (120em/14);
      }

      @include respond-to(600px) {
        width: 70%;
      }

      @include respond-to(768px) {
        width: (140em/16);
      }

      @include respond-to(1024px) {
        width: 100%;
      }
    }
  }
}

#skip-to-navigation {
}
