.news-posts {
  @include respond-to(1024px) {
    width: auto;
    margin-right: (20em/16);
  }

  a {
    @include respond-to(1024px) {
      margin-right: (35em/22);
    }
  }

  & + .icon-list {
    @include respond-to(768px) {
      padding-top: (15em/16);
      margin-top: (15em/16);
      border-top: 1px solid $warm-grey;
    }
  }
}

