.search {
  position: relative;

  input {
    width: 100%;
    margin: 0;
  }

  .submit {
    text-indent: -9999em;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: (15em/16);
    height: (15em/16);
    background: transparent url(../images/search.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
      background-position: 0 ((50em/16) * -1);
    }

    html.svg & {
      background-image: url(../images/search.svg);
    }
  }
}

.suggestions {
  background: $yellow;
  border-radius: 0 0 4px 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-left: -25px;
  z-index: 2000;

  ul {
    margin-left: 0;

    @include respond-to(600px) {
      margin-left: 20px;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .focused a {
    color: $green-dark;
    text-decoration: none;
  }
}

div.search-header {
  margin-bottom: 3em;
}

