.take-action {
  @extend %page-section-content-wide;
  color: $magenta;

  a {
    color: $magenta;
  }
}

.take-action-inner {
  border: 1px solid $warm-grey;
  @include clearfix;
  padding: 18px 15px;
  @include border-radius(10px);

  @include respond-to(768px) {
    padding: 25px 35px 25px 35px;
  }
}

.take-action-section {
  @include respond-to(1024px) {
    float: left;
    width: 33%;
    margin: 0;
  }
}

.take-action-section-primary {
  @include respond-to(1024px) {
    width: 60%;
    margin-right: 7%;
    margin-bottom: 0;
  }
}
