.take-action {
  max-width: 970px;
  margin: 0 auto;
  color: $magenta;

  @include respond-between(600px, 1024px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  a {
    color: $magenta;
  }

  .take-action-list {
    @include respond-to(600px) {
      @include clearfix;

      .take-action-list-item {
        text-align: center;
      }

      .take-action-list-item-primary {
        float: left;
        width: 33.3%;
        margin: 0 0 .35em 0;
      }

      .take-action-list-item-secondary {
        clear: left;
      }
    }
  }
}

.take-action-inner {
  border: 1px solid $warm-grey;
  @include clearfix;
  padding: 18px 15px;
  @include border-radius(10px);

  @include respond-to(768px) {
    padding: 25px 35px 25px 35px;
  }
}
