.vignette {
  @extend %section-intro;

  article & {
    @extend %content-column-expanded-small;
  }

  @include respond-to(1024px) {
    margin-left: -165px;
    padding-left: 165px;
  }
}

.vignette-header {
  @extend %typography-heading-small;
  line-height: 1;
  color: #fff;
  display: none;

  @include respond-to(1024px) {
    display: block;
    position: absolute;
    top: -12px;
    left: 0;
  }

  span {
    position: relative;
    z-index: 210;
    width: 70px;
    display: block;
    text-align: center;
  }

  &:after {
    @include respond-to(1024px) {
      content: "";
      display: block;
      position: absolute;
      z-index: 110;
      top: -15px;
      left: -15px;
      width: 90px;
      height: 79px;
      background: transparent url(../images/bg-vignette-magenta.png) 0 0 no-repeat;
      background-size: 100%;
    }

    html.svg & {
      background-image: url(../images/bg-vignette-magenta.svg);
    }
  }
}

.vignette-intro {
  @extend %section-intro-pull-out;
  @extend %typography-text-small;
  color: $text-light-grey;

  @include with-dark-sections {
    color: #fff;
  }

  strong,
  b {
    color: $text-grey;

    @include respond-to(1024px) {
      display: block;
    }

    @include with-dark-sections {
      color: #fff;
    }
  }
}

.section-vignette {
  @extend %section-intro;

  article & {
    @extend %content-column-expanded-small;
  }
}

.section-vignette-intro {
  @extend %section-intro-pull-out;
  @extend %typography-text-small;
  color: $text-light-grey;

  @include with-dark-sections {
    color: #fff;
  }

  b {
    color: $text-grey;

    @include respond-to(1024px) {
      display: block;
    }

    @include with-dark-sections {
      color: #fff;
    }
  }
}

