<div class="speech-bubble">
  <div class="inner">
    <div class="main">
      <h2>Följ oss som det passar dig</h2>
      <p>Miljöpartiet finns självklart både på Facebook och Twitter. Dessutom har vi flera <a href="#">RSS-flöden</a> som kanske passar just dig.</p>
    </div>
    <div class="aside">
      <ul>
        <li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
        <li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">MP-bloggar</a></li>
      </ul>
    </div>
  </div>
  <% if locals[:edit] %>
    <a href="#" class="edit-link-simple">Redigera</a>
  <% end %>
</div>
