<div class="take-action">
  <div class="take-action-inner">
    <div class="take-action-item take-action-newsletter">
      <h2>Grönt nyhetsbrev</h2>
      <form action="#">
        <label for="email">Din e-post</label>
        <input type="email" name="email" placeholder="Din e-post">
        <button type="submit" class="action">Prenumerera</button>
      </form>
    </div>
    <div class="take-action-item take-action-social">
      <ul>
        <li><a href="https://www.facebook.com/miljopartiet"><span class="icon-facebook"></span>21 186 gillar</a></li>
        <li><a href="https://twitter.com/miljopartiet"><span class="icon-twitter"></span>28 300 följer</a></li>
      </ul>
    </div>
    <div class="take-action-item take-action-more">
      <h2>Du kan även ...</h2>
      <ul>
        <li><a href="#"><span class="icon-arrow"></span>Bli medlem</a></li>
        <li><a href="#"><span class="icon-arrow"></span>Ge en gåva</a></li>
        <li><a href="#"><span class="icon-arrow"></span>Bli volontär</a></li>
      </ul>
    </div>
  </div>
  <% if locals[:edit] %>
    <a href="#" class="edit-link-simple">Redigera</a>
  <% end %>
</div>
