<div class="take-action">
  <div class="take-action-inner">
    <div class="take-action-item take-action-newsletter">
      <form action="#">
        <label for="email">Fyll i din e-postadress</label>
        <input type="email" name="email" placeholder="Fyll i din e-postadress">
        <button type="submit" class="action">Anmäl dig till vårt nyhetsbrev</button>
      </form>
    </div>
    <div class="take-action-item take-action-list">
      <ul>
        <li class="take-action-list-item take-action-social"><a href="https://www.facebook.com/miljopartiet"><span class="icon-facebook"></span>21 186 gillar</a></li>
        <li class="take-action-list-item take-action-social"><a href="https://twitter.com/miljopartiet"><span class="icon-twitter"></span>28 300 följer</a></li>
        <li class="take-action-list-item take-action-more"><a href="#"><span class="icon-arrow"></span>Fler sätt att engagera dig</a></li>
      </ul>
    </div>
  </div>
  <% if locals[:edit] %>
    <a href="#" class="edit-link-simple">Redigera</a>
  <% end %>
</div>
