<div class="speech-bubble">
  <div class="inner">
    <div class="main">
      <h2>Engagera dig, bli medem!</h2>
      <p>Lorem ipsum dolore Ita eniae et, aut iunt et prest, ad mos a disciatecea voluptature.</p>
    </div>
    <div class="aside">
      <ul>
        <li><a href="#">Bli medlem</a></li>
        <li><a href="#">Ge en gåva</a></li>
        <li><a href="#">Sprid budskapet</a></li>
      </ul>
    </div>
  </div>
</div>
