<div class="speech-bubble">
  <div class="inner">
    <div class="main">
      <h2>Vad vill vi göra där du bor?</h2>
      <p>Vi finns i hela landet och driver grön politik på din gata. Klicka på knappen så får du se:</p>
    </div>
    <div class="aside">
      <div class="position-me">
        <a class="action" href="#">Använd din position</a>
        <span class="choose">eller <a href="#">välj kommun manuellt</a></span>
      </div>
    </div>
  </div>
</div>
