<div class="speech-bubble">
  <div class="inner">
    <h2>Dela och diskutera denna sida</h2>
    <p>Starta ett politiskt samtal i dina n채tverk, v책r demokrati m책r bra av det!</p>
    Kopiera l채nk: <input type="text" class="share" value="<%= locals.fetch(:url) { 'http://www.mp.se' } %>">
  </div>
</div>
