<header class="intro">
  <h1>Modernisera Sverige</h1>
  <div class="lead">
    <p>Miljöpartiet vill modernisera Sverige. Vi vill skapa ett hållbart samhälle, som möter klimatutmaningen och dessutom ger nya jobb.</p>
  </div>
</header>
<div class="illustration">
  <figure>
    <div>
      <div class="embedded-video widescreen vimeo">
        <iframe src="http://player.vimeo.com/video/28932766?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281"  webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    <figcaption><b>Modernisera Sverige</b> När boQuam rehenda ntiamus temost veliquatus perspe planihil et alitatibus doles as aut alitiorerum laut et occullupic tecte estenim qui.</figcaption>
  </figure>
</div>
<div class="body">
  <ol class="topics">
    <li>
      <h2><a href="/topic.html">Klimatet.</a></h2>
      <p>Klimatförändringarna är vår tids största utmaning. Vi vill investera i hållbara lösningar, som möter klimatutmaningen och skapar nya jobb.</p>
    </li>
    <li>
      <h2><a href="/topic.html">Nya jobb.</a></h2>
      <p>Många saknar jobb i Sverige, inte minst ungdomar. Vi behöver en politik som verkligen skapar nya jobb. Den utmaningen är vi beredda att ta tag i.</p>
    </li>
    <li>
      <h2><a href="/topic.html">Skola och utbildning.</a></h2>
      <p>Miljöpartiet vill ha en skola som präglas av hög kvalitet och pedagogisk mångfald. Vi vill skapa förutsättningar för olika profiler och inriktningar, där varje elev får möjlighet att utvecklas.</p>
    </li>
    <li>
      <h2><a href="/topic.html">Migration och lika rätt.</a></h2>
      <p>Miljöpartiet vill skapa ett Sverige där alla är välkomna; oavsett var du kommer ifrån, vem du älskar eller om du har någon funktionsnedsättning. Ett samhälle som ger upp att vara bra för alla är snart inte bra för någon.</p>
    </li>
  </ol>
</div>
