<header class="intro">
  <h1><%= locals[:title] || "Modernisera Sverige" %></h1>
  <div class="lead">
    <p>Miljöpartiet vill modernisera Sverige. Vi vill skapa ett hållbart samhälle, som möter klimatutmaningen och dessutom ger nya jobb.</p>
  </div>
</header>

<div class="illustration">
  <figure>
    <div>
      <div class="embedded-video widescreen vimeo">
        <img src="images/sketch/video-placeholder.jpg" alt="">
      </div>
    </div>
    <figcaption><b>Vår Politik</b> Åsa Romson och Gustav Fridolin berättar om Miljöpartiets politik.</figcaption>
  </figure>
</div>

<div class="article-list article-list-pull-out">
  <div class="list-item">
    <h2>
      <a href="/topic.html">Klimatet.</a>
    </h2>
    <p>Klimatförändringarna är vår tids största utmaning. Vi vill investera i hållbara lösningar, som möter klimatutmaningen och skapar nya jobb.</p>
    <% if locals[:edit] %>
      <a href="#" class="edit-link-simple">Redigera</a>
    <% end %>
  </div>
  <div class="list-item">
    <h2>
      <a href="/topic.html">Migration och lika rätt.</a>
    </h2>
    <p>Miljöpartiet vill skapa ett Sverige där alla är välkomna; oavsett var du kommer ifrån, vem du älskar eller om du har någon funktionsnedsättning. Ett samhälle som ger upp att vara bra för alla är snart inte bra för någon.</p>
    <% if locals[:edit] %>
      <a href="#" class="edit-link-simple">Redigera</a>
    <% end %>
  </div>
  <div class="list-item">
    <h2>
      <a href="/topic.html">Nya jobb.</a>
    </h2>
    <p>Många saknar jobb i Sverige, inte minst ungdomar. Vi behöver en politik som verkligen skapar nya jobb. Den utmaningen är vi beredda att ta tag i.</p>
    <% if locals[:edit] %>
      <a href="#" class="edit-link-simple">Redigera</a>
    <% end %>
  </div>
  <div class="list-item">
    <h2>
      <a href="/topic.html">Skola och utbildning.</a>
    </h2>
    <p>Miljöpartiet vill ha en skola som präglas av hög kvalitet och pedagogisk mångfald. Vi vill skapa förutsättningar för olika profiler och inriktningar, där varje elev får möjlighet att utvecklas.</p>
    <% if locals[:edit] %>
      <a href="#" class="edit-link-simple">Redigera</a>
    <% end %>
  </div>
</div>
