<div class="speech-bubble">
  <div class="inner">
    <h2>Så här gör du för att starta ett samtal</h2>
    <ul>
      <li>ställ din fråga på Twitter <a href="http://twitter.com/miljopartiet">@miljopartiet</a></li>
      <li>eller på <a href="http://facebook.com/miljopartiet">facebook.com/miljopartiet</a></li>
      <li>men det går också bra att <a href="mailto:mp@example.com">mejla oss direkt</a></li>
      <li>eller <a href="#conversation-form" id="go-to-form">fylla i ett formulär</a></li>
    </ul>
    <form action="/conversations" method="post" id="conversation-form">
      <input type="text" name="name" placeholder="Namn (frivilligt)">
      <input type="text" name="email" placeholder="E-postadress (frivilligt)">
      <textarea name="message" placeholder="Din fundering (max 400 tecken)" rows="5"></textarea>
      <button type="submit" class="action">Skicka</button>
    </form>
  </div>
</div>
