---
current_nav: about
title: Om Miljöpartiet de gröna
url: http://www.mp.se/om
---

<div class="main-section">
  <article>
    <header class="intro">
      <h1>Ett modernt grönt parti</h1>
      <div class="lead">
        <p>Miljöpartiet de gröna är Sveriges tredje största riksdagsparti. Vi är med och styr i över hundra kommuner och landsting. Vi moderniserar Sverige.</p>
        <p>Miljöpartiet de gröna är Sveriges tredje största riksdagsparti. Vi är med och styr i över hundra kommuner och landsting. Vi moderniserar Sverige.</p>
      </div>
    </header>
    <div class="illustration">
      <figure>
        <div>
          <div class="embedded-video widescreen vimeo">
            <iframe src="http://player.vimeo.com/video/28932766?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
        <figcaption>
          <b>Modernisering pågår!</b>
          Vi bygger framtidens gröna samhälle. Två minuter film om hur Miljöpartiet påverkar redan nu.
        </figcaption>
      </figure>
    </div>
    <div class="body">
      <p>Miljöpartiet är en del av en global grön rörelse som arbetar för hållbara och demokratiska samhällen, där människor tar ansvar lokalt och globalt.Partiet grundades 1981 och har funnits i vissa kommuner redan innan dess. I det senaste valet till Europaparlamentet fick vi 11% av rösterna.</p>
      <p>
        I det senaste valet till riksdagen fick vi 7,3 % av rösterna och blev Sveriges tredje största parti.
      </p>
      <ul class="horizontal">
        <li><a href="#">Partiprogram</a></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Stadgar</a></li>
        <li><a href="#">Kongress</a></li>
      </ul>
    </div>
  </article>

  <%= partial 'bubbles/get_involved' %>
</div>

<div class="main-section main-section-green">
  <article>
    <h1>Språkrör</h1>
    <header class="section-vignette">
      <span class="section-vignette-intro">
        <b>Inte en, utan två</b>
        Istället för en partiledare har vi två språkrör som för ut vår politik.
      </span>
    </header>
    <div class="people grid"><div class="container">
      <div class="column c2">
        <a href="/person.html">
          <img src="images/sketch/people/gustaf-fridolin.jpg" alt="">
          <h2>Gustaf Fridolin</h2>
          <p>Språkrör, riksdagsledamot och folkhögskollärare</p>
        </a>
      </div><div class="column c2">
        <a href="/person.html">
          <img src="images/sketch/people/asa-romson.jpg" alt="">
          <h2>Åsa Romson</h2>
          <p>Språkrör, riksdagsledamot och doktor i Miljörätt</p>
        </a>
      </div>
    </div></div>
  </article>

  <article>
    <h1>Nyckelpersoner</h1>
    <header class="section-vignette">
      <span class="section-vignette-intro">
        Möt våra gröna politiker.
      </span>
    </header>

    <div class="people grid"><div class="container">
      <div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/anders-wallner.jpg" alt="">
          <h2>Anders Wallner</h2>
          <p>Partisekreterare</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/helene-oberg.jpg" alt="">
          <h2>Helene Öberg</h2>
          <p>Sammankallande i partistyrelsen</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/gunvor-g-ericson.jpg" alt="">
          <h2>Gunvor G Ericson</h2>
          <p>Gruppledare i riksdagen</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/mehmet-kaplan.jpg" alt="">
          <h2>Mehmet Kaplan</h2>
          <p>Gruppledare i riksdagen</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/isabella-lovin.jpg" alt="">
          <h2>Isabella Lövin</h2>
          <p>EU-parlamentariker</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/carl-schlyter.jpg" alt="">
          <h2>Carl Schlyter</h2>
          <p>EU-parlamentariker</p>
        </a>
      </div>
    </div></div>
  </article>
</div>


<div class="main-section main-section-cream local-z">
  <%= partial 'bubbles/localize' %>
  <article>
    <h1>Nära dig</h1>
    <header class="section-vignette">
      <span class="section-vignette-intro">Här möter du lokala politiker från <a href="/jamtland.html">Östersund</a> och <a href="/jamtland.html">Jämtland</a>. Du kan enkelt <a href="">ändra kommun</a> om du vill.</span>
    </header>

    <div class="people grid"><div class="container">
      <div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/karin-thomasson.jpg" alt="">
          <h2>Karin Thomasson</h2>
          <p>Kommunalråd</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/bosse-sall.jpg" alt="">
          <h2>Bosse Säll</h2>
          <p>Ordförande</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/owen-laws.jpg" alt="">
          <h2>Owen Laws</h2>
          <p>Gruppledare (Jämtland)</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/anna-hildebrand.jpg" alt="">
          <h2>Anna Hildebrand</h2>
          <p>Landstingsråd (Jämtland)</p>
        </a>
      </div>
    </div></div>
  </article>
</div>

<div class="main-section">
  <article>
    <header class="intro">
      <h1>Miljöpartiet runt om i Sverige</h1>
      <div class="lead">
        <p>Vi finns i hela landet. För att läsa om vår lokala politik kan du välja kommun här.</p>
      </div>
    </header>
    <form class="speech-bubble" action="/search/topics" method="get">
      <div class="search inner">
        <input type="search" placeholder="Sök kommun" id="list-search" data-target-list="#localities">
      </div>
    </form>
    <div class="labeled-list-container" id="localities">
      <ol class="labeled-list text-labels">
      <% Localities.all.each do |group, localities| %>
        <li class="group">
          <h2 class="label"><%= group %></h2>
          <ol class="list">
          <% localities.each do |locality| %><li>
            <a href="#"><%= locality %></a>
          </li><% end %>
          </ol>
        </li>
      <% end %>
      </ol>
    </div>
  </article>
</div>
