---
current_nav: about
---
<% content_for :head do %>
  <title>Vår gröna historie</title>
<% end %>
<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <a href="/about.html">Om Miljöpartiet de gröna</a>
  <span>Vår historia</span>
<% end %>
<article>
  <header class="intro">
    <h1>Vår gröna historia</h1>
    <div class="lead">
      <p>Miljöpartiet de gröna är Sveriges tredje största riksdagsparti. Vi är med och styr i över hundra kommuner och landsting. Vi moderniserar Sverige.</p>
    </div>
  </header>
  <div class="illustration">
    <figure>
      <div>
        <img src="/images/sketch/history.jpg" alt="Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten">
      </div>
      <figcaption>
        <b>Torgmöte Sundsvall 1982.</b>
        Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten
      </figcaption>
    </figure>
  </div>
  <div class="body">
    <p>Den 4 oktober 1988 öppnade riksdagen igen, efter sommaruppehåll och valrörelse, och för första gången på 70 år skulle ett nytt parti inta sina platser i kammaren.</p>
    <figure class="right">
      <div>
        <img src="/images/sketch/chart.png" alt="Ökat inflytande. Miljöpartiet har på tjugo år mer än fyrdubblat antalet mandat i Sveriges Riksdag">
      </div>
      <figcaption>
        <b>Ökat inflytande.</b> Miljöpartiet har på tjugo år mer än fyrdubblat antalet mandat i Sveriges Riksdag
      </figcaption>
    </figure>
    <p>Miljöpartisterna tågade till riksdagen från kansliet på Urvädersgränd på Claes RoxberghSöder i Stockholm, ackompanjerade av sambabandet Banancompaniet, och med flockar med journalister och fotografer i hasorna.</p>
    <p>Det var feststämning och de tjugo nya gröna ledamöterna var stolta, fulla av energi och redo att röra om bland de andra försoffade partierna och i den byråkratiska riksdagsförvaltningen.</p>
    <figure class="full">
      <div>
        <img src="/images/sketch/history.jpg" alt="Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten">
      </div>
      <figcaption>
        <b>Torgmöte Sundsvall 1982.</b>
        Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten
      </figcaption>
    </figure>
    <p>Ständiga förhandlingar och kompromisser i utskotten, inget reellt inflytande i riksdagen, informella nätverk att stångas mot och de ständiga krockarna mellan de visionära idéerna och dagspolitiken blev deras nya vardag.</p>
    <h2>Miljöpartisterna tågade till riksdagen</h2>
    <p>Från kansliet på Urvädersgränd på Claes RoxberghSöder i Stockholm, ackompanjerade av sambabandet Banancompaniet, och med flockar med journalister och fotografer i hasorna.</p>
    <p>Det var feststämning och de tjugo nya gröna ledamöterna var stolta, fulla av energi och redo att röra om bland de andra försoffade partierna och i den byråkratiska riksdagsförvaltningen.</p>
    <p>Men snart tvingades Carl Frick, Åsa Domeij, Kjell Dahlström, Jill Lindgren och de andra att inse att verkligheten inte var så enkel och att livet som riksdagsledamot långt ifrån är den dans på rosor som många kanske tror.</p>
    <p>Ständiga förhandlingar och kompromisser i utskotten, inget reellt inflytande i riksdagen, informella nätverk att stångas mot och de ständiga krockarna mellan de visionära idéerna och dagspolitiken blev deras nya vardag.</p>
  </div>
  <%= partial 'bubbles/share', locals: { url: 'http://www.mp.se/om/historia' } %>
</article>


