---
body_class: "front has-billboard"
---

<div class="billboard-campaign billboard-campaign-has-video">
  <a href="/topic.html" class="billboard-campaign-link">
    <div class="billboard-campaign-media-wrap" style="background: #000">
      <div class="billboard-campaign-media-inner">
        <div class="billboard-campaign-media embedded-video widescreen">
          <video controls autoplay loop>
            <source src="dynamic/1_loop.webm"
                    type='video/webm;codecs="vp8, vorbis"'/>
            <source src="dynamic/1_loop.mp4"
                    type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
          </video>
        </div>
      </div>
    </div>
    <div class="billboard-campaign-content-wrap">
      <div class="billboard-campaign-content">
        <div class="inner">
          <h2>Modernisera Sverige</h2>
          <p class="billboard-campaign-action-link">Läs mer om hur vi vill skapa ett hållbart samhälle</p>
        </div>
      </div>
    </div>
  </a>
</div>
