---
body_class: "front has-billboard"
---

<div class="billboard-campaign">
  <a href="/topic.html" class="billboard-campaign-link">
    <div class="billboard-campaign-media-wrap" style="background: #000">
      <div class="billboard-campaign-media-inner">
        <div class="billboard-campaign-media">
          <img src="/dynamic/sprakror.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="billboard-campaign-content-wrap">
      <div class="billboard-campaign-content">
        <div class="inner">
          <h2>Modernisera Sverige</h2>
          <p class="billboard-campaign-action-link">
            <span class="icon-arrow"></span>
            Läs mer om hur
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
