---
current_nav: conversations
---
<article>
  <div class="body">
    <div class="conversations">
      <div class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. Lenda velest vellamentum ressimos qui omnisti dolessum facerum sandige.</p>
            <p>Ehenisquas ut volorumquis et mo quati suntori oreribus solupta aspicia voloris cimus, aceatusanis sequam que sequia venis ra si omnissus, sum eaquamus dolenis siti natibus in et, sus eosapis ea cupta qui dolum de int ipis que velibus sa nos ad es re pa est, ommoluptatem qui id quibus aliciistibus as dolupta volores sinitem sus des aut omnist, officae ctiores secaborum fuga.</p>
            <p>Nem re rae plati inis sapiendi ut explis arum dolesciae et qui aut odi dissimo lorerumquod magnienecto.</p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">I går</span>
        </span>
        <span class="related">
          Relaterade ämnen:
          <a href="#">Företagande</a>,
          <a href="#">Klimat</a>,
          <a href="#">Jämställdhet</a>
        </span>
      </div>
      <div class="fetch-more">
        <a class="action comments" href="#disqus_thread">Visa kommenter</a>
      </div>
    </div>
  </div>
</article>
<article>
  <header class="intro">
    <h1>Andra samtal i samma ämne</h1>
  </header>
  <div class="conversations">
    <section class="article-section">
      <div class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">I går</span>
        </span>
      </div>
    </section>
    <section class="article-section">
      <div class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">24 dec 2011</span>
          <span class="comments">
            <a href="#comment-1">51 kommentarer</a>
            från Lena, Sara, Johan, Staffan, Simone …och 46 fler
          </span>
        </span>
      </div>
    </section>
  </div>
</article>
<article id="start-conversation">
  <header class="intro">
    <h1>Starta ett samtal</h1>
    <div class="lead">
      <p>Ingen fråga är för liten eller för stor för att inte diskuteras. Vi svarar så snabbt vi kan.</p>
    </div>
  </header>
  <%= partial 'start_conversation' %>
</article>
