---
current_nav: conversations
---
<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <span>Prata politik</span>
<% end %>
<article>
  <header class="intro">
    <h1>Samtala med oss</h1>
    <div class="lead">
      <p>Genom att lyssna och vara öppna och samtidigt ha en närvaro i den gröna politiken kan vi utveckla vårt parti och det politiska klimatet i Sverige. Läsa vad vi samtal om just nu eller så kan du <a href="#start-conversation">starta ett eget samtal.</a>
    </div>
  </header>
  <section class="article-section conversations">
    <ul>
      <li class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </li>
      <li class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </li>
      <li class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </li>
      <li class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </li>
    </ul>
    <p><a href="#" class="action">Visa fler samtal</a></p>
  </section>
</article>
<article id="start-conversation">
  <header class="intro">
    <h1>Starta ett samtal</h1>
    <div class="lead">
      <p>Ingen fråga är för liten eller för stor för att inte diskuteras. Vi svarar så snabbt vi kan.</p>
    </div>
  </header>
  <div class="speech-bubble">
    <h2>Så här gör du för att starta ett samtal</h2>
    <ul>
      <li>ställ din fråga på Twitter <a href="http://twitter.com/miljopartiet">@miljopartiet</a></li>
      <li>eller på <a href="http://facebook.com/miljopartiet">facebook.com/miljopartiet</a></li>
      <li>men det går också bra att <a href="mailto:mp@example.com">mejla oss direkt</a></li>
      <li>eller <a href="#conversation-form" id="go-to-form">fylla i ett formulär</a></li>
    </ul>
    <form action="/conversations" method="post" id="conversation-form">
      <input type="text" name="name" placeholder="Namn (frivilligt)">
      <input type="text" name="email" placeholder="E-postadress (frivilligt)">
      <textarea name="message" placeholder="Din fundering (max 400 tecken)" rows="5"></textarea>
      <button type="submit" class="action">Skicka</button>
    </form>
  </div>
</article>
