---
current_nav: conversations
title: Prata politik
url: http://www.mp.se/prata
---
<article>
  <header class="intro">
    <h1>Prata politik med oss</h1>
    <div class="lead">
      <p>Genom att lyssna och vara öppna och samtidigt ha en närvaro i den gröna politiken kan vi utveckla vårt parti och det politiska klimatet i Sverige. Läsa vad vi samtal om just nu eller så kan du <a href="#start-conversation">starta ett eget samtal.</a>
    </div>
  </header>
  <div class="conversations">
    <section class="article-section">
      <div class="conversation">
        <div class="question">
          <a href="/conversation.html">
            <div class="content">
              <p>
                Hur ställer ni gröna partier er till landsbygdsinfrastruktur
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <a href="/conversation.html">
            <div class="content">
              <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnis … <span class="read-more">Läs hela svaret</span>
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="#">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">Idag</span>
        </span>
      </div>
    </section>
    <section class="article-section">
      <div class="conversation">
        <div class="question">
          <a href="/conversation.html">
            <div class="content small">
              <p>
                Detta är en fråga med 50 tecken. Då blir den såå.
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <a href="/conversation.html">
            <div class="content">
              <p>
                En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="#">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">I går</span>
        </span>
      </div>
    </section>
    <section class="article-section">
      <div class="conversation">
          <div class="question">
            <a href="/conversation.html">
              <div class="content medium">
                <p>
                  Detta är en fråga med 100 tecken. Då blir den. Detta är en fråga med 50 tecken. Då blir den så här.
                </p>
              </div>
            </a>
            <div class="byline">
              <img src="http://placehold.it/48x48" alt="">
              <p>Fredrika Gullfor (@gullfot) på twitter</p>
              <span class="arrow"></span>
            </div>
          </div>
          <div class="answer">
            <a href="/conversation.html">
              <div class="content">
                <p>
                  En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
                </p>
              </div>
            </a>
            <div class="byline">
              <img src="http://placehold.it/48x48" alt="">
              <p><a href="#">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
              <span class="arrow"></span>
            </div>
          </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">Måndag 18 juni</span>
          <span class="comments">
            <a href="/conversation.html#disqus_thread">Visa kommentarer</a>
          </span>
        </span>
        <div class="voting">
          <div class="votable" data-show-results-copy="Visa resultat">
            <form action="#" class="pollanon" method="post">
              <div>
                <span class="topic">Är du nöjd med kollektivtrafiken där du bor?</span>
                <div class="vote-form">
                  <div class="choices">
                    <div class="form-item form-type-radios form-item-choice">
                      <div id="edit-choice" class="form-radios">
                        <div class="form-item form-type-radio form-item-choice">
                          <input type="radio" id="edit-choice-1" name="choice" value="1" class="form-radio" />
                          <label class="option" for="edit-choice-1">Ja</label>
                        </div>
                        <div class="form-item form-type-radio form-item-choice">
                          <input type="radio" id="edit-choice-2" name="choice" value="2" class="form-radio" />
                          <label class="option" for="edit-choice-2">Nej </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="submit" id="edit-vote" name="op" value="Rösta" class="action form-submit" />
                </div>
              </div>
            </form>
          </div>
          <div class="poll-results" data-show-votable-copy="Visa frågan">
            <span class="answer">
              <b>Ja:</b><span class="meter"><span style="width:25%;">25%</span></span>
              <span class="summary">25% (4170 st)</span>
            </span>
            <span class="answer">
              <b>Nej:</b><span class="meter"><span style="width:75%;">75%</span></span>
              <span class="summary">75% (12425 st)</span>
            </span>
            <span class="summary">Antal röster: 16595 st</span>
          </div>
        </div>
      </div>
    </section>
    <section class="article-section">
      <div class="conversation">
        <div class="question">
          <a href="/conversation.html">
            <div class="content large">
              <p>
                Detta är en fråga med 255 tecken. Då blir den. Detta är en fråga med 50 tecken. Då blir den så här. Detta är en fråga med 100 tecken. Då blir den. Detta är en fråga med 50 tecken. Då blir den så här. Detta är en fråga med 100 tecken. Då blir den så här.
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <a href="/conversation.html">
            <div class="content">
              <p>
                En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
              </p>
            </div>
          </a>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="#">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <span class="meta">
          <span class="time">24 dec 2011</span>
          <span class="comments">
            <a href="/conversation.html#disqus_thread">Visa kommentarer</a>
          </span>
        </span>
      </div>
    </section>
    <div class="fetch-more">
      <a href="#" class="action">Visa fler samtal</a>
    </div>
  </div>
</article>
<article id="start-conversation">
  <header class="intro">
    <h1>Starta ett samtal</h1>
    <div class="lead">
      <p>Ingen fråga är för liten eller för stor för att inte diskuteras. Vi svarar så snabbt vi kan.</p>
    </div>
  </header>
  <%= partial 'start_conversation' %>
</article>
