---
layout: docs
title: Design System for The Swedish Green Party
---
<div class="main-section">
  <article>
    <header class="intro">
      <h1>A Design System for The Swedish Green Party</h1>
      <div class="lead">
        <p>
          This design system is designed and built by <a href="http://oktavilla.se">Oktavilla</a> for <a href="http://www.mp.se">The Swedish Green Party</a>. It consists of three parts: the basics, components and page templates.
        </p>
      </div>
    </header>
    <div class="body">
      <div class="article-list article-list-pull-out">
        <div class="list-item">
          <h2>
            <a href="/basics.html">The Basics.</a>
          </h2>
          <p>A guide to basic typography, colour, iconography and mark-up styles.</p>
        </div>
        <div class="list-item">
          <h2>
            <a href="/components.html">Pattern Library.</a>
          </h2>
          <p>A pattern library of every reusable component made for this project.</p>
        </div>
        <div class="list-item">
          <h2>
            <a href="/pages/index.html">Pages.</a>
          </h2>
          <p>A collection of page templates that show how the components should be used in context.</p>
        </div>
      </div>
    </div>
  </article>
</div>
