---
layout: docs
title: Design System for The Swedish Green Party
---
<div class="main-section">
  <article>
    <header class="intro">
      <h1>Design System for The Swedish Green Party</h1>
      <div class="lead">
        <p>
          A collection of page templates that shows how the components should be used in context.
        </p>
      </div>
    </header>
    <div class="body">

    </div>
  </article>
</div>
