---
current_nav: about
title: Jämtland
url: http://www.mp.se/jamtland
---
<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <a href="/about.html">Om Miljöpartiet de gröna</a>
<% end %>
<div class="main-section">
  <article>
    <header class="intro">
      <h1>Jämtland ska vara en modern, mänsklig och miljövänlig region</h1>
      <div class="lead">
        <p>En grön omställning i Jämtland skapar fler jobb och företag, säkrar vår välfärd och visar ledarskap i miljöfrågorna. Levande demokrati, mångfald och lika rättigheter skapar en modern, pulserande storstad där alla människor får livskvalitet och nya livschanser.</p>
      </div>
    </header>

    <div class="illustration">
      <figure>
        <div>
          <img src="images/banners/living.jpg" alt="Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten">
        </div>
        <figcaption>
          <b>Nya bostäder på Frösön</b>
          Volupta tempero idercipsam aciendias qui totatec estint volorem alicatus.
        </figcaption>
      </figure>
    </div>

    <header class="section-vignette">
      <span class="section-vignette-intro">Våra prioriteringar</span>
    </header>

    <div class="topics">
      <div class="topic">
        <h2>
          <a href="/topic.html">Stoppa klimatkatastrofen med förnybar energi.</a>
        </h2>
        <p>Klimathotet är globalt, men alla utsläpp är lokala. Miljöpartiet i Jämtland vill bygga ett center för miljöteknik i Sveg, utveckla järnvägstrafiken och bryt olje- och fossilbränsleberoendet.</p>
        <p>Jämtland, med sin potential för förnybar energi, ska vara drivande i klimatomställningen.</p>
      </div>
      <div class="topic">
        <h2>
          <a href="/topic.html">Matriket Jämtland.</a>
        </h2>
        <p>Mat ska hänga samman med livskvalitet och god miljö. Vi vill ha mer ekologisk mat, kortare djurtransporter och småskaliga slakterier.</p>
      </div>
      <div class="topic">
        <h2>
          <a href="/topic.html">Grönare närmiljö.</a>
        </h2>
        <p>Vi vill skapa ett friluftsområde på Storsjö strand, återställa Storsjön vid Sölvbacka strömmar och värna om en miljö fri från giftiga kemikalier.</p>
      </div>
    </div>
  </article>

  <div class="speech-bubble">
    <div class="inner">
      <div class="vcard">
        <div class="org">
          <h2 class="fn organization-name">Miljöpartiet de Gröna Jämtlands län</h2>
          <p><em class="organization-unit">Medlems-, region- och partikansli</em></p>
        </div>
        <div class="main adr">
          <ul class="">
            <li class="street-address">Artillerigatan 8</li>
            <li>
            <span class="postal-code">831 35</span>
            <span class="locality">Östersund</span>
            </li>
            <li><a href="#" class="map">Visa på karta</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="aside">
          <ul>
            <li class="tel"><span class="type">Telefon:</span> <span class="value">063-124501</span></span></li>
            <li class="tel"><span class="type">Fax:</span> <span class="value">063-124502</span></span></li>
            <li>E-post <a href="mailto:jamtland@mp.se" class="email">jamtland@mp.se</a></li>
            <li>Plusgiro 1 57 01-6 (valfonden & gåvor)</li>
          </ul>
        </div>
      </div>

      <div class="vcard">
        <div class="org">
          <h2 class="fn organization-name">Miljöpartiet de Gröna Jämtlands län</h2>
          <p><em class="organization-unit">Landstingskansli</em></p>
        </div>
        <div class="main adr">
          <ul class="">
            <li class="street-address">Artillerigatan 8</li>
            <li>
            <span class="postal-code">831 35</span>
            <span class="locality">Östersund</span>
            </li>
            <li><a href="#" class="map">Visa på karta</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="aside">
          <ul>
            <li class="tel"><span class="type">Telefon:</span> <span class="value">063-124501</span></span></li>
            <li class="tel"><span class="type">Fax:</span> <span class="value">063-124502</span></span></li>
            <li>E-post <a href="mailto:jamtland@mp.se" class="email">jamtland@mp.se</a></li>
            <li>Plusgiro 1 57 01-6 (valfonden & gåvor)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-section main-section-cream">
  <article>
    <header>
      <h1>Aktuellt i Jämtland</h1>
    </header>

    <%= partial 'news' %>
  </article>
</div>

<div class="main-section main-section-green">
  <article>
    <h1>Nyckelpersoner</h1>

    <div class="people grid"><div class="container">
      <div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/karin-thomasson.jpg" alt="">
          <h2>Karin Thomasson</h2>
          <p>Kommunalråd</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/bosse-sall.jpg" alt="">
          <h2>Bosse Säll</h2>
          <p>Ordförande</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/owen-laws.jpg" alt="">
          <h2>Owen Laws</h2>
          <p>Gruppledare (Jämtland)</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/anna-hildebrand.jpg" alt="">
          <h2>Anna Hildebrand</h2>
          <p>Landstingsråd (Jämtland)</p>
        </a>
      </div>
    </div></div>
  </article>

  <article>
    <header class="intro">
      <h1>Landstingsfullmäktige</h1>
    </header>

    <div class="people grid"><div class="container">
      <div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/karin-thomasson.jpg" alt="">
          <h2>Karin Thomasson</h2>
          <p>Kommunalråd</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/bosse-sall.jpg" alt="">
          <h2>Bosse Säll</h2>
          <p>Ordförande</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="dynamic/people/owen-laws.jpg" alt="">
          <h2>Owen Laws</h2>
          <p>Gruppledare (Jämtland)</p>
        </a>
      </div>
    </div></div>
  </article>
</div>

<div class="main-section main-section-cream">
  <article>
    <h1>Frågor i Jämtland A-Ö</h1>
    <div class="labeled-list-container">
      <ol class="labeled-list">
        <% Topics.in_groups(17, true).each do |group, topics| %>
          <li class="group">
            <span class="label"><%= group %></span>
            <ol class="list">
              <% topics.each do |topic| %><li>
                <a href="#"><%= topic %></a>
              </li><% end %>
            </ol>
          </li>
        <% end %>
      </ol>
    </div>
  </article>

  <article>
    <h1>Kommuner i Jämtland</h1>
    <div class="labeled-list-container">
      <ol class="labeled-list text-labels">
        <li class="group">
        <ol class="list">
          <li>
            <a href="#" class="active">Berg</a>
          </li><li>
            <a href="#">Bräcke</a>
          </li><li>
            <a href="#">Härjedalen</a>
          </li><li>
            <a href="#">Krokom</a>
          </li><li>
            <a href="#">Ragunda</a>
          </li><li>
            <a href="#">Strömsund</a>
          </li><li>
            <a href="#">Åre</a>
          </li><li>
            <a href="#">Östersund</a>
          </li>
        </ol>
        </li>
      </ol>
    </div>
  </article>
</div>
