---
body_class: "html not-front not-logged-in no-sidebars page-user"
---
<nav class="tabs">
  <h2 class="element-invisible">Primära flikar</h2>
  <ul class="tabs primary">
    <li class="active">
      <a href="/user" class="active">
        Logga in<span class="element-invisible">(aktiv flik)</span>
      </a>
    </li>
    <li>
      <a href="/user/password">Begär nytt lösenord</a>
    </li>
  </ul>
</nav>
<form action="/user" method="post" id="user-login" accept-charset="UTF-8">
  <div>
    <div class="form-item form-type-textfield form-item-name">
      <label for="edit-name">Användarnamn <span class="form-required" title="Detta fält är obligatoriskt.">*</span></label>
      <input type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required" />
      <div class="description">Ange ditt användarnamn på Miljöpartiet de gröna.</div>
    </div>
    <div class="form-item form-type-password form-item-pass">
      <label for="edit-pass">Lösenord <span class="form-required" title="Detta fält är obligatoriskt.">*</span></label>
      <input type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" />
      <div class="description">Ange ett lösenord för ditt konto.</div>
    </div>
    <input type="hidden" name="form_build_id" value="form-QkMjnK8qxpWZSioUJ6jMc1_JmlDVfaBXnsa5cfk1oac" />
    <input type="hidden" name="form_id" value="user_login" />
    <div class="form-actions form-wrapper" id="edit-actions">
      <input type="submit" id="edit-submit" name="op" value="Logga in" class="form-submit" />
    </div>
  </div>
</form>

