---
current_nav: about
title: Östersund
url: http://www.mp.se/ostersund
---
<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <a href="/about.html">Om Miljöpartiet de gröna</a>
  <span>Östersund</span>
<% end %>
<article>
  <header class="intro">
    <h1>Östersund ska vara en modern, mänsklig och miljövänlig kommun</h1>
    <div class="lead">
      <p>En grön omställning i Östersund skapar fler jobb och företag, säkrar vår välfärd och visar ledarskap i miljöfrågorna. Levande demokrati, mångfald och lika rättigheter skapar en modern, pulserande storstad där alla människor får livskvalitet och nya livschanser.</p>
    </div>
  </header>
  <div class="illustration">
    <figure>
      <div>
        <img src="images/banners/living.jpg" alt="Torgmöte i samband med kongressen i Sundsvall 1982. Ulla Dahl håller tal. Foto: Åke Askensten">
      </div>
      <figcaption>
        <b>Nya bostäder på Frösön</b>
        Volupta tempero idercipsam aciendias qui totatec estint volorem alicatus.
      </figcaption>
    </figure>
  </div>
  <div class="topics">
    <div class="topic">
      <h2>
        <span class="number">1</span>
        <a href="/topic.html">Stoppa klimatkatastrofen med förnybar energi.</a>
      </h2>
      <p>Klimathotet är globalt, men alla utsläpp är lokala. Miljöpartiet i Östersund vill bygga ett center för miljöteknik i Sveg, utveckla järnvägstrafiken och bryt olje- och fossilbränsleberoendet.</p>
      <p>Östersund, med sin potential för förnybar energi, ska vara drivande i klimatomställningen.</p>
    </div>
    <div class="topic">
      <h2>
        <span class="number">2</span>
        <a href="/topic.html">Matriket Östersund.</a>
      </h2>
      <p>Mat ska hänga samman med livskvalitet och god miljö. Vi vill ha mer ekologisk mat, kortare djurtransporter och småskaliga slakterier.</p>
    </div>
    <div class="topic">
      <h2>
        <span class="number">3</span>
        <a href="/topic.html">Grönare närmiljö.</a>
      </h2>
      <p>Vi vill skapa ett friluftsområde på Storsjö strand, återställa Storsjön vid Sölvbacka strömmar och värna om en miljö fri från giftiga kemikalier.</p>
    </div>
  </div>

  <section class="article-section local">
    <header>
      <p class="section-lead">Även vår politik i <a href="/jamtland.html">Jämtland</a> påverkar så klart Östersund.</p>
    </header>

    <h2><a href="/jamtland.html" class="topic">Jämtland</a> Energismart byggande</h2>
    <p>Jämtland behöver investera för att hänga med i klimatomställningen. Vi vill bygga ett center för miljöteknik och förnybar energi i Sveg. Det skulle göra att hela regionen kan bygga mer energieffektivt.</p>
    <h3>Miljöpartiet i Jämtland vill</h3>
    <ul>
      <li>Satsa på energismart byggande</li>
      <li>Bygga ett center för miljöteknik i Sveg</li>
    </ul>
    <p><a href="#">Läs mer</a></p>
  </section>

  <section class="article-section">
    <header class="vignetted">
      <span class="vignette">Just nu</span>
      <p class="section-lead">Aktuellt i Östersund</p>
    </header>
    <%= partial 'news' %>
    <div class="fetch-more">
      <a href="#" class="action">Visa fler nyheter</a>
    </div>
  </section>

  <div class="speech-bubble">
    <div class="inner">
      <div class="vcard">
        <div class="org">
          <h2 class="fn organization-name">Miljöpartiet de Gröna Östersunds kommun</h2>
          <p><em class="organization-unit">Medlems- och kommunkansli</em></p>
        </div>
        <div class="main adr">
          <ul class="">
            <li class="street-address">Artillerigatan 8</li>
            <li>
              <span class="postal-code">831 35</span>
              <span class="locality">Östersund</span>
            </li>
            <li><a href="#" class="map">Visa på karta</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="aside">
          <ul>
            <li class="tel"><span class="type">Telefon:</span> <span class="value">063-124501</span></span></li>
            <li class="tel"><span class="type">Fax:</span> <span class="value">063-124502</span></span></li>
            <li>E-post <a href="mailto:jamtland@mp.se" class="email">jamtland@mp.se</a></li>
            <li>Plusgiro 1 57 01-6 (valfonden & gåvor)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="article-section">
    <header>
      <p class="section-lead">Nyckelpersoner i Östersund</p>
    </header>
    <div class="people grid"><div class="container">
      <div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/karin-thomasson.jpg" alt="">
          <h2>Karin Thomasson</h2>
          <p>Kommunalråd</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/bosse-sall.jpg" alt="">
          <h2>Bosse Säll</h2>
          <p>Ordförande</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/owen-laws.jpg" alt="">
          <h2>Owen Laws</h2>
          <p>Gruppledare (Östersund)</p>
        </a>
      </div><div class="column c3">
        <a href="/person.html">
          <img src="images/sketch/people/anna-hildebrand.jpg" alt="">
          <h2>Anna Hildebrand</h2>
          <p>Landstingsråd (Östersund)</p>
        </a>
      </div>
    </div></div>
  </section>

  <h2>Frågor i Östersund A-Ö</h2>
  <div class="labeled-list-container">
    <ol class="labeled-list">
    <% Topics.in_groups(17, true).each do |group, topics| %>
      <li class="group">
        <span class="label"><%= group %></span>
        <ol class="list">
        <% topics.each do |topic| %><li>
          <a href="#"><%= topic %></a>
        </li><% end %>
        </ol>
      </li>
    <% end %>
    </ol>
  </div>

  <div class="labeled-list-container">
    <ol class="labeled-list">
      <li class="group">
      <span class="label">Kommuner i Jämtland</span>
        <ol class="list">
          <li>
            <a href="#">Berg</a>
          </li><li>
            <a href="#">Bräcke</a>
          </li><li>
            <a href="#">Härjedalen</a>
          </li><li>
            <a href="#">Krokom</a>
          </li><li>
            <a href="#">Ragunda</a>
          </li><li>
            <a href="#">Strömsund</a>
          </li><li>
            <a href="#">Åre</a>
          </li><li>
            <a href="#">Östersund</a>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</article>


