<article>
  <div class="body">
    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/article.html">En artikel</a></li>
      <li>
        <a href="/topics.html">Vår politik</a>
        <ul>
          <li><a href="/topic.html">Bostad</a></li>
          <li><a href="/motion.html">En motion</a></li>
        </ul>
      </li>
      <li>
        <a href="/about.html">Om Miljöpartiet de gröna</a>
        <ul>
          <li><a href="/person.html">Åsa Romson</a></li>
          <li><a href="/jamtland.html">Jämtland</a></li>
        </ul>
      </li>
      <li>
        <a href="/conversations.html">Prata politik</a>
        <ul>
          <li><a href="/conversation.html">Ett samtal</a></li>
        </ul>
      </li>
      <li><a href="/speech-bubbles.html">Alla pratbubblor</a></li>
      <li><a href="/edit.html">Redigerbar sida</a></li>
    </ul>
  </div>
</article>
