<% content_for :head do %>
  <title>Åsa Romson</title>
<% end%>

<span class="breadcrumbs">Hem > Vårt parti</span> 

<h1>Åsa Romson</h1>
<div class="about">
  Språkrör för Miljöpartiet de gröna, tillsammans med Gustav Fridolin. Ledamot av Sveriges Riksdag sedan 2010.
</div>
<div class="images">
  <a href="#"><img src="http://placehold.it/290x240"></a>
</div>
<blockquote>
  <p>"Reinfeldt och Borg har skött klimatet som den grekiska regeringen skött ekonomin."</p>
</blockquote>

<div class="poi">
  <h2>Hjärtefrågor</h2>
  <ul>
    <li><a href="#">Jämställdhet.</a><p>därför tycker jag att...</p></li>
    <li><a href="#">Försurning.</a><p>därför tycker jag att...</p></li>
    <li><a href="#">Kollektivtrafik.</a><p>därför tycker jag att...</p></li>
  </ul>
</div>

<div class="contact">
  <h2>Kontakta mig</h2>
  <ul>
    <li><a mail="#">åsa.romson@mp.se</a></li>
    <li><tel>0707-123 45 67</tel></li>
    <li><a href="#">Blogg</a></li>
    <li><a href="#">Följ på Twitter</a></li>
    <li><a href="#">Följ på Facebook</a></li>
  </ul>
</div>

<div class="events">
  <h2>Aktuellt</h2>
  <ul>
    <li>Idag: </li>
    <li>16 april: </li> 
    <li>3 mars: </li>
  </ul>
  <small>
    <a href="/person">mer från Åsa Romson</a> 
  </small>
</div>





Tabbar: 
Personligt , Politiskt, CV


<div class="politicians">
  <h2> Andra i partistyrelsen </h2>
  <ul>
    <li><a href="#"> Max Andersson</a></li>
    <li><a href="#">Bodil Ceballos</a></li>
    <li><a href="#">Jonas Eriksson</a></li>
    <li><a href="#">Gustav Fridolin</a> </li>
    <li><a href="#">Daniel Helldén</a></li>
    <li><a href="#">Ann Merete Kapstad</a></li>
    <li><a href="#">Jon Karlfeldt</a></li>
    <li><a href="#">Akko Karlsson</a></li>
    <li><a href="#">Anna Norrman</a></li>
    <li><a href="#">Lennart Olsen</a></li>
    <li><a href="#">Yvonne Ruwaida</a></li>
    <li><a href="#">Karin Svensson Smith</a></li>
    <li><a href="#">Karin Thomasson</a></li>
    <li><a href="#">Helene Öberg</a></li>
  <ul> 
</div>
