---
title: Om Miljöpartiet de gröna
url: http://www.mp.se/sokresultat
layout: mp
---

<div class="main-section">
    <div class="search-header content-column">
      <form class="search-form" action="/search/site/bilar" method="post" id="search-form" accept-charset="UTF-8">
        <div>
          <div class="container-inline form-wrapper" id="edit-basic">
            <div class="form-item form-type-textfield form-item-keys">
              <label for="edit-keys">Sökord </label>
              <input type="text" id="edit-keys" name="keys" value="bilar" size="20" maxlength="255" class="form-text">
            </div>
            <input type="submit" id="edit-submit" name="op" value="Sök" class="form-submit"><input type="hidden" name="get" value="[]">
          </div>
          <input type="hidden" name="form_build_id" value="form-QaB95B8B21ex1eaEMc5xDx1XwKat5wVycxPOUo9iT4c">
          <input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
        </div>
      </form>
    </div>
<article>
  <h1>Sökresultat  </h1>
  <div class="article-list">
    <div class="list-item">
      <h2>
        <a href="http://test.mp.se/politik/bilar-och-bensinskatt">En klimathundring för att kunna köra bil i framtiden</a>
      </h2>

      <p>
      därför redan nu satsa på bränslesnålare <strong>bilar</strong>, mer klimatsmarta drivmedel och mycket mer kollektivtrafik. <strong>Bilar</strong> och bensinskatt Text:&nbsp; minska bilismen och fördubbla kollektivtrafiken, Text:&nbsp; höja bensinskatten ...  	</p>

      <span class="meta"> 17 okt 2012  	</span>
    </div>
    <div class="list-item">
      <h2>
        <a href="http://test.mp.se/nacka/kollektivtrafik">Mer kollektivtrafik och mindre bilar</a>
      </h2>

      <p>
      Framtidens trafiklösningar är kollektiva. Miljöpartiet i Nacka vill verka för att fler väljer att lämna bilen hemma och istället åker kollektivt eller cyklar. Vi vill ha tunnelbana, tvärbana och linbana till Nacka. Vi vill även satsa på snabbcykelbanor, m ...  	</p>

      <span class="meta">
        23 feb 2013  	</span>
    </div>
    <div class="list-item">
      <h2>
        <a href="http://test.mp.se/om/partiprogram/ekonomin">Ekonomin</a>
      </h2>

      <p>
      lokala transporter, och därför ska det finnas bränslesnålare <strong>bilar</strong> och också en väl utbyggd infrastruktur ...  	</p>

      <span class="meta">
        26 jun 2013  	</span>
    </div>
    <div class="list-item">
      <h2>
        <a href="http://test.mp.se/om/partiprogram/kapitel-7">Långsiktighet - allt hänger samman</a>
      </h2>

      <p>
      envishet. Efter 2015 anser vi att det inte ska vara tillåtet att tillverka och sälja nya <strong>bilar</strong> som drivs med ...  	</p>

      <span class="meta">
        27 nov 2012  	</span>
    </div>
  </div>
  <div class="list-item">
    <h2>
      <a href="http://test.mp.se/politik/trafik">Gör klimatsmart resande bättre och billigare</a>
    </h2>

    <p>
    Investeringar för ett starkt och hållbart transportsystem (Riksdagsmotion) Tåg och kollektivtrafik <strong>Bilar</strong> och ...  	</p>

    <span class="meta">
      30 jan 2013  	</span>
  </div>
  <div class="list-item">
    <h2>
      <a href="http://test.mp.se/politik/klimat">Sverige behöver klimatterapi</a>
    </h2>

    <p>
    eller Twitter <strong>Bilar</strong> och bensinskatt  ...  	</p>

    <span class="meta">
      17 sep 2012  	</span>
</div>
<div class="list-item">
  <h2>
    <a href="http://test.mp.se/politik/energi">Hundra procent förnybart</a>
  </h2>

  <p>
  vindkraft. Foto: Learnify (CC-BY-NC-SA) Rubrik:&nbsp; Vi vill göra det möjligt för fler <strong>Bilar</strong> och bensinskatt ...  	</p>

  <span class="meta">
    17 okt 2012  	</span>
</div>
<div class="list-item">
  <h2>
    <a href="http://test.mp.se/politik/tag-och-kollektivtrafik">Sverige förtjänar en tågtrafik som fungerar</a>
  </h2>

  <p>
  (Riksdagsmotion) Trafik Klimat <strong>Bilar</strong> och bensinskatt  ...  	</p>

  <span class="meta">
    29 okt 2012  	</span>
</div>
<div class="list-item">
  <h2>
    <a href="http://test.mp.se/politik/lands-och-glesbygd">Landsbygden behöver satsningar som skapar nya jobb</a>
  </h2>

  <p>
  miljarder på nya motorvägar i Stockholm samtidigt som järnvägen på landsbygden förfaller. <strong>Bilar</strong> och ...  	</p>

  <span class="meta">
    29 okt 2012  	</span>
</div>
<div class="list-item">
  <h2>
    <a href="http://test.mp.se/politik/ekonomi-och-skatter">Grön skatteväxling ger nya jobb och bättre miljö</a>
  </h2>

  <p>
  på koldioxid, kärnkraft och flygtrafik. Vi vill samtidigt sänka skatten för mer miljövänliga <strong>bilar</strong> ...  	</p>

  <span class="meta">
    30 okt 2012  	</span>
</div>
    </div>
</article>
<div class="content-column">
    <h2 class="element-invisible">Sidor</h2><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
  <li class="pager-item"><a title="Gå till sida 2" href="/search/site/bilar?page=1">2</a></li>
  <li class="pager-item"><a title="Gå till sida 3" href="/search/site/bilar?page=2">3</a></li>
  <li class="pager-item"><a title="Gå till sida 4" href="/search/site/bilar?page=3">4</a></li>
  <li class="pager-item"><a title="Gå till sida 5" href="/search/site/bilar?page=4">5</a></li>
  <li class="pager-item"><a title="Gå till sida 6" href="/search/site/bilar?page=5">6</a></li>
  <li class="pager-item"><a title="Gå till sida 7" href="/search/site/bilar?page=6">7</a></li>
  <li class="pager-item"><a title="Gå till sida 8" href="/search/site/bilar?page=7">8</a></li>
  <li class="pager-next"><a title="Gå till nästa sida" href="/search/site/bilar?page=1">nästa ›</a></li>
  <li class="pager-last last"><a title="Gå till sista sidan" href="/search/site/bilar?page=7">sista »</a></li>
  </ul></div>
</div>
</div>
