<% content_for :head do %>
  <title>Miljöpartiet de gröna</title>
<% end %>
<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <span>Bubblor</span>
<% end %>
<article>
<%= partial 'bubbles/localize' %>
<div class="speech-bubble">
  <div class="inner">
    <h2>Dela och diskutera denna sida</h2>
    <p>Starta ett politiskt samtal i dina nätverk, vår demokrati mår bra av det!</p>
    Kopiera länk: <input type="text" class="share" value="http://www.mp.se/ostersund/just-nu/fler-bostader-pa-areskutan">
  </div>
</div>

<div class="speech-bubble">
  <div class="inner">
    <div class="main">
      <h2>Helena Hellström Gefwert</h2>
      <ul>
        <li><a href="mailto:helena.gefwert@mp.se" class="email">helena.gefwert@mp.se</a></li>
        <li class="tel"><span class="value">08-7865662</span> <span class="type">(växel)</span></li>
        <li class="tel"><span class="value">08-7865661</span> <span class="type">(pressekreterare)</span></li>
      </ul>
    </div>
    <div class="aside">
      <ul>
        <li><a href="#">Blogg</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Google+</a></li>
      </ul>
    </div>
  </div>
</div>
<%= partial 'bubbles/follow' %>

<div class="speech-bubble vcard">
  <div class="inner">
    <h2>Miljöpartiet de Gröna Jämtlands län</h2>
    <p><em>Medlems-, region- och partikansli</em></p>
    <div class="main">
      <ul>
        <li class="address">Artillerigatan 8</li>
        <li>
        <span class="post_code">831 35</span>
        <span class="locality">Östersund</span>
        </li>
        <li><a href="#" class="map">Visa på karta</a></li>
      </ul>
    </div>
    <div class="aside">
      <ul>
        <li>Telefon: <span class="tel">063-124501</span></li>
        <li>Fax: <span class="fax">063-124502</span></li>
        <li>E-post <a href="mailto:jamtland@mp.se" class="email">jamtland@mp.se</a></li>
        <li>Plusgiro 1 57 01-6 (valfonden & gåvor)</li>
      </ul>
    </div>
  </div>
</div>

<div class="speech-bubble">
  <div class="inner">
    <div class="main">
      <h2>Engagera dig, bli medem!</h2>
      <p>Lorem ipsum dolore Ita eniae et, aut iunt et prest, ad mos a disciatecea voluptature.</p>
    </div>
    <div class="aside">
      <ul>
        <li><a href="#">Bli medlem</a></li>
        <li><a href="#">Ge en gåva</a></li>
        <li><a href="#">Sprid budskapet</a></li>
      </ul>
    </div>
  </div>
</div>

<%= partial 'start_conversation' %>
</article>

