---
body_class: "topic_page"
---

<% content_for :head do %>
  <title>Bostäder: 30 000 nya bostäder på 30m2 för 3000 SEK/mån till personer under 30 år</title>
<% end%>

<div class="intro">
  <h1>Trettitusen nya bostäder för tretusen i månaden till våra unga</h1>
  <div class="lead">
    <p>När bostadsbristen ökar drabbas ungdomar och studenter först. Därför vill Miljöpartiet öka bostadsbyggandet med 30&nbsp;000 extra yt-, kostnads-, och energieffektiva hyresrätter till 2018.</p>
  </div>
</div>
<div class="illustration">
  <figure>
    <div class="embedded_video">
      <img src="http://placehold.it/640x360" alt="">
    </div>
    <figcaption><b>Moderna hus.</b> När bostadsbristen ökar drabbas ungdomar och studenter först. Här är två minyet film om hur vi vill bygga i framtiden.</figcaption>
  </figure>
</div>
<div class="body">
  <h2>Miljöpartiet vill</h2>
  <ul>
    <li>Skapa ett nationellt kunskapscentrum, Bo bra på yngre dar, med uppdrag att öka bostadsbyggandet med minst 30 000 yt-, energi- och kostnadseffektiva hyresrätter till 2018</li>
    <li>Ge kommunerna tydligare ansvar och mindre byggföretag goda förutsättningar att konkurrera på lika villkor</li>
    <li>Frigör kapital till investeringar i bostäder och fastigheter</li>
  </ul>

  <blockquote>
    <p>Det finns starka skäl att prioritera bostäder till unga. Det är främst de som inte kommer in på bostadsmarknaden idag.</p>
    <small>
      <a href="/person"><img src="http://placehold.it/50x50" alt=""> Åsa Romson</a>, språkrör och ansvarig för bopolitik
    </small>
  </blockquote>

  <div class="article">
    <p>Miljöpartiets förslag stimulerar fram produktutveckling, frigör kapital till investeringar, tar bort regler som begränsar och ökar samarbetet mellan bostadsmarknadens parter.</p>
  </div>

  <div class="share">
    <h2>Hjälp oss sprida vår politik!</h2>
    <ul>
      <li><a href="http://facebook.com">Facebook</a></li>
      <li><a href="http://twitter.com">Twitter</a></li>
      <li><a href="#">Fler</a></li>
      <li><a href="http://flattr.com">Flattr</a></li>
    </ul>
  </div>

  <div class="deepening">
    <h2>Fördjupning</h2>
    <ul>
      <li><a href="#">PM: 30 000 bostäder för unga (PDF)</a></li>
      <li><a href="#">Om förslaget ”30 000 bostäder för unga” i SvD</a></li>
      <li><a href="#">Debatt: Friare kapitalregler ger fler bostäder</a></li>
    </ul>
  </div>
</div>

<div class="local">
  <h2><span class="vignette">Östersund:</span> Bostäder för unga och studenter</h2>
  <p>Östersund behöver nya bostäder för unga och studenter. Vi vill bygga nya billiga lägenheter och satsa på hållbara stadsdelar/byar i Storsjö strand, Remonthagen och Norderön. <a href="#">Läs mer</a></p>
  <h3>Miljöpartiet i Östersund vill</h3>
  <ul>
    <li>Bygga bostäder för unga/studenter</li>
    <li>Bygga hållbara stadsdelar/byar</li>
  </ul>
  <p><a href="#">Miljöpartiet i Östersund</a></p>
</div>
<div class="local">
  <h2><span class="vignette">Jämtland:</span> Energismart byggande</h2>
  <p>Jämtland behöver investera för att hänga med i klimatomställningen. Vi vill bygga ett center för miljöteknik och förnybar energi i Sveg. Det skulle göra att hela regionen kan bygga mer energieffektivt. <a href="#">Läs mer</a></p>
  <h3>Miljöpartiet i Jämtland vill</h3>
  <ul>
    <li>Satsa på energismart byggande</li>
    <li>Bygga ett center för miljöteknik i Sveg</li>
  </ul>
  <p><a href="#">Miljöpartiet i Jämtland</a></p>
</div>

<div class="current">
  <h2>Aktuellt om bostäder</h2>
  <ul>
    <li><span class="date">Idag</span> <a href="#">Miljö- och friluftsstaden (Östersund)</a></li>
    <li><span class="date">16 april</span> <a href="#">Bostadslånen - en skuldfälla (DN.se)</a></li>
    <li><span class="date">3 mars</span> <a href="#">Energismartare byggnorm (SvD.se)</a></li>
  </ul>
  <p><a href="#">Mer aktuellt om bostäder</a></p>
</div>
<div class="calendar">
  <h2>Gröna kalendern</h2>
  <ul>
    <li>
      <a href="#">Ekonomiskt seminarium om bolånen</a>
      <span class="date">Söndag 27:e maj</span>
    </li>
  </ul>
</div>
<div class="conversations">
  <h2>Samtal om bostäder</h2>
  <ul>
    <li>
      <a href="#">Bolån - en skuldfälla?</a>
    </li>
    <li>
      <a href="#">Klimatsmart boende på Norderön</a>
    </li>
  </ul>
</div>
<div class="topics">
  <h2>Se även</h2>
  <ul>
    <li>
      <img src="http://placehold.it/100x100" alt="">
      <h3><a href="#">Äldres boende</a></h3>
      <p>Boendefrågan är central för att få en äldreomsorg som är anpassad efter individens önskemål. Vi vill skapa former för att underlätta möjligheterna till individuella lösningar på äldreboendet.</p>
    </li>
    <li>
      <img src="http://placehold.it/100x100" alt="">
      <h3><a href="#">Boinflytande</a></h3>
      <p>Människor ska ha mycket stora möjligheter till inflytande och kontroll av sina hem, oavsett vilken typ av boende de har.</p>
    </li>
    <li>
      <img src="http://placehold.it/100x100" alt="">
      <h3><a href="#">Stadsplanering</a></h3>
      <p>En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett snålt resursnyttjande och liten markexploatering. För att få en levande stad och för att trafiken ska kunna minska är det bra om bostäder, arbete, dagis, skola och affärer ligger nära varandra.</p>
    </li>
  </ul>
</div>