---
current_nav: topics
---
<% content_for :head do %>
  <title>Bostäder: 30 000 nya bostäder på 30m2 för 3000 SEK/mån till personer under 30 år</title>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <a href="/topics.html">Vår politik</a>
  <span>Bostad</span>
<% end %>

<article>
  <header class="intro">
    <h1>Trettitusen nya bostäder för tretusen i månaden till våra unga</h1>
    <div class="lead">
      <p>När bostadsbristen ökar drabbas ungdomar och studenter först. Därför vill Miljöpartiet öka bostadsbyggandet med 30&nbsp;000 extra yt-, kostnads-, och energieffektiva hyresrätter till 2018.</p>
    </div>
  </header>
  <div class="illustration">
    <figure>
      <div>
        <div class="embedded-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/28932766?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <figcaption><b>Moderna hus.</b> När bostadsbristen ökar drabbas ungdomar och studenter först. Här är två minuter film om hur vi vill bygga i framtiden.</figcaption>
    </figure>
  </div>
  <div class="body">
    <h2>Miljöpartiet vill</h2>
    <ul>
      <li>Skapa ett <a href="#">nationellt kunskapscentrum</a>, Bo bra på yngre dar, med uppdrag att öka bostadsbyggandet med minst 30 000 yt-, energi- och kostnadseffektiva hyresrätter till 2018</li>
      <li>Ge kommunerna tydligare ansvar och mindre byggföretag goda förutsättningar att konkurrera på lika villkor</li>
      <li>Frigör kapital till investeringar i bostäder och fastigheter</li>
    </ul>

    <blockquote>
      <p>Det finns starka skäl att prioritera bostäder till unga. Det är främst de som inte kommer in på bostadsmarknaden idag.</p>
      <footer>
        <a href="/person">
          <img src="/images/sketch/asa_145x145.png" alt="">
          <p>
            <span class="name">Åsa Romson</span>,
            <span class="title">språkrör och riksdagsledamot sedan 2003</span>
          </p>
        </a>
      </footer>
    </blockquote>

    <p>Miljöpartiets förslag stimulerar fram produktutveckling, frigör kapital till investeringar, tar bort regler som begränsar och ökar samarbetet mellan bostadsmarknadens parter.</p>
    <p>Samtidigt vill vi se till så att man bygger på ett ekologiskt hållbart sätt och att bostäderna blir energieffektiva. Vi vill underlätta för invånarna i kommunen och de som har stort behov av att finna bostad. Hyresrätter ska i huvudsak fördelas av kommunala bostadsförmedlingar.</p>

    <p>I dag är efterfrågan stor på billiga smålägenheter. Boendet och uthyrningen av rum ska inte beskattas, men väl bostädernas miljöbelastning och vinst vid försäljning.</p>

    <p>Segregation i bostadsområden skapar ett tydligt utanförskap. Vi vill förändra detta genom färre ensidigt byggda bostadsmiljöer och fler varierande bostadsområden med olika slags hustyper och upplåtelseformer.</p>

    <p>Det är viktigt med bostadsområden som präglas av hög grad av självförvaltning och god tillgång till såväl naturmiljöer och fritidsaktiviteter.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adip*isicing elit, sed do eiusmod *tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>


  <section class="article-section local">
    <header>
      <p class="section-lead">Här visar vi lokal politik från <a href="">Östersund</a> och <a href="">Jämtland</a>. Du kan enkelt <a href="">ändra kommun</a> om du vill.</p>
    </header>

    <h2><a href="#" class="topic">Östersund</a> Bostäder för unga och studenter</h2>
    <p>Östersund behöver nya bostäder för unga och studenter. Vi vill bygga nya billiga lägenheter och satsa på hållbara stadsdelar/byar i Storsjö strand, Remonthagen och Norderön.</p>
    <h3>Miljöpartiet i Östersund vill</h3>
    <ul>
      <li>Bygga bostäder för unga/studenter</li>
      <li>Bygga hållbara stadsdelar/byar</li>
    </ul>

    <h2><a href="#" class="topic">Jämtland</a> Energismart byggande</h2>
    <p>Jämtland behöver investera för att hänga med i klimatomställningen. Vi vill bygga ett center för miljöteknik och förnybar energi i Sveg. Det skulle göra att hela regionen kan bygga mer energieffektivt.</p>
    <h3>Miljöpartiet i Jämtland vill</h3>
    <ul>
      <li>Satsa på energismart byggande</li>
      <li>Bygga ett center för miljöteknik i Sveg</li>
    </ul>
  </section>

  <section class="article-section deepening">
    <header></header>
    <h2>Fördjupning i ämnet bostad</h2>
    <ul>
      <li>PM: <a href="#">30 000 bostäder för unga</a> (PDF)</li>
      <li><a href="#">Om förslaget ”30 000 bostäder för unga”</a> i SvD</li>
      <li>Debatt: <a href="#">Friare kapitalregler ger fler bostäder</a></li>
    </ul>
  </section>

  <div class="speech-bubble">
    <h2>Diskutera detta ämne med dina kompisar/kollegor/grannar…</h2>
    <p>Direktlänk till denna sida: <a href="/topic.html">http://mp.se/vill/bostad</a></p>
  </div>

  <section class="article-section current-topics">
    <header class="vignetted">
      <span class="vignette">Just nu</span>
      <p class="section-lead">Aktuellt inom ämnet bostad. Visa <a href="#">andra ämnen</a></p>
    </header>
    <div class="article-subsection news-blocks">
      <ul class="icon-list">
        <li>
          <a href="">
            <img src="http://placehold.it/35x35" alt="" class="icon">
            Bostadslånen - en skuldfälla
            <span class="meta">
              Idag, aftonbladet.se
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="http://placehold.it/35x35" alt="" class="icon">
            Rusta upp miljonprogrammen nu
            <span class="meta">Torsdag 14 juni, svd.se</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="http://placehold.it/35x35" alt="" class="icon">
            Miljö- och friluftsstaden
            <span class="meta">
              Carl Schytter, 23 sep 2011, mp.se
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="article-subsection calendar">
      <ul class="icon-list">
        <!-- event, using hCalender microformat -->
        <li class="vevent">
          <a href="#">
            <span class="icon">5</span>
            <span class="summary">Ekonomiskt seminarium om bolånen</span>
            <span class="meta">
              <time datetime="2012-05-27T13:00" class="dtstart">
              <span class="value-title" title="2012-05-27T13:00"> </span>
              Söndag 27 maj 13.00
              </time>
              &ndash;
              <time datetime="2012-05-27T15:00" class="dtend">
              <span class="value-title" title="2012-05-27T15:00"> </span>
              15.00
              </time>
              , <span class="location">Folkets Hus, Östersund</span>
            </span>
          </a>
        </li>
        <!-- /event -->
        <li class="vevent">
          <a href="#">
            <span class="icon">6</span>
            <span class="summary">Åsa Romson debatterar bostadsbristen i SVT Agenda, se det på Kanal 1 på söndag</span>
            <span class="meta">
            <time datetime="2012-06-23T21:15" class="dtstart">
              <span class="value-title" title="2012-06-23T21:15"> </span>
              Söndag 23 juni 21.15
            </time>
            &ndash;
            <time datetime="2012-06-23T22:00" class="dtend">
              <span class="value-title" title="2012-06-23T22:00"> </span>
              22.00
              </time>
            </span>
          </a>
        </li>
        <!-- whole day event -->
        <li class="vevent">
          <a href="#">
            <span class="icon">22</span>
            <span class="summary">Lansering av nya mp.se</span>
            <span class="meta">
              <span class="date" class="dstart">Torsdag 22 maj
              <time datetime="2012-05-22" class="dtstart dtend">
                <span class="value-title" title="2012-05-22"> </span>
                hela dagen
              </time>
              ,
              <span class="location">Oktavilla, Stockholm</span>
            </span>
          </a>
        </li>
        <!-- /event -->
      </ul>
    </div>
  </section>

    <section class="article-section conversations">
      <header>
      <p class="section-lead">
        <a href="#">Ställ din egen fråga</a> eller <a href="#">läs andra politiska samtal</a>.
      </p>
      </header>

      <div class="conversation">
        <div class="question">
          <div class="content">
            <p>
              Hur ställer ni gröna partier er till landsbygdsinfrastruktur
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p>Fredrika Gullfor (@gullfot) på twitter</p>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="answer">
          <div class="content">
            <p>
              En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
            </p>
          </div>
          <div class="byline">
            <img src="http://placehold.it/48x48" alt="">
            <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
    </section>

  <section class="article-section related-topics">
    <header class="vignetted">
      <span class="vignette">Läs mer</span>
      <p class="section-lead">Andra ämnen som relaterar till bostad</p>
    </header>
    <h2><a href="">100 kvadratmeter för 100 kr åt alla hundraåringar!</a></h2>
    <img src="http://placehold.it/90x90" alt="">
    <p>Boendefrågan är central för att få en äldreomsorg som är anpassad efter individens önskemål. Vi vill skapa former för att underlätta möjligheterna till individuella lösningar på äldreboendet.</p>

    <h2><a href="">Stadsplanera bort massbilismen</a></h2>
    <img src="http://placehold.it/90x90" alt="">
    <p>En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett snålt resursnyttjande och liten markexploatering. För att få en levande stad och för att trafiken ska kunna minska är det bra om bostäder, arbete, dagis, skola och affärer ligger nära varandra.</p>

    <h2><a href="">Boinflyttande är inte samma sak som bostadsrätt</a></h2>
    <p>Människor ska ha mycket stora möjligheter till inflytande och kontroll av sina hem, oavsett vilken typ av boende de har.</p>
  </section>
</article>
