---
current_nav: topics
---

<% content_for :breadcrumbs do %>
  <a href="/">Hem</a>
  <span>Vår politik</a>
<% end %>

<article>
  <%= partial "main_topics" %>
  <section class="article-section local">
    <header>
      <p class="section-lead">Här visar vi lokal politik från <a href="#">Östersund</a> och <a href="">Jämtland</a>. Du kan enkelt <a href="">ändra kommun</a> om du vill.</p>
    </header>

    <h2><a href="#" class="topic">Östersund</a> En ekologisk kommun mitt i sameland</h2>
    <ol>
      <li>
        <h3><a href="#">En skola för livet.</a></h3>
        <p>Miljöpartiet i Östersund vill ge de kommunala skolorna större pedagogisk frihet och satsa på matkvalitén i skolan. Vi vill anpassa barnomsorgen efter familjers behov och ha mindre barngrupper i förskolan.</p>
      </li>
      <li>
        <h3><a href="#">Ungdomarnas situation.</a></h3>
        <p>Kommunens satsning på ”Mötesplatser unga” ska utvecklas vidare. Vi vill också bygga boende för ungdomar/studenter, stärka arbetet mot droger och skapa satsa på praktikplatser och jobb för unga.</p>
      </li>
      <li>
        <h3><a href="#">Ungdomarnas situation.</a></h3>
        <p>Kommunens satsning på ”Mötesplatser unga” ska utvecklas vidare. Vi vill också bygga boende för ungdomar/studenter, stärka arbetet mot droger och skapa satsa på praktikplatser och jobb för unga.</p>
      </li>
    </ol>

    <h2><a href="#" class="topic">Jämtland</a> Ett livskraftigt Jämtland</h2>
    <ol>
      <li>
        <h3><a href="#">Stoppa klimatkatastrofen med förnybar energi.</a></h3>
        <p>Klimathotet är globalt, men alla utsläpp är lokala. Miljöpartiet i Jämtland vill bygga ett center för miljöteknik i Sveg, utveckla järnvägstrafiken och bryt olje- och fossilbränsleberoendet. Jämtland, med sin potential för förnybar energi, ska vara drivande i klimatomställningen.</p>
      </li>
      <li>
        <h3><a href="#">Matriket Jämtland.</a></h3>
        <p>Mat ska hänga samman med livskvalitet och god miljö. Vi vill ha mer ekologisk mat, kortare djurtransporter och småskaliga slakterier.</p>
      </li>
      <li>
        <h3><a href="#">Grönare närmiljö.</a></h3>
        <p>Vi vill skapa ett friluftsområde på Storsjö strand, återställa Storsjön vid Sölvbacka strömmar och värna om en miljö fri från giftiga kemikalier.</p>
      </li>
    </ol>
  </section>

  <section class="article-section current-topics">
    <header class="vignetted">
      <span class="vignette">Just nu</span>
      <p class="section-lead">Aktuella frågor i den politiska debaten</p>
    </header>

    <h2><a href="#">Sverige kan stoppa barnfattigdomen</a></h2>
    <p>Mer än vart tionde barn är fattigt i Sverige. Miljöpartiet föreslår en nationell handlingsplan för att minska barnfattigdom.</p>

    <h2><a href="#">Sverige ska inte beväpna diktaturer</a></h2>
    <p>Vi vill stoppa svensk vapenexport, i första hand till odemokratiska länder. Sverige ska inte beväpna diktaturer.</p>

    <h2><a href="#">Mångfald och kvalitet i skolan</a></h2>
    <p>Miljöpartiet vill ha en skola som präglas av hög kvalitet och pedagogisk mångfald. Vi tycker att det är viktigt att skapa goda förutsättningar för olika profiler och inriktningar.</p>
  </section>

  <section class="article-section related-topics">
    <header class="vignetted">
      <span class="vignette">Läs mer</span>
      <p class="section-lead">Aktuella frågor i den politiska debaten</p>
    </header>

    <h2>Ideologi</h2>
    <p>Miljöpartiets historia och grundvärderingar. Genis es dolor aborest, et ento qui cupta doluptate veligent a nemperum et reneces moloritat veribus aperum reperum quia debitatem nossitissum esserio opti ommolec uptatis cidendam, que parchil igenditiam doluptatium.</p>
    <ul>
      <li><a href="#">Ideologi</a><li>
      <li><a href="#">Partiprogram</a><li>
      <li><a href="#">Historia</a><li>
    </ul>
  </section>
</article>

<nav>
  <h1>Alla frågor A-Ö</h1>
  <form class="speech-bubble" action="/search/topics" method="get">
    <div class="search">
      <input type="search" placeholder="Sök fråga">
      <button type="input">Sök</button>
    </div>
  </form>
  <div id="topics">
    <ol class="labeled-list">
    <% Topics.in_groups.each do |group, topics| %>
      <li class="group">
        <span class="label"><%= group %></span>
        <ol class="list">
        <% topics.each do |topic| %><li>
          <a href="#"><%= topic %></a>
        </li><% end %>
        </ol>
      </li>
    <% end %>
    </ol>
  </nav>
</nav>
